<ion-card class="cruds-cart">
  <ion-card-content>
    <p><strong>Nombre: </strong>{{ name }}</p>
    <p><strong>Estado: </strong>{{ status ? 'Público' : 'Oculto' }}</p>
    <p><strong>Descripción: </strong>{{ description }}</p>
    <ion-row>
      <ion-col size="6" class="container-btn-card">
        <ion-button color="warning" (click)="openModal(categoryId, name, description, status)">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="6" class="container-btn-card">
        <ion-button color="danger" (click)="presentAlertConfirm(categoryId)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
