ion-card {
  color: black;
  border-radius: 20px;

  .container-name {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: bold;
    width: 100%;


  }

  .price {
    color: var(--ion-color-primary);
    font-weight: bold;
    font-size: 18px;

  }

  ion-card-content {
    width: 100%;

    p {
      margin-top: 8px;
    }

  }

  ion-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px;
  }
}




ion-avatar {
  width: 100px;
  height: 100px;

  img {
    width: 100%;
  }

}

.container-card {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
}



.msg-delete {
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;

  p {
    margin: 3px;
  }

  ion-icon {
    font-size: 23px;
  }
}
