<div class="container-card">
  <ion-card (click)="navigateToDetailProduct()">
    <ion-row>
      <ion-col size="4">
        <ion-card-header>
          <ion-avatar>
            <img src="{{ product?.image }}" />
          </ion-avatar>
        </ion-card-header>
      </ion-col>

      <ion-col size="8">
        <ion-card-content>
          <div class="container-name">
            <h1>{{ product?.name }}</h1>
          </div>
          <p>
            <strong>Precio inicial: </strong>
            <ion-label class="price">${{ product?.price }}</ion-label>
          </p>
          <p><strong>Fecha inicio: </strong> {{ product?.dateStart | date: 'dd/MM/yyyy' }}</p>
          <p><strong>Fecha fin: </strong> {{ product?.dateEnd | date: 'dd/MM/yyyy' }}</p>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-row class="msg-delete" *ngIf="product?.userId === userUid">
    <p>Deslice para eliminar la puja</p>
    <ion-icon name="arrow-back-circle-outline"></ion-icon>
  </ion-row>
</div>
