<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <!--   <ion-back-button slot="start" defaultHref="home/home-jobs"></ion-back-button> -->
    <ion-buttons>
      <ion-button slot="start" (click)="goToHomeJobs()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title>Panel de empleos</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="10">
      <app-panel-card
        image="../../../../assets/images/my-postulations.png"
        name="Mis postulaciones"
        url="/home/home-jobs/panel-client/postulations-client"
      ></app-panel-card>
    </ion-col>

    <ion-col size="10">
      <app-panel-card
        image="../../../../assets/images/curriculum-vitae.png"
        name="Mi hoja de vida"
        (click)="gotToCurriculumVitae()"
      ></app-panel-card>
    </ion-col>
  </ion-row>
</ion-content>
