<app-secondary-header
  name="Pedidos completados"
  url="home/home-store/panel-store"
  [info]="true"
  infoMessage="En esta sección podrá ver todos los pedidos completados."
></app-secondary-header>

<ion-row>
  <ion-col size="12">
    <ion-searchbar
      placeholder="Buscar orden por nombre de cliente"
      inputmode="text"
      (ionChange)="onSearchChange($event)"
      [debounce]="250"
      mode="md"
      animated
    ></ion-searchbar>
  </ion-col>
</ion-row>

<ion-content>
  <div *ngIf="orderMasters?.length === 0">
    <ion-row class="container-msg">
      <img src="../../../../assets/images/no-subscriptions.png" alt="" />
      <div class="container-info">
        <h1>Aun no se han completado pedidos</h1>
      </div>
    </ion-row>
  </div>

  <app-order-card
    *ngFor="let orderMaster of orderMasters | filtroObject:searchText:'client.name' "
    [orderMaster]="orderMaster"
    typeUser="client"
  ></app-order-card>
</ion-content>
