<app-secondary-header name="Editar banner" url="/home/panel-admin/advertising-banners/">
</app-secondary-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (onSubmit)="updateBanner()">
    <div class="container-crud-img">
      <ion-item lines="none">
        <div class="crud-img" style="background-image: url({{form.controls.image.value}});">
          <ion-button> Subir imagen </ion-button>
        </div>
        <ion-input
          type="file"
          accept="image/png, image/jpeg"
          id="file-input"
          (change)="uploadImageTemporary($event)"
        ></ion-input>
      </ion-item>
    </div>
    <div class="container-inputs">
      <ion-label class="label ion-text-uppercase" position="stacked">NOMBRE</ion-label>
      <ion-item>
        <ion-input name="name" type="text" formControlName="name"></ion-input>
      </ion-item>
    </div>
    <div class="container-inputs">
      <ion-label class="label ion-text-uppercase">DESCRIPCIÓN</ion-label>
      <ion-item>
        <ion-textarea formControlName="description"></ion-textarea>
      </ion-item>
    </div>
    <div class="container-select">
      <ion-label class="label ion-text-uppercase">Módulo</ion-label>
      <ion-item>
        <ion-select
          formControlName="module"
          cancelText="Cancelar"
          okText="Aceptar"
        >
          <ion-select-option value="delivery"><span>Delivery</span></ion-select-option>
          <ion-select-option value="marketplace"><span>Marketplace</span></ion-select-option>
          <ion-select-option value="online-store"><span>Tienda online</span></ion-select-option>
          <ion-select-option value="employment-exchange"
            ><span>Bolsa de empleos</span></ion-select-option
          >
        </ion-select>
      </ion-item>
    </div>
    <div class="container-select">
      <ion-label class="label ion-text-uppercase">ESTADO</ion-label>
      <ion-item>
        <ion-select formControlName="status" cancelText="Cancelar" okText="Aceptar">
          <ion-select-option value="{{true}}" selected><span>Público</span></ion-select-option>
          <ion-select-option value="{{false}}"><span>Oculto</span></ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <div class="container-btn">
      <ion-button class="btn" (click)="updateBanner()" [disabled]="!form.valid"> Guardar </ion-button>
    </div>
  </form>
</ion-content>
