<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" autoHide="false" (click)="openMenu()"></ion-menu-button>
    </ion-buttons>
    <ion-title>Saliendo de la aplicación</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-text>
    <div class="ion-text-center">
      <h1>¿Está seguro de esto?</h1>
    </div>
  </ion-text>
  <ion-img src="assets/images/sadBoy.png"></ion-img>
  <ion-row>
    <ion-col>
      <div class="ion-text-center container-btn">
        <ion-button (click)="logoutUser()" class="btn">
          <ion-icon name="log-in-outline" slot="start"></ion-icon>
          Salir
        </ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
