<app-secondary-header
  name="Gestión de productos"
  url="/home/home-marketplace/panel-marketplaces"
  [info]="true"
  infoMessage="En esta sección podrá ingresar sus productos y se mostraran en la sección de marketplace."
></app-secondary-header>

<ion-content class="ion-padding">
  <ion-row class="container-crud-img">
    <ion-item lines="none">
      <div class="crud-img" style="background-image: url({{product.image}});">
        <ion-button> Subir imagen </ion-button>
      </div>
      <ion-input
        type="file"
        accept="image/png, image/jpeg"
        id="file-input"
        (change)="uploadImageTemporary($event)"
      ></ion-input>
    </ion-item>
  </ion-row>

  <div class="container-inputs">
    <ion-label class="label ion-text-uppercase" position="stacked">NOMBRE</ion-label>
    <ion-item>
      <ion-input name="user" type="text" [(ngModel)]="product.name"></ion-input>
    </ion-item>
  </div>

  <div class="container-inputs">
    <ion-label class="label ion-text-uppercase" position="stacked">PRECIO</ion-label>
    <ion-item>
      <ion-input
        type="number"
        pattern="[0-9]{11,14}"
        required
        min="10"
        max="13"
        [(ngModel)]="product.price"
      ></ion-input>
    </ion-item>
  </div>

  <div class="container-select">
    <ion-label class="label ion-text-uppercase">CATEGORÍAS</ion-label>
    <ion-item>
      <ion-select
        name="gender"
        cancelText="Cancelar"
        name="role"
        value="client"
        okText="Aceptar"
        [(ngModel)]="product.category"
      >
        <div *ngFor="let category of categories; let i = index">
          <ion-select-option value="{{category.name}}">{{category.name}}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>
  </div>

  <div class="container-inputs">
    <ion-label class="label ion-text-uppercase">DESCRIPCIÓN</ion-label>
    <ion-item>
      <ion-textarea [(ngModel)]="product.description"></ion-textarea>
    </ion-item>
  </div>
  <div class="container-select">
    <ion-label class="label ion-text-uppercase">Tipo de venta</ion-label>
    <ion-item>
      <ion-select
        name="gender"
        cancelText="Cancelar"
        name="role"
        value="client"
        [(ngModel)]="product.typeOfSale"
        okText="Aceptar"
      >
        <ion-select-option value="Venta"><span>Venta</span></ion-select-option>
        <ion-select-option value="Trueque"><span>Trueque</span></ion-select-option>
        <ion-select-option value="Subasta"><span>Subasta</span></ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <div class="container-inputs" *ngIf="product.typeOfSale=='Subasta'">
    <ion-label class="label ion-text-uppercase" position="stacked">FECHA DE INICIO</ion-label>

    <ion-item>
      <ion-datetime
        cancelText="Cancelar"
        doneText="Aceptar"
        [(ngModel)]="product.dateStart"
        [dayShortNames]="customDayShortNames"
        displayFormat="DDD.  DD MMM, YYYY"
        monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
      >
      </ion-datetime>
    </ion-item>
  </div>
  <div class="container-inputs" *ngIf="product.typeOfSale=='Subasta'">
    <ion-label class="label ion-text-uppercase" position="stacked">FECHA DE FIN</ion-label>

    <ion-item>
      <ion-datetime
        cancelText="Cancelar"
        doneText="Aceptar"
        [(ngModel)]="product.dateEnd"
        [dayShortNames]="customDayShortNames"
        displayFormat="DDD.  DD MMM, YYYY"
        monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
      >
      </ion-datetime>
    </ion-item>
  </div>

  <div class="container-select">
    <ion-label class="label ion-text-uppercase">ESTADO</ion-label>
    <ion-item>
      <ion-select
        name="gender"
        [(ngModel)]="product.isActive"
        cancelText="Cancelar"
        name="role"
        value="client"
        okText="Aceptar"
      >
        <ion-select-option value="true"><span>Público</span></ion-select-option>
        <ion-select-option value="false"><span>Oculto</span></ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <ion-row class="container-btn">
    <ion-button class="btn" (click)="addProduct()"> Guardar </ion-button>
  </ion-row>

  <ion-row>
    <ion-searchbar
      placeholder="Filtrar producto por nombre"
      inpudtmode="text"
      type="decimal"
      (ionChange)="onSearchChange($event)"
      [debounce]="250"
      mode="md"
      animated
    ></ion-searchbar>
  </ion-row>
  <ion-segment [(ngModel)]="selectedAction" (click)="selectedActionChange($event)">
    <ion-segment-button value="Venta">
      <ion-icon name="bag-sharp"></ion-icon>
      <ion-label>Venta</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Trueque">
      <ion-label>Trueque</ion-label>
      <ion-icon name="repeat-sharp"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="Subasta">
      <ion-label>Subasta</ion-label>
      <ion-icon name="ribbon-sharp"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <div *ngFor="let data of products| filtro:searchText:'name'">
    <ion-card class="cruds-cart">
      <ion-card-header>
        <ion-img src="{{data.image}}"></ion-img>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Nombre: </strong>:{{data.name}}</p>
        <p><strong>Precio: </strong>:${{data.price}}</p>
        <p><strong>Categoría: </strong>{{data.category}}</p>
        <p><strong>Tipo de venta: </strong>{{data.description }}</p>
        <p><strong>Descripción: </strong>{{data.typeOfSale }}</p>
        <p *ngIf="data.typeOfSale=='Subasta'">
          <strong>Fecha de inico: </strong>{{data.dateStart | date:'dd/mm/yyy' }}
        </p>
        <p *ngIf="data.typeOfSale=='Subasta'">
          <strong>Fecha de fin: </strong>{{data.dateEnd | date:'dd/mm/yyy'}}
        </p>
        <p *ngIf="data.isActive=='true'"><strong>Estado: </strong>Público</p>
        <p *ngIf="data.isActive=='false'"><strong>Estado: </strong>Oculto</p>

        <ion-row>
          <ion-col size="6" class="container-btn-card">
            <ion-button color="warning" (click)="goToUpdateProduct(data.uid)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="6" class="container-btn-card">
            <ion-button color="danger" (click)="deleteProducto(data)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-col size="6" *ngIf="data.typeOfSale=='Subasta'" class="container-btn-card">
          <ion-button class="btn" (click)="goToAuctionProduct(data.uid)"> Ver Subasta </ion-button>
        </ion-col>
        <ion-row class="container-btn" *ngIf="data.typeOfSale !=='Subasta'">
          <ion-button
            class="btn"
            [routerLink]="'/marketplace-chat-list/' + receiberEmail + '/' + data.uid"
          >
            <ion-icon name="chatbubbles-outline"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
