<ion-row class="container">
  <ion-col size="4">
    <ion-button (click)="disminishQuantity()">
      <ion-icon name="remove-outline"></ion-icon>
    </ion-button>
  </ion-col>

  <ion-col size="3" class="container-quantity">
    <h2>{{ quantity }}</h2>
  </ion-col>

  <ion-col size="4">
    <ion-button (click)="increaseQuantity()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>
