.container-delivery-card {
  ion-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  img {
    width: 230px;
  }
}

.msg {
  font-weight: bold;
  color: var(--ion-color-primary);
}
