<ion-app appParallaxHeader>
  <app-secondary-header
    url="/home"
    icon="list-outline"
    secondIcon="time-outline"
  ></app-secondary-header>

  <ion-row class="container-title-home">
    <ion-col size="12">
      <h1>Entrega a domicilio</h1>
      <p>Compra productos y recibelos en tu hogar</p>
    </ion-col>
  </ion-row>

  <ion-content [scrollEvents]="true">
    <div class="parallax-banner">
      <app-advertising-banner-slide module="delivery"></app-advertising-banner-slide>
    </div>

    <ion-row class="sticky">
      <ion-col size="12">
        <app-category-slide
          [options]="categories"
          (valueResponse)="getDeliveryByCategory($event)"
          [categoryTitle]="categoryTitle"
        >
        </app-category-slide>
      </ion-col>
      <ion-col size="12">
        <ion-searchbar
          placeholder="Buscar local por nombre"
          inputmode="text"
          (ionChange)="onSearchChange($event)"
          [debounce]="250"
          mode="md"
          animated
        ></ion-searchbar>
      </ion-col>
    </ion-row>

    <ion-row class="container-delivery-card main" *ngIf="users.length !== 0">
      <ion-col size="11" *ngFor="let user of users | filtro:searchText:'name'">
        <app-delivery-card
          *ngIf="user.schedule !== undefined"
          [user]="user"
          url="/home/home-delivery/product-delivery"
        ></app-delivery-card>
      </ion-col>
    </ion-row>

    <ion-row class="container-delivery-card" *ngIf="users.length === 0">
      <img src="../../../../assets/images/no-products.png" alt="" />
      <p class="msg">No se encuentran productos de {{categoryTitle}}</p>
    </ion-row>
  </ion-content>
</ion-app>
