<app-secondary-header
  name="Actualizacion de productos"
  url="/home/panel-delivery/product"
></app-secondary-header>

<ion-content class="ion-padding">
  <ion-row class="container-crud-img">
    <ion-item lines="none">
      <div class="crud-img" style="background-image: url({{product.image}});">
        <ion-button> Subir imagen </ion-button>
      </div>
      <ion-input
        type="file"
        accept="image/png, image/jpeg"
        id="file-input"
        (change)="uploadImageTemporary($event)"
      ></ion-input>
    </ion-item>
  </ion-row>

  <div class="container-inputs">
    <ion-label class="label ion-text-uppercase" position="stacked">NOMBRE</ion-label>
    <ion-item>
      <ion-input name="user" type="text" [(ngModel)]="product.name"></ion-input>
    </ion-item>
  </div>

  <div class="container-inputs">
    <ion-label class="label ion-text-uppercase" position="stacked">PRECIO</ion-label>
    <ion-item>
      <ion-input
        type="number"
        pattern="[0-9]{11,14}"
        required
        min="10"
        max="13"
        [(ngModel)]="product.price"
      ></ion-input>
    </ion-item>
  </div>

  <div class="container-select">
    <ion-label class="label ion-text-uppercase">ESTADO</ion-label>
    <ion-item>
      <ion-select
        name="gender"
        [(ngModel)]="product.isActive"
        cancelText="Cancelar"
        name="role"
        value="client"
        okText="Aceptar"
      >
        <ion-select-option value="true"><span>Público</span></ion-select-option>
        <ion-select-option value="false"><span>Oculto</span></ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div class="container-select">
    <ion-label class="label ion-text-uppercase">CATEGORÍAS</ion-label>
    <ion-item>
      <ion-select
        name="gender"
        cancelText="Cancelar"
        name="role"
        value="client"
        okText="Aceptar"
        [(ngModel)]="product.category"
      >
        <div *ngFor="let category of categories; let i = index">
          <ion-select-option value="{{category.name}}">{{category.name}}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>
  </div>

  <div class="container-inputs">
    <ion-label class="label ion-text-uppercase">DESCRIPCIÓN</ion-label>
    <ion-item>
      <ion-textarea [(ngModel)]="product.description"></ion-textarea>
    </ion-item>
  </div>

  <div class="container-inputs">
    <ion-label class="label ion-text-uppercase">Tiempo de preparación (Minutos)</ion-label>
    <ion-item>
      <ion-datetime
        displayFormat="m"
        minuteValues="0,5,10,15,20,25,30,35,40,45,50,59"
        cancelText="Cancelar"
        doneText="Aceptar"
        placeholder="Tiempo de preparación"
        [(ngModel)]="product.preparationTime"
      ></ion-datetime>
    </ion-item>
  </div>

  <ion-row class="container-btn">
    <ion-button class="btn" (click)="updateProductsByUid()"> Actualizar </ion-button>
  </ion-row>
  <ion-row class="container-btn">
    <ion-button class="btn" color="danger" (click)="cancelProduct()"> Cancelar </ion-button>
  </ion-row>
</ion-content>
