<ion-card (click)="goToDetail()">
  <ion-row>
    <ion-col size="4" class="container-img">
      <ion-avatar>
        <img src="{{ publication.image }}" />
      </ion-avatar>
    </ion-col>

    <ion-col size="8">
      <ion-card-header>
        <ion-card-subtitle>{{ publication.name }}</ion-card-subtitle>
        <ion-card-title>{{ enterprise?.name }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-row>
          <ion-icon name="time-outline"></ion-icon>
          <ion-card-subtitle>{{
            publication.datePublication.toDate() | date: 'dd/MM/yyyy'
          }}</ion-card-subtitle>
        </ion-row>

        <ion-row>
          <ion-icon name="navigate-outline"></ion-icon>
          <ion-card-subtitle>{{ publication.city }}</ion-card-subtitle>
        </ion-row>
      </ion-card-content>
    </ion-col>
  </ion-row>
</ion-card>
