ion-card {
  border-radius: 20px;

  ion-card-header {
    ion-card-title {
      font-size: 18px;
      font-weight: bold;
    }

    ion-card-subtitle {
      color: var(--ion-color-primary);
      font-weight: bold;
    }
  }

  ion-card-content {
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
      align-items: center;

      ion-icon {
        font-size: 17px;
      }
    }
  }
}

.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
