<app-secondary-header
  name="Solicitudes de suscripciones"
  url="/home/panel-admin/"
  [info]="true"
  infoMessage="En esta sección podrá ver todas las solicitudes de suscripciones de tienda online."
></app-secondary-header>

<ion-row>
  <ion-searchbar
    placeholder="Filtrar suscripción por nombre"
    inpudtmode="text"
    type="decimal"
    (ionChange)="onSearchChange($event)"
    [debounce]="250"
    mode="md"
    animated
  ></ion-searchbar>
</ion-row>

<ion-content>
  <div *ngIf="orderSubscriptions?.length === 0">
    <img src="../../../../assets/images/no-subscriptions.png" alt="" />
    <ion-row class="container-msg">
      <div class="container-info">
        <h1>No hay suscripciones pendientes</h1>
      </div>
    </ion-row>
  </div>
  <app-request-subscription-card
    *ngFor="let data of orderSubscriptions | filtroObject:searchText:'subscritions.name'"
    [data]="data"
  ></app-request-subscription-card>
</ion-content>
