<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="user"></ion-back-button>
    </ion-buttons>
    <ion-title>Cupones</ion-title>
  </ion-toolbar>
</ion-header>
<ion-searchbar
  placeholder="Buscar por estado"
  (ionChange)="onSearchChange($event)"
  inputmode="text"
  [debounce]="500"
  mode="md"
  animated
></ion-searchbar>

<ion-content>
  <div *ngFor="let data of coupons | filtro:searchText:'status'">
    <ion-card class="cruds-cart">
      <ion-card-content>
        <p><strong>Porcentaje de descuento: </strong>{{data.percentage}}%</p>
        <p><strong>Estado: </strong>{{data.status}}</p>
        <p *ngIf="data.module =='online-store'"><strong>Modulo: </strong>Tienda Online</p>
        <p *ngIf="data.module =='delivery'"><strong>Modulo: </strong>Entrega a domicilio</p>
        <p *ngIf="data.module =='employment-exchange'"><strong>Modulo: </strong>Bolsa de empleo</p>
        <p><strong>Fecha de Expiración: </strong>{{data.dateExpiration | date:'dd-MM-yyyy'}}</p>
        <p *ngIf="data.isActive=='true'"><strong>Estado: </strong>Público</p>
        <p *ngIf="data.isActive=='false'"><strong>Estado: </strong>Oculto</p>
        <p><strong>Descripción: </strong>{{data.description }}</p>
        <ion-row>
          <ion-col size="6" class="container-btn-card">
            <ion-button color="warning" (click)="goToUpdateCoupon(data.uid)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="6" class="container-btn-card">
            <ion-button color="danger" (click)="deleteCoupon(data)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab vertical="bottom" horizontal="end" class="btn-float" slot="fixed">
    <ion-fab-button (click)="goToAddCoupons()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
