<app-secondary-header
  name="Banners publicitarios"
  url="/home/panel-admin/"
  [info]="true"
  infoMessage="En esta sección podrá gestionar los banners publicitarios que van a aparecer en la aplicación."
></app-secondary-header>

<ion-row>
  <ion-col size="12">
    <ion-searchbar
      placeholder="Filtrar banners por nombre"
      inputmode="text"
      type="decimal"
      (ionChange)="onSearchChange($event)"
      [debounce]="500"
      animated
      mode="md"
    ></ion-searchbar>
  </ion-col>

  <ion-col size="12">
    <app-category-slide
      [options]="categories"
      (valueResponse)="getListBanners($event)"
      [categoryTitle]="categoryTitle"
      banners="true"
    >
    </app-category-slide>
  </ion-col>
</ion-row>

<ion-content class="ion-padding">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onCreateBanner()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div *ngIf="loading">
    <div class="custom-skeleton">
      <ion-card class="cruds-cart">
        <ion-card-header>
          <ion-skeleton-text animated style="width: 100%; height: 150px"></ion-skeleton-text>
        </ion-card-header>
        <ion-card-content>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </ion-card-content>
        <ion-row class="ion-padding">
          <ion-col size="6" class="container-btn-card">
            <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
          </ion-col>
          <ion-col size="6" class="container-btn-card">
            <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </div>

  <div *ngIf="banners">
    <div *ngFor="let data of banners  | filtro:searchText:'name'">
      <ion-card class="cruds-cart">
        <ion-card-header>
          <ion-img src="{{data.image}}"></ion-img>
        </ion-card-header>
        <ion-card-content>
          <p><strong>Nombre: </strong>{{data.name}}</p>
          <p><strong>Módulo: </strong>{{renderModuleName(data.module)}}</p>
          <p><strong>Estado: </strong>{{data.status? 'Público': 'Oculto'}}</p>
          <p><strong>Descripción: </strong>{{data.description }}</p>
          <ion-row>
            <ion-col size="6" class="container-btn-card">
              <ion-button color="warning" (click)="onUpdateBanner(data.advertisingBannerId)">
                <ion-icon name="create-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="6" class="container-btn-card">
              <ion-button color="danger" (click)="onDeleteBanner(data)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
