<app-secondary-header
  url="/home/home-delivery/product-delivery/{{enterpriseUid}}"
  name="{{product.category}}/{{product.name}}"
></app-secondary-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <div class="product-img" style="background-image: url({{product.image}})"></div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <h1>{{product.name}}</h1>
    </ion-col>
    <ion-col size="6" class="container-price">
      <h1>${{product.price}}</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <p>{{product.description}}</p>
    </ion-col>
  </ion-row>

  <ion-row class="container-btn">
    <ion-col size="12">
      <h3><strong>Tiempo de preparación:</strong> {{product.preparationTime | date: 'mm'}} Min</h3>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="addToCart()" class="btn">
        Agregar al carrito
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <app-quantity-cart (valueResponse)="getProductQuantity($event)"></app-quantity-cart>
    </ion-col>
  </ion-row>
</ion-content>
