<app-secondary-header url="/home/home-delivery" name="Mis Pedidos"></app-secondary-header>
<ion-searchbar
  placeholder="Buscar pedido por nro de orden"
  inputmode="text"
  (ionChange)="onSearchChange($event)"
  [debounce]="250"
  mode="md"
  animated
></ion-searchbar>
<ion-content>
  <div *ngIf="orderMasters?.length === 0">
    <ion-row class="container-msg">
      <img src="../../../../assets/images/no-subscriptions.png" alt="" />
      <div class="container-info">
        <h1>No hay pedidos pendientes</h1>
        <p>Es un buen momento para encontrar lo que necesitas</p>
      </div>
    </ion-row>
    <ion-row class="container-btn">
      <ion-button class="btn" (click)="goToHomeDelivery()"> Ver más productos </ion-button>
    </ion-row>
  </div>
  <app-order-card
    *ngFor="let orderMaster of orderMasters | filtro:searchText:'nroOrder'"
    [orderMaster]="orderMaster"
    typeUser="delivery"
  ></app-order-card>
</ion-content>
