<ion-app appParallaxHeader>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-back-button slot="start" defaultHref="/home"></ion-back-button>
      <ion-icon name="chatbubble-outline" slot="end" routerLink="/buyer-chat-list"></ion-icon>
      <ion-icon slot="end" name="bag-outline" (click)="gotoPanelMarketplaces()"></ion-icon>
    </ion-toolbar>
  </ion-header>

  <ion-row class="container-title-home">
    <ion-col size="12">
      <h1>MarketPlace</h1>
      <p>Encuentra productos de segunda mano</p>
    </ion-col>
  </ion-row>

  <ion-content [scrollEvents]="true">
    <div class="parallax-banner">
      <app-advertising-banner-slide module="marketplace"></app-advertising-banner-slide>
    </div>
    <ion-row class="sticky">
      <ion-segment [(ngModel)]="selectedAction" (click)="selectedActionChange($event)">
        <ion-segment-button value="Venta">
          <ion-icon name="pricetag"></ion-icon>
          <ion-label>Venta</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Trueque">
          <ion-label>Trueque</ion-label>
          <ion-icon name="swap-horizontal"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="Subasta">
          <ion-label>Subasta</ion-label>
          <ion-icon src="../../../../assets/images/subasta.svg"></ion-icon>
        </ion-segment-button>
      </ion-segment>

      <ion-col size="12">
        <app-category-slide
          [options]="categoriesOnlineStore"
          (valueResponse)="getProductsByCategory($event)"
          [categoryTitle]="categoryTitle"
        >
        </app-category-slide>
      </ion-col>
      <ion-col size="12">
        <ion-searchbar
          placeholder="Buscar Producto"
          inputmode="text"
          (click)="openSearchModal()"
          [debounce]="250"
          mode="md"
          animated
        ></ion-searchbar>
      </ion-col>
    </ion-row>

    <ion-row class="container-delivery-card main">
      <ion-col size="11" *ngFor="let product of products | filtro:searchText:'name'">
        <app-product-marketplaces [product]="product"></app-product-marketplaces>
      </ion-col>
    </ion-row>

    <ion-row class="container-delivery-card" *ngIf="products.length === 0">
      <img src="../../../../assets/images/no-products.png" alt="" />
      <p class="msg">No se encuentran productos de {{categoryTitle}}</p>
    </ion-row>
  </ion-content>
</ion-app>
