<app-secondary-header name="Chats" url="/home/home-marketplace/products"></app-secondary-header>
<ion-content>
  <ion-searchbar
    placeholder="Buscar chat"
    inputmode="text"
    type="decimal"
    (ionChange)="onSearchChange($event)"
    [debounce]="250"
    mode="md"
    animated
  ></ion-searchbar>
  <ion-list>
    <ion-item
      *ngFor="let message of messages | filtro:searchText: 'transmitterName'"
      routerLink="/marketplace-chat/{{ message.fromName }}/{{ message.productId }}/{{ message.productOwnerId }}"
    >
      <ion-avatar slot="start">
        <img *ngIf="message.transmitterImage != undefined" src="{{ message.transmitterImage }}" />
        <img
          *ngIf="message.transmitterImage == undefined"
          src="../../../../assets/images/profiledefaul.png"
        />
      </ion-avatar>
      <ion-label>
        <h2>{{ message.transmitterName }}</h2>
        <h3 *ngIf="message.transmitterRole == 'customer'">Cliente</h3>
        <h3 *ngIf="message.transmitterRole == 'delivery'">Delivery</h3>
        <h3 *ngIf="message.transmitterRole == 'motorized'">Motorizado</h3>
        <p>{{ message.msg }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="messages?.length === 0">
    <ion-row class="container-msg">
      <img src="../../../../assets/images/no-subscriptions.png" alt="" />
      <div class="container-info">
        <h1>Ningun cliente ha preguntado por el producto</h1>
      </div>
    </ion-row>
  </div>
</ion-content>
