<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Parámetros de contacto</ion-title>
    <ion-back-button slot="start"
      defaultHref="/home/panel-admin"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form"
    (ngSubmit)="update()">
    <div class="container-inputs">
      <ion-label class="label ion-text-uppercase"
        position="stacked">Kilómetros:</ion-label>
      <ion-item>
        <ion-input type="number"
          formControlName="baseKilometers"></ion-input>
      </ion-item>
    </div>


    <div class="container-inputs">
      <ion-label class="label ion-text-uppercase"
        position="stacked">Costo por kilómetros de inicio:</ion-label>
      <ion-item>
        <ion-input type="number"
          formControlName="baseCost"></ion-input>
      </ion-item>
    </div>

    <div class="error"
      *ngIf="form.controls.baseCost.errors && form.controls.baseCost.touched">
      El campo costo por kilómetros de inicio es requerido.
    </div>

    <div class="container-inputs">
      <ion-label class="label ion-text-uppercase"
        position="stacked">Costo por kilómetro extra:</ion-label>
      <ion-item>
        <ion-input type="number"
          formControlName="extraKilometerCost"></ion-input>
      </ion-item>
    </div>

    <div class="error"
      *ngIf="form.controls.extraKilometerCost.errors && form.controls.extraKilometerCost.touched">
      El campo costo por kilómetro extra es requerido.
    </div>

    <div class="container-inputs">
      <ion-label class="label ion-text-uppercase"
        position="stacked">Iva:</ion-label>
      <ion-item>
        <ion-input type="number"
          formControlName="iva"></ion-input>
      </ion-item>
    </div>

    <div class="error"
      *ngIf="form.controls.iva.errors && form.controls.iva.touched">
      El campo iva es requerido.
    </div>

    <ion-row class="container-btn">
      <ion-button class="btn"
        (click)="update()"
        [disabled]="!form.valid"> Actualizar </ion-button>
    </ion-row>
  </form>
</ion-content>