<app-secondary-header name="Gestión de productos"
  url="/home/panel-delivery"
  [info]="true"
  infoMessage="En esta sección podrá subir todos sus productos."></app-secondary-header>


<ion-content class="ion-padding">
  <ion-row class="container-status">
    <ion-col size="12"
      class="container-advertising">
      <p>Recuerde añadir categorías para poder publicar productos</p>
    </ion-col>
  </ion-row>
  <ion-row class="container-crud-img">
    <ion-item lines="none">
      <div class="crud-img"
        style="background-image: url({{product.image}});">
        <ion-button> Subir imagen </ion-button>
      </div>
      <ion-input type="file"
        accept="image/png, image/jpeg"
        id="file-input"
        (change)="uploadImageTemporary($event)"></ion-input>
    </ion-item>
  </ion-row>

  <div class="container-inputs">
    <ion-label class="label ion-text-uppercase"
      position="stacked">NOMBRE</ion-label>
    <ion-item>
      <ion-input name="user"
        type="text"
        [(ngModel)]="product.name"></ion-input>
    </ion-item>
  </div>

  <div class="container-inputs">
    <ion-label class="label ion-text-uppercase"
      position="stacked">PRECIO</ion-label>
    <ion-item>
      <ion-input type="number"
        pattern="[0-9]{11,14}"
        required
        min="10"
        max="13"
        [(ngModel)]="product.price"></ion-input>
    </ion-item>
  </div>

  <div class="container-select">
    <ion-label class="label ion-text-uppercase">ESTADO</ion-label>
    <ion-item>
      <ion-select name="gender"
        [(ngModel)]="product.isActive"
        cancelText="Cancelar"
        name="role"
        value="client"
        okText="Aceptar">
        <ion-select-option value="true"><span>Público</span></ion-select-option>
        <ion-select-option value="false"><span>Oculto</span></ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div class="container-select">
    <ion-label class="label ion-text-uppercase">CATEGORÍAS</ion-label>
    <ion-item>
      <ion-select name="gender"
        cancelText="Cancelar"
        name="role"
        value="client"
        okText="Aceptar"
        [(ngModel)]="product.category">
        <div *ngFor="let category of categories; let i = index">
          <ion-select-option value="{{category.name}}">{{category.name}}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>
  </div>

  <div class="container-inputs">
    <ion-label class="label ion-text-uppercase">DESCRIPCIÓN</ion-label>
    <ion-item>
      <ion-textarea [(ngModel)]="product.description"></ion-textarea>
    </ion-item>
  </div>

  <div class="container-inputs">
    <ion-label class="label ion-text-uppercase">Tiempo de preparación (Minutos)</ion-label>
    <ion-item>
      <ion-datetime displayFormat="m"
        minuteValues="0,5,10,15,20,25,30,35,40,45,50,59"
        placeholder="Tiempo de preparación"
        cancelText="Cancelar"
        doneText="Aceptar"
        [(ngModel)]="product.preparationTime"></ion-datetime>
    </ion-item>
  </div>

  <ion-row class="container-btn">
    <ion-button class="btn"
      (click)="addProduct()"> Guardar </ion-button>
  </ion-row>

  <ion-searchbar placeholder="Filtrar producto por nombre"
    inpudtmode="text"
    type="decimal"
    (ionChange)="onSearchChange($event)"
    [debounce]="250"
    mode="md"
    animated></ion-searchbar>

  <div *ngFor="let data of products| filtro:searchText:'name'">
    <ion-card class="cruds-cart">
      <ion-card-header>
        <ion-img src="{{data.image}}"></ion-img>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Nombre: </strong>:{{data.name}}</p>
        <p><strong>Precio: </strong>:${{data.price}}</p>
        <p><strong>Categoría: </strong>{{data.category}}</p>
        <p><strong>Tiempo de preparación: </strong>{{data.preparationTime | date:'mm:ss'}}</p>
        <p *ngIf="data.isActive=='true'"><strong>Estado: </strong>Público</p>
        <p *ngIf="data.isActive=='false'"><strong>Estado: </strong>Oculto</p>
        <p><strong>Descripción: </strong>{{data.description }}</p>
        <ion-row>
          <ion-col size="6"
            class="container-btn-card">
            <ion-button color="warning"
              (click)="goToUpdateProduct(data.uid)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="6"
            class="container-btn-card">
            <ion-button color="danger"
              (click)="deleteProducto(data.uid)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>