<ion-header>
  <ion-toolbar>
    <ion-title>advertisement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (onSubmit)="add()">
    <ion-item>
      <ion-label>Nombre:</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <div class="error" *ngIf="form.controls.name.errors && form.controls.name.touched">
      El campo nombre es requerido.
    </div>
    <ion-item>
      <ion-label>Description:</ion-label>
      <ion-input type="text" formControlName="description"></ion-input>
    </ion-item>
    <div
      class="error"
      *ngIf="form.controls.description.errors && form.controls.description.touched"
    >
      El campo descripción es requerido.
    </div>
    <ion-item>
      <ion-select placeholder="Módulo:" formControlName="module">
        <ion-select-option value="Tienda online">Tienda online</ion-select-option>
        <ion-select-option value="Market place">Market place</ion-select-option>
        <ion-select-option value="Delivery">Delivery</ion-select-option>
        <ion-select-option value="Bolsa de empleo">Bolsa de empleo</ion-select-option>
      </ion-select>
    </ion-item>
    <div class="error" *ngIf="form.controls.module.errors && form.controls.module.touched">
      El campo módulo es requerido.
    </div>
    <ion-item>
      <ion-select placeholder="Estado:" formControlName="status">
        <ion-select-option value="active">Activo</ion-select-option>
        <ion-select-option value="inactive">Inactivo</ion-select-option>
      </ion-select>
    </ion-item>
    <div class="error" *ngIf="form.controls.status.errors && form.controls.status.touched">
      El campo estado es requerido.
    </div>
    <ion-button (click)="add()" expand="block" shape="round" [disabled]="!form.valid">
      Guardar
    </ion-button>
  </form>
  <app-advertisement-card
    *ngFor="let advertisement of advertisements | async"
    [name]="advertisement.name"
    [description]="advertisement.description"
    [module]="advertisement.module"
    [status]="advertisement.status"
    [advertisementId]="advertisement.advertisementId"
  ></app-advertisement-card>
</ion-content>
