ion-content {
  --padding-start: 10px;
  --padding-end: 10px;
}

.product-img {
  width: 100%;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

.container-title {
  align-items: center;
}

.container-price {
  display: flex;
  justify-content: flex-end;
  color: var(--ion-color-primary);
}

h1,
h5 {
  font-weight: bold;
}

.container-btn {
  margin-top: 10px;

  .btn {
    width: 100%;
    font-size: 14px;
  }
}
