.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-row {
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
}

ion-item {

  ion-row {
    width: 100%;

  }
}
