<ion-row *ngIf="auction?.product.userId !== userUid">
  <ion-col size="5" class="container-img">
    <ion-avatar>
      <img src="{{ user.image ? user.image : '../../../../../../assets/images/profiledefaul.png' }}" />
    </ion-avatar>
  </ion-col>

  <ion-col size="7">
    <p><strong>Nombre: </strong> {{ user.name }}</p>
    <p *ngIf="indice === 0">
      <strong>Cantidad: </strong>
      <ion-label color="success">${{ auction.value }}</ion-label>
    </p>

    <p *ngIf="indice > 0">
      <strong>Cantidad: </strong>
      <ion-label color="warning">${{ auction.value }}</ion-label>
    </p>
    <p><strong>Fecha: </strong> {{ auction.updateDate.toDate() | date: 'dd/MM/yyyy - h:mm a' }}</p>
  </ion-col>
</ion-row>

<ion-item-sliding *ngIf="auction?.product.userId === userUid">
  <ion-item (click)="navigateToDetailluser()">
    <ion-row>
      <ion-col size="5" class="container-img">
        <ion-avatar>
          <img src="{{ user.image }}" />
        </ion-avatar>
      </ion-col>

      <ion-col size="7">
        <p><strong>Nombre: </strong> {{ user.name }}</p>
        <p *ngIf="indice === 0">
          <strong>Cantidad: </strong><ion-label color="success">${{ auction.value }}</ion-label>
        </p>

        <p *ngIf="indice > 0">
          <strong>Cantidad: </strong><ion-label color="warning">${{ auction.value }}</ion-label>
        </p>
        <p>
          <strong>Fecha: </strong> {{ auction.updateDate.toDate() | date: 'dd/MM/yyyy - h:mm a' }}
        </p>
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-item-options (click)="deleteAuction()" side="end">
    <ion-item-option>
      <ion-icon class="icon" slot="icon-only" name="trash"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
