<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-back-button slot="start"
      defaultHref="/home"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="container-welcome">
    <ion-col size="6">
      <h1>Bievenido {{user.name}}</h1>
    </ion-col>
    <ion-col size="6"
      (click)="uploadImageTemporary()">
      <ion-avatar>
        <img *ngIf="user.image==undefined"
          src="../../../../assets/images/profiledefaul.png" />
        <img *ngIf="user.image!=undefined"
          src="{{user.image}}" />
      </ion-avatar>
      <ion-button> Editar imagen </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <div class="container-inputs">
        <ion-label class="label ion-text-uppercase"
          position="stacked">NOMBRE</ion-label>
        <ion-item>
          <ion-input name="user"
            type="text"
            [(ngModel)]="user.name"></ion-input>
        </ion-item>
      </div>

      <div class="container-inputs">
        <ion-label class="label ion-text-uppercase"
          position="stacked">EMAIL</ion-label>
        <ion-item>
          <ion-input readonly
            name="user"
            type="text"
            [(ngModel)]="user.email"></ion-input>
        </ion-item>
      </div>

      <div class="container-inputs">
        <ion-label class="label ion-text-uppercase"
          position="stacked">NÚMERO DE TELÉFONO</ion-label>
        <ion-item>
          +593
          <ion-input type="numeric"
            placeholder=" Número de teléfono"
            type="number"
            name="phone"
            maxlength="10"
            pattern="[1-9]{11,14}"
            [(ngModel)]="user.phoneNumber"
            required></ion-input>
        </ion-item>
      </div>

      <div class="container-inputs">
        <ion-label class="label ion-text-uppercase"
          position="stacked">DIRECCIÓN</ion-label>
        <ion-item>
          <ion-input type="text"
            [(ngModel)]="user.address"
            placeholder="Dirección calle y número de casa"
            autocomplete="off"
            (ionChange)="keyUpHandler()"
            id="user_address"></ion-input>
        </ion-item>
      </div>

      <div class="container-inputs">
        <ion-label class="label ion-text-uppercase"
          position="stacked">FECHA DE NACIMIENTO</ion-label>

        <ion-item>
          <ion-icon name="calendar-outline"
            class="icon-login"></ion-icon>
          <ion-datetime cancelText="Cancelar"
            doneText="Aceptar"
            placeholder="Fecha de nacimiento"
            [(ngModel)]="user.dateOfBirth"
            [dayShortNames]="customDayShortNames"
            displayFormat="DDD.  DD MMM, YYYY"
            monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre">
          </ion-datetime>
        </ion-item>
      </div>

      <div class="container-select"
        *ngIf="user.role=='delivery'">
        <ion-label class="label ion-text-uppercase">Tipo de delivery</ion-label>

        <ion-item class="color-info">
          <ion-select [(ngModel)]="user.category"
            okText="Aceptar"
            placeholder="Tipo de delivery"
            cancelText="Cancelar">
            <div *ngFor="let category of categories; let i = index">
              <ion-select-option value="{{category.name}}">{{category.name}}</ion-select-option>
            </div>
          </ion-select>
        </ion-item>
      </div>

      <div class="container-select">
        <ion-label>TIPO DE DOCUMENTO</ion-label>

        <ion-item>
          <ion-select placeholder="Tipo de Documento"
            [(ngModel)]="user.documentType">
            <ion-select-option value="CI">cédula</ion-select-option>
            <ion-select-option value="RUC">RUC</ion-select-option>
            <ion-select-option value="PASSPORT">Pasaporte </ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div class="container-inputs">
        <ion-label class="label ion-text-uppercase"
          position="stacked">NÚMERO DE IDENTIFICACIÓN</ion-label>

        <ion-item>
          <ion-input type="text"
            [(ngModel)]="user.identificationDocument"
            placeholder="Número de identificación"
            type="number"
            pattern="[0-9]{11,14}"
            maxlength="13"></ion-input>
        </ion-item>
      </div>

      <div class="container-select">
        <ion-label>GÉNERO</ion-label>
        <ion-item>
          <ion-select placeholder="Género"
            [(ngModel)]="user.gender">
            <ion-select-option value="male">Masculino</ion-select-option>
            <ion-select-option value="feminine">Femenino</ion-select-option>
            <ion-select-option value="Other">Otro</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="container-btn">
    <ion-button (click)="updateUser()"
      class="btn"> Actualizar Datos </ion-button>
  </ion-row>
</ion-content>