ion-avatar {
  width: 110px;
  height: 110px;

  img {
    width: 110px;
  }
}

.container-photo {
  display: flex;
  justify-content: center;
}

.container-auction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h4 {
    color: var(--ion-color-primary);
    font-weight: bold;
    margin: 10px 0px 10px;
  }

  p {
    margin: 10px 0px;
  }
}


.border-right {
  border-right: 1px solid rgba($color: #000000, $alpha: 0.3);
}
