<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/home/home-marketplace"></ion-back-button>
    <ion-title>{{user?.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-row>
  <ion-col size="12" class="container-photo">
    <ion-avatar>
      <img src="{{user?.image}}" />
    </ion-avatar>
  </ion-col>

  <ion-col size="4" class="container-auction border-right">
    <h4>Cantidad</h4>
    <p>${{auction?.value}}</p>
  </ion-col>

  <ion-col size="4" class="container-auction border-right">
    <h4>Fecha</h4>
    <p>{{auction?.updateDate.toDate() | date: 'dd/MM/yyyy'}}</p>
  </ion-col>

  <ion-col size="4" class="container-auction">
    <h4>Hora</h4>
    <p>{{auction?.updateDate.toDate() | date: ' h:mm a'}}</p>
  </ion-col>
</ion-row>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <div class="container-inputs">
        <ion-label class="label ion-text-uppercase" position="stacked">EMAIL</ion-label>
        <ion-item>
          <ion-input value="{{user?.email}}" name="user" readonly="true" type="text"></ion-input>
        </ion-item>
      </div>

      <div class="container-inputs">
        <ion-label class="label ion-text-uppercase" position="stacked"
          >NUMERO DE TELÉFONO</ion-label
        >
        <ion-item>
          <ion-input
            value="{{user?.phoneNumber}}"
            name="user"
            readonly="true"
            type="text"
          ></ion-input>
        </ion-item>
      </div>

      <div class="container-inputs">
        <ion-label class="label ion-text-uppercase" position="stacked"
          >NUMERO DE IDENTIFICACIÓN</ion-label
        >
        <ion-item>
          <ion-input
            value="{{user?.identificationDocument}}"
            name="user"
            readonly="true"
            type="text"
          ></ion-input>
        </ion-item>
      </div>

      <div class="container-inputs">
        <ion-label class="label ion-text-uppercase" position="stacked"
          >FECHA DE NACIMIENTO</ion-label
        >
        <ion-item>
          <ion-input
            value="{{user?.dateOfBirth | date: 'dd/MM/yyyy'}}"
            name="user"
            readonly="true"
            type="text"
          ></ion-input>
        </ion-item>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="container-btn">
    <ion-button class="btn" [routerLink]="['/auction-chat/false/' + user?.email]"> Comunicarse con el cliente </ion-button>
  </ion-row>
</ion-content>
