<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="user"></ion-back-button>
    </ion-buttons>
    <ion-title>Añadir Cupón</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container-inputs">
    <ion-label class="label ion-text-uppercase" position="stacked">Porcentaje %</ion-label>
    <ion-item>
      <ion-input
        type="number"
        pattern="[0-9]{11,14}"
        required
        min="10"
        max="13"
        [(ngModel)]="coupons.percentage"
      ></ion-input>
    </ion-item>
  </div>
  <div class="container-select">
    <ion-label class="label ion-text-uppercase">Modulo</ion-label>
    <ion-item>
      <ion-select
        name="gender"
        [(ngModel)]="coupons.module"
        cancelText="Cancelar"
        name="role"
        value="client"
        okText="Aceptar"
      >
        <ion-select-option value="online-store"><span>Tienda Online</span></ion-select-option>
        <ion-select-option value="delivery"><span>Entrega a domicilio</span></ion-select-option>
        <ion-select-option value="employment-exchange"
          ><span>Bolsa de empleo</span></ion-select-option
        >
      </ion-select>
    </ion-item>
  </div>
  <div class="container-select">
    <ion-label class="label ion-text-uppercase">ESTADO DEL CÚPON</ion-label>
    <ion-item>
      <ion-select
        name="gender"
        [(ngModel)]="coupons.status"
        cancelText="Cancelar"
        name="role"
        value="client"
        okText="Aceptar"
      >
        <ion-select-option value="activo"><span>Activo</span></ion-select-option>
        <ion-select-option value="usado"><span>Usado</span></ion-select-option>
        <ion-select-option value="caducado"><span>Caducado</span></ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <div class="container-inputs">
    <ion-label class="label ion-text-uppercase">DESCRIPCIÓN</ion-label>
    <ion-item>
      <ion-textarea [(ngModel)]="coupons.description"></ion-textarea>
    </ion-item>
  </div>

  <div class="container-inputs">
    <ion-label class="label ion-text-uppercase">Fecha de expiracón</ion-label>
    <ion-item>
      <ion-datetime
        cancelText="Cancelar"
        okText="Aceptar"
        [(ngModel)]="coupons.dateExpiration"
        [dayShortNames]="customDayShortNames"
        displayFormat="DD-MM-YYYY"
        monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
      >
      </ion-datetime>
    </ion-item>
  </div>
  <div class="container-select">
    <ion-label class="label ion-text-uppercase">ESTADO DE VISUALIZACIÓN</ion-label>
    <ion-item>
      <ion-select
        name="gender"
        [(ngModel)]="coupons.isActive"
        cancelText="Cancelar"
        name="role"
        value="client"
        okText="Aceptar"
      >
        <ion-select-option [value]="true"><span>Público</span></ion-select-option>
        <ion-select-option [value]="false"><span>Oculto</span></ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <ion-row class="container-btn">
    <ion-button class="btn" (click)="addCoupon()"> Guardar </ion-button>
  </ion-row>
</ion-content>
