<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/home/home-marketplace"></ion-back-button>
    <ion-title>Subasta</ion-title>
  </ion-toolbar>
</ion-header>

<app-auction-product-card [product]="product" [userUid]="userUid"></app-auction-product-card>

<ion-content>
  <app-auction-user-card
    [auction]="auction"
    [indice]="indice"
    [status]="product.status"
    [userUid]="userUid"
    *ngFor="let auction of auctionList, let indice=index"
  >
  </app-auction-user-card>
</ion-content>
<ion-footer class="ion-no-border" *ngIf="ownerProduct==false && product.status=='enproceso'">
  <ion-toolbar>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-input [(ngModel)]="value" type="number" placeholder="Cantidad"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="6" class="container-btn">
        <ion-button class="btn" (click)="addAuction()"> PUJAR </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
<ion-footer class="ion-no-border" *ngIf="product.status=='finalizado'">
  <ion-toolbar class="finish">
    <p *ngIf="userUid === winningAuctioneer">Felicidades usted es el ganador de la subasta ✔</p>
    <p *ngIf="userUid !== winningAuctioneer">Subasta finalizada ✔</p>
    <ion-row *ngIf="userUid === winningAuctioneer">
      <ion-col size="12" class="container-btn">
        <ion-button class="btn" (click)="goToAuctionClient()">
          Preguntar por el producto
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

<ion-footer class="ion-no-border" *ngIf="ownerProduct==true && product.status !=='finalizado' ">
  <ion-toolbar>
    <ion-row>
      <ion-col size="12" class="container-btn">
        <ion-button class="btn" (click)="finishAuction()"> Finalizar Subasta </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
