<app-secondary-header
  name="Verificar Pago"
  url="/checkout-location/{{orderMasterUid}}"
></app-secondary-header>
<ion-content class="ion-padding">
  <ion-row>
    <ion-col size="12" class="card">
      <h1>Datos del negocio</h1>
      <ion-card class="container-user-card">
        <ion-card-header>
          <ion-avatar>
            <img src="{{enterprise.image}}" />
          </ion-avatar>
        </ion-card-header>
        <ion-card-content>
          <ion-label><strong>Nombre: </strong>{{enterprise.name | titlecase}} </ion-label>
          <ion-label><strong>Numero de teléfono: </strong>{{enterprise.phoneNumber}} </ion-label>
          <ion-label><strong>Dirección:</strong> {{enterprise.address}} </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" class="card">
      <h1>Forma de pago</h1>

      <ion-card class="container-user-card">
        <ion-radio-group
          allow-empty-selection="true"
          name="radio-group"
          [(ngModel)]="method"
          (ionChange)=" radioGroupMethodChange($event)"
          #radioGroup
        >
          <ion-item class="ion-item-checkout" *ngIf="bankAccounts.length !== 0">
            <ion-radio value="Transferencia"></ion-radio>
            <ion-icon class="icon pink-color" name="business-outline"></ion-icon>
            <ion-label>Transferencia</ion-label>
          </ion-item>
          <ion-item lines="none" class="ion-item-checkout">
            <ion-radio value="Efectivo"></ion-radio>
            <ion-icon class="icon blue-color" name="cash-outline"></ion-icon>
            <ion-label>Efectivo</ion-label>
          </ion-item>
        </ion-radio-group>
      </ion-card>
    </ion-col>
    <ion-col size="12" class="card" *ngIf="method == 'Transferencia'  ">
      <h1>Datos del banco</h1>
      <div class="ion-text-left">
        <ion-card class="container-user-card">
          <ion-card-content>
            <ion-list>
              <ion-item class="ion-item-checkout">
                <ion-label><strong>Banco:</strong> {{bankAccounts[0].nameBank}}</ion-label>
              </ion-item>
              <ion-item class="ion-item-checkout">
                <ion-label
                  ><strong>Tipo de cuenta:</strong>{{bankAccounts[0].accountType}}</ion-label
                >
              </ion-item>
              <ion-item class="ion-item-checkout">
                <ion-label><strong>Titular:</strong> {{bankAccounts[0].ownerName}}</ion-label>
              </ion-item>
              <ion-item class="ion-item-checkout">
                <ion-label
                  ><strong>Numero de cuenta:</strong>{{bankAccounts[0].accountNumber}}</ion-label
                >
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
        <h1>Subir comprobante</h1>
        <div class="input-file-vocuher-container">
          <ion-input
            type="file"
            accept="image/*"
            (change)="uploadImageTemporary($event)"
            class="input-file"
          ></ion-input>
          <ion-text>Agregar comprobante</ion-text>
          <ion-icon name="add-outline"></ion-icon>
        </div>
        <div class="container-img-voucher">
          <div
            class="img-voucher"
            *ngIf=" orderMaster.voucher !== ''"
            style="background-image: url({{orderMaster.voucher}});"
          ></div>
        </div>
      </div>
    </ion-col>

    <ion-col size="12" class="card">
      <h1>Cupón de Descuento</h1>
      <ion-card class="container-user-card">
        <ion-card-content>
          <ion-select
            placeholder="Cupón"
            value=""
            [(ngModel)]="selectCoupons"
            (ionChange)="couponsSelect()"
          >
            <ion-select-option value="">Selecione un cupón</ion-select-option>
            <div *ngFor="let data of coupons; let i = index">
              <ion-select-option [value]="data"
                >Descuento de {{data.percentage}}%</ion-select-option
              >
            </div>
          </ion-select>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" class="card">
      <h1>Pago por productos</h1>
      <ion-card class="container-user-card">
        <ion-card-content>
          <ion-item class="ion-item-checkout">
            <ion-label><strong>Total:</strong>${{totalPrice | number: '1.2-2'}}</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" class="card">
      <h1>Pago por delivery</h1>
      <ion-card class="container-user-card">
        <ion-card-content>
          <ion-item class="ion-item-checkout">
            <ion-label><strong>Distancia:</strong>{{kilometres}}km</ion-label>
          </ion-item>
          <ion-item class="ion-item-checkout">
            <ion-label><strong>Total:</strong>${{costDeliverIva | number}}</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <h1><strong>Total a pagar:</strong> ${{(totalPrice +costDeliverIva) | number: '1.2-2'}}</h1>
  <ion-row class="container-btn">
    <ion-button class="btn" (click)="payOrderCustumer()"> Pagar </ion-button>
  </ion-row>
  <ion-row class="container-btn">
    <ion-button class="btn" (click)="seeDeatilOrder()"> Ver detalle</ion-button>
  </ion-row>
</ion-content>
