<app-secondary-header
  name="Historial de suscripciones"
  url="/home/panel-admin/"
  [info]="true"
  infoMessage="En esta sección podrá ver las suscripciones activas de bolsa de empleo."
></app-secondary-header>

<ion-row>
  <ion-col size="12">
    <ion-searchbar
      placeholder="Buscar suscripción por nombre"
      inputmode="text"
      (ionChange)="onSearchChange($event)"
      [debounce]="250"
      mode="md"
      animated
    ></ion-searchbar>
  </ion-col>
</ion-row>

<ion-content>
  <div *ngIf="orderSubscriptions?.length === 0">
    <img src="../../../../assets/images/no-subscriptions.png" alt="" />
    <ion-row class="container-msg">
      <div class="container-info">
        <h1>No hay suscripciones activadas o canceladas</h1>
      </div>
    </ion-row>
  </div>
  <app-request-subscription-card
    *ngFor="let data of orderSubscriptions | filtroObject:searchText:'subscritions.name' "
    [data]="data"
  ></app-request-subscription-card>
</ion-content>
