<app-secondary-header
  name="Términos y condiciones"
  url="/home/panel-admin/"
  [info]="true"
  infoMessage="En esta sección podrá ingresar los terminos y condiciones de la aplicación."
></app-secondary-header>

<ion-content>
  <ckeditor [(ngModel)]="editorData" [editor]="Editor"></ckeditor>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-row class="container-btn">
    <ion-button (click)="updateTerms()" class="btn"> Guardar los cambios </ion-button>
  </ion-row>
</ion-footer>
