<div class="container-card">
  <ion-card>
    <ion-item-sliding>
      <ion-item>
        <ion-row>
          <ion-col class="ion-column-image">
            <ion-avatar>
              <img src="{{ orderDetail.product.image }}" />
            </ion-avatar>
          </ion-col>
          <ion-col>
            <p class="name">{{ orderDetail.product.name }}</p>
            <div class="container-price">
              <p class="price">${{ orderDetail.product.price * quantity | number }}</p>
              <div class="quantity">
                <ion-button (click)="diminishQuantity()">-</ion-button>
                <p>{{ quantity }}</p>
                <ion-button (click)="increaseQuantity()">+</ion-button>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item-options (click)="sendUidDetailOrder()" side="end">
        <ion-item-option>
          <ion-icon class="icon" slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-card>
</div>
