ion-card {
  display: flex;
  color: black;
  border-radius: 20px;

  ion-row {
    width: 100%;
  }

  .name {
    font-size: 18px;
    font-weight: bold;
  }
}

.container-price {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .price {
    color: var(--ion-color-primary);
    font-size: 20px;
    margin: 0px;
  }

  .quantity {
    display: flex;
    align-items: center;

    p {
      margin: 0px;
      font-size: 20px;
    }
  }
}

ion-avatar {
  width: 100px;
  height: 100px;

  img {
    width: 100%;
  }

}


.ion-column-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
