<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Detalle del pedido</ion-title>
    <ion-back-button slot="start"
      defaultHref="/home"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-row class="container-status">
  <ion-col size="6"
    class="container-select">
    <ion-item>
      <ion-select name="gender"
        cancelText="Cancelar"
        name="role"
        value="client"
        okText="Aceptar"
        [(ngModel)]="status">
        <ion-select-option value="pendiente"><span>Pendiente</span></ion-select-option>
        <ion-select-option value="procesando"><span>En proceso</span></ion-select-option>
        <ion-select-option *ngIf="orderMaster?.methodSend === 'delivery'"
          value="listo"><span>Listo</span></ion-select-option>
        <ion-select-option *ngIf="orderMaster?.methodSend !== 'delivery'"
          value="completado"><span>Completado</span></ion-select-option>
        <ion-select-option value="cancelado"><span>Cancelado</span></ion-select-option>
      </ion-select>
    </ion-item>
  </ion-col>
  <ion-col size="6"
    class="container-btn">
    <ion-button class="btn"
      (click)="updateStatusOrder()"> Actualizar </ion-button>
  </ion-col>
</ion-row>

<ion-content>
  <ion-row>
    <ion-col size="12"
      class="card">
      <h1>Datos del cliente</h1>
      <ion-card class="container-user-card">
        <ion-card-header>
          <ion-avatar>
            <img src="{{orderMaster?.client.image}}" />
          </ion-avatar>
        </ion-card-header>
        <ion-card-content>
          <ion-label><strong>Nombre: </strong>{{orderMaster?.client.name}}</ion-label>
          <ion-label><strong>Email: </strong>{{orderMaster?.client.email}}</ion-label>
          <ion-label><strong>Teléfono: </strong>{{orderMaster?.client.phoneNumber}}</ion-label>
          <ion-label><strong>Nro identificación: </strong>{{orderMaster?.client.identificationDocument}}</ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12"
      class="card">
      <h1>Datos de la compra</h1>
      <ion-card class="container-user-card">
        <ion-card-header>
          <ion-avatar>
            <img src="{{orderDetail[0]?.product.image}} " />
          </ion-avatar>
        </ion-card-header>
        <ion-card-content>
          <ion-label><strong>Nombre del producto: </strong>{{orderDetail[0]?.product.name}}
          </ion-label>
          <ion-label><strong>Precio del producto:</strong>${{orderDetail[0]?.product.price}}
          </ion-label>
          <ion-label
            *ngIf="orderMaster?.coupons !== null && orderMaster?.coupons !== undefined && orderMaster?.coupons !== ''">
            <strong>Descuento aplicado:</strong>{{orderMaster?.coupons.percentage}}%
          </ion-label>
          <ion-label *ngIf="orderMaster?.coupons === null || orderMaster?.coupons === undefined"><strong>Descuento
              aplicado:</strong>Ninguno
          </ion-label>
          <ion-label *ngIf="orderMaster?.coupons !== null && orderMaster?.coupons !== undefined"><strong>Precio
              total:</strong>${{orderMaster?.price}}
          </ion-label>
          <ion-label *ngIf="orderMaster?.coupons === null || orderMaster?.coupons === undefined"><strong>Precio
              total:</strong>${{orderDetail[0]?.product.price}}
          </ion-label>
          <ion-label><strong>Descripcion:</strong> {{orderDetail[0]?.product.description}}
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row class="container-btn"
    *ngIf="orderMaster?.status !== 'completado' && user?.role === 'business'">
    <ion-button class="btn"
      routerLink="/online-store-chat/{{ transmitterEmail }}">
      Chatear con cliente
    </ion-button>
  </ion-row>

  <ion-row class="container-btn">
    <a href="https://wa.me/593{{orderMaster?.client.phoneNumber}}"
      class="whatsapp">
      <ion-icon name="logo-whatsapp"
        class="whatsapp-icon"></ion-icon>
    </a>
  </ion-row>
  <ion-row class="container-btn"
    *ngIf="orderMaster?.status !== 'pendiente' ">
    <ion-button (click)="navigateToPaymentDetail()"
      class="btn">Ver detalle de compra </ion-button>
  </ion-row>
</ion-content>