<app-secondary-header
  name="Historial de pedidos"
  url="/home/home-store/panel-store"
></app-secondary-header>
<ion-content>
  <ion-row>
    <ion-col size="12">
      <ion-searchbar
        placeholder="Buscar orden por estado"
        inputmode="text"
        (ionChange)="onSearchChange($event)"
        [debounce]="250"
        mode="md"
        animated
      ></ion-searchbar>
    </ion-col>
  </ion-row>
</ion-content>
