.cart-quantity {
  position: relative;
  right: 13px;
  bottom: 10px;
  width: 27px;
  height: 27px;
  background-color: var(--ion-color-primary);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.btn {
  background-color: var(--ion-color-primary);
  --color: white;
  border-radius: 5px;
}

.info-icon {
  font-size: 35px;
}

ion-toolbar {
  backdrop-filter: blur(8px);
  --padding-start: 1%;
  --padding-end: 5%;

  ion-buttons {
    margin-left: 4%;
  }

}

.icon-before-historial {
  font-size: 30px;
}
