<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{ name }}</ion-title>

    <ion-icon
      slot="icon-only"
      slot="start"
      (click)="onNavegate(url)"
      name="arrow-back-outline"
    ></ion-icon>

    <ion-buttons slot="end" *ngIf="icon === 'cart-outline'" (click)="navegateToShoopingCart()">
      <ion-icon class="cart" slot="icon-only" name="{{ icon }}"></ion-icon>
      <div class="cart-quantity">{{ cartQuantity }}</div>
    </ion-buttons>

    <ion-buttons
      slot="end"
      *ngIf="icon !== 'cart-outline' && icon !== undefined && icon !== 'subscription'"
      (click)="navegateToListOrderClient()"
    >
      <ion-icon
        slot="icon-only"
        class="icon-before-historial"
        *ngIf="icon === 'list-outline'"
        src="../../../../assets/images/pedidos.svg"
        name="{{ icon }}"
      ></ion-icon>
    </ion-buttons>

    <ion-buttons
      slot="end"
      *ngIf="icon !== 'cart-outline' && icon !== undefined && icon !== 'subscription'"
      (click)="navegateToListHistoryClient()"
    >
      <ion-icon
        slot="icon-only"
        *ngIf="secondIcon === 'time-outline'"
        src="../../../../assets/images/historial.svg"
      ></ion-icon>
    </ion-buttons>

    <ion-buttons
      slot="end"
      *ngIf="user?.role === 'business'"
      (click)="navegateToViewSuscriptions()"
    >
      <ion-button class="btn"> Suscribirte </ion-button>
    </ion-buttons>

    <ion-buttons slot="end" *ngIf="info" (click)="openTheInfoModal()">
      <ion-icon class="info-icon" name="information-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
