<app-secondary-header
  name="Actualizar publicaciones"
  url="/home/home-jobs/publications"
></app-secondary-header>

<ion-content class="ion-padding">
  <ion-row class="container-crud-img">
    <ion-item lines="none">
      <div class="crud-img" style="background-image: url({{publication.image}});">
        <ion-button> Subir imagen </ion-button>
      </div>
      <ion-input
        type="file"
        accept="image/png, image/jpeg"
        id="file-input"
        (change)="uploadImageTemporary($event)"
      ></ion-input>
    </ion-item>
  </ion-row>

  <div class="container-inputs">
    <ion-label class="label ion-text-uppercase" position="stacked">NOMBRE</ion-label>
    <ion-item>
      <ion-input name="user" type="text" [(ngModel)]="publication.name"></ion-input>
    </ion-item>
  </div>
  <div class="container-select">
    <ion-label class="label ion-text-uppercase">Contrato por:</ion-label>
    <ion-item>
      <ion-select
        name="gender"
        [(ngModel)]="publication.ContractFor"
        cancelText="Cancelar"
        name="role"
        value="client"
        okText="Aceptar"
      >
        <ion-select-option value="Tiempo Completo"><span>Tiempo Completo</span></ion-select-option>
        <ion-select-option value="Medio Tiempo"><span>Medio Tiempo</span></ion-select-option>
        <ion-select-option value="Tiempo Indefinido"
          ><span>Tiempo Indefinido</span></ion-select-option
        >
        <ion-select-option value="Eventual"><span>Eventual</span></ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <div class="container-inputs">
    <ion-label class="label ion-text-uppercase" position="stacked">Ciudad</ion-label>
    <ion-item>
      <ion-input name="user" type="text" [(ngModel)]="publication.city"></ion-input>
    </ion-item>
  </div>
  <div class="container-inputs">
    <ion-label class="label ion-text-uppercase">Años de Experiencia</ion-label>
    <ion-item>
      <ion-datetime
        displayFormat="m"
        placeholder="Tiempo de preparación"
        cancelText="Cancelar"
        doneText="Aceptar"
        [(ngModel)]="publication.experiensYears"
      ></ion-datetime>
    </ion-item>
  </div>
  <div class="container-inputs">
    <ion-label class="label ion-text-uppercase">Número de vacante</ion-label>
    <ion-item>
      <ion-datetime
        displayFormat="m"
        placeholder="Tiempo de preparación"
        cancelText="Cancelar"
        doneText="Aceptar"
        [(ngModel)]="publication.vacancyNumber"
      ></ion-datetime>
    </ion-item>
  </div>
  <div class="container-inputs">
    <ion-label class="label ion-text-uppercase" position="stacked">Salario $</ion-label>
    <ion-item>
      <ion-input
        type="number"
        pattern="[0-9]{11,14}"
        maxlength="13"
        [(ngModel)]="publication.salary"
      ></ion-input>
    </ion-item>
  </div>
  <div class="container-inputs">
    <ion-label class="label ion-text-uppercase" position="stacked">Educación Mínima</ion-label>
    <ion-item>
      <ion-input name="user" type="text" [(ngModel)]="publication.minimumEducation"></ion-input>
    </ion-item>
  </div>

  <div class="container-select">
    <ion-label class="label ion-text-uppercase">CATEGORÍAS</ion-label>
    <ion-item>
      <ion-select
        name="gender"
        cancelText="Cancelar"
        name="role"
        value="client"
        okText="Aceptar"
        [(ngModel)]="publication.category"
      >
        <div *ngFor="let category of categories; let i = index">
          <ion-select-option value="{{category?.name}}">{{category.name}}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>
  </div>

  <div class="container-inputs">
    <ion-label class="label ion-text-uppercase">DESCRIPCIÓN</ion-label>
    <ion-item>
      <ion-textarea [(ngModel)]="publication.description"></ion-textarea>
    </ion-item>
  </div>
  <div class="container-select">
    <ion-label class="label ion-text-uppercase">ESTADO</ion-label>
    <ion-item>
      <ion-select
        name="gender"
        [(ngModel)]="publication.isActive"
        cancelText="Cancelar"
        name="role"
        value="client"
        okText="Aceptar"
      >
        <ion-select-option value="true"><span>Público</span></ion-select-option>
        <ion-select-option value="false"><span>Oculto</span></ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <ion-row class="container-btn">
    <ion-button class="btn" (click)="updatePublication()"> Actualizar </ion-button>
  </ion-row>
  <ion-row class="container-btn">
    <ion-button class="btn" color="danger" (click)="cancelPublication()"> Cancelar </ion-button>
  </ion-row>
</ion-content>
