/* Estilos de las tarjeta */
.module-card {
  border-radius: 30px;
  height: 125px;
  font-weight: bold;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  // background: rgba(70, 130, 180,0.6);
  background: rgba($color: #000246, $alpha: 0.7);


  img,
  ion-avatar {
    width: 105px;
    height: 105px;
    z-index: 1;
    position: relative;
    bottom: 50px;

  }

  ion-avatar {
    --border-radius: 5px
  }

  .text {
    margin: 0px 0px;
    position: relative;
    bottom: 35px;
    font-size: 20px;
    text-align: center;
    color: white;
  }

  .text-skeleton {
    width: 80%;
    margin: 0px 0px 20px 0px;
  }

}




.quantity-circle {

  display: inline-block;
  padding: 4px;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 100%;
}
