<ion-card
  *ngIf="loading"
  class="module-card"
  (click)="goToOtherPage()"
  [ngStyle]="{ 'background-color': color }"
>
  <img class="delivery" src="{{ image }}" alt="" />
  <p class="text" *ngIf="quantityOrder === undefined" [ngStyle]="{ color: textColor }">
    {{ title }}
  </p>
  <div *ngIf="quantityOrder !== undefined">
    <p class="text" [ngStyle]="{ color: textColor }">
      {{ title }} <span class="quantity-circle">{{ quantityOrder }}</span>
    </p>
  </div>
</ion-card>

<ion-card *ngIf="!loading" class="module-card" [ngStyle]="{ 'background-color': color }">
  <ion-avatar>
    <ion-skeleton-text animated></ion-skeleton-text>
  </ion-avatar>
  <p class="text-skeleton"><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></p>
</ion-card>
