<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Vehiculo</ion-title>
    <ion-back-button slot="start" defaultHref="/home"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-inputs">
    <ion-label class="label ion-text-uppercase" position="stacked">Tipo del Vehiculo</ion-label>
    <ion-item>
      <ion-input name="user" type="text" [(ngModel)]="vehicle.typeVehice"></ion-input>
    </ion-item>
  </div>
  <div class="container-inputs">
    <ion-label class="label ion-text-uppercase" position="stacked">Color del Vehiculo</ion-label>
    <ion-item>
      <ion-input name="user" type="text" [(ngModel)]="vehicle.colorVehice"></ion-input>
    </ion-item>
  </div>
  <ion-row>
    <ion-col size="6">
      <ion-row class="container-crud-img">
        <ion-item lines="none">
          <div class="crud-img" style="background-image: url({{vehicle.imgPlate}});">
            <ion-button> Foto del la Placa </ion-button>
          </div>
          <ion-input
            type="file"
            accept="image/png, image/jpeg"
            id="file-input"
            (change)="changeListener($event,'imgPlate')"
          ></ion-input>
        </ion-item>
      </ion-row>
    </ion-col>
    <ion-col size="6">
      <ion-row class="container-crud-img">
        <ion-item lines="none">
          <div class="crud-img" style="background-image: url({{vehicle.imgVehice}});">
            <ion-button> Foto del Vehiculo</ion-button>
          </div>

          <ion-input
            type="file"
            accept="image/png, image/jpeg"
            id="file-input"
            (change)="changeListener($event,'imgVehice')"
          ></ion-input>
        </ion-item>
      </ion-row>
    </ion-col>
    <ion-col size="12">
      <ion-row class="container-crud-img">
        <ion-item lines="none">
          <div class="crud-img" style="background-image: url({{vehicle.imglicense}});">
            <ion-button>Foto del la licencia</ion-button>
          </div>

          <ion-input
            type="file"
            accept="image/png, image/jpeg"
            id="file-input"
            (change)="changeListener($event,'imglicense')"
          ></ion-input>
        </ion-item>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row class="container-btn">
    <ion-button class="btn" (click)="addDataOfMotorized()"> Guardar </ion-button>
  </ion-row>
</ion-content>
