<app-secondary-header
  name="Actualizar categoría"
  url="/home/panel-admin/category-jobs"
></app-secondary-header>

<ion-content>
  <form [formGroup]="form" (onSubmit)="updateCategory()">
    <div class="container-inputs">
      <ion-label class="label ion-text-uppercase" position="stacked">Nombre:</ion-label>
      <ion-item>
        <ion-input name="user" type="text" formControlName="name"></ion-input>
      </ion-item>
    </div>

    <div class="error" *ngIf="form.controls.name.errors && form.controls.name.touched">
      El campo nombre es requerido.
    </div>

    <div class="container-inputs">
      <ion-label class="label ion-text-uppercase" position="stacked">Descripción:</ion-label>
      <ion-item>
        <ion-input name="user" type="text" formControlName="description"></ion-input>
      </ion-item>
    </div>

    <div
      class="error"
      *ngIf="form.controls.description.errors && form.controls.description.touched"
    >
      El campo descripción es requerido.
    </div>

    <div class="container-select">
      <ion-label class="label ion-text-uppercase">Estado:</ion-label>
      <ion-item>
        <ion-select
          name="gender"
          formControlName="status"
          cancelText="Cancelar"
          name="role"
          value="client"
          okText="Aceptar"
        >
          <ion-select-option value="{{true}}">Público</ion-select-option>
          <ion-select-option value="{{false}}">Oculto</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <div class="error" *ngIf="form.controls.status.errors && form.controls.status.touched">
      El campo estado es requerido.
    </div>

    <ion-row class="container-btn">
      <ion-button
        (click)="updateCategory()"
        class="btn"
        expand="block"
        shape="round"
        [disabled]="!form.valid"
        >Actualizar</ion-button
      >
    </ion-row>
  </form>
</ion-content>
