ion-card {


  color: black;
  border-radius: 20px;

  .container-name {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: bold;
    width: 100%;

    ion-col {
      padding: 0px;

    }


    h1 {
      font-size: 18px;
      font-weight: 750;
    }


    .price {
      color: var(--ion-color-primary);

    }
  }


  ion-card-content {
    width: 100%;

    p {
      margin-top: 8px;
    }

  }

  ion-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px;
  }
}




ion-avatar {
  width: 100px;
  height: 100px;

  img {
    width: 100%;
  }

}
