<div class="container-card">
  <ion-card (click)="navigateToDetailProduct()">
    <ion-row>
      <ion-col size="4">
        <ion-card-header>
          <ion-avatar>
            <img src="{{ product.image }}" />
          </ion-avatar>
        </ion-card-header>
      </ion-col>

      <ion-col size="8">
        <ion-card-content>
          <div class="container-name">
            <h1>
              {{ product.name }}
            </h1>
            <h1 class="price">${{ product.price }}</h1>
          </div>
          <p><strong>Descripción: </strong> {{ reduceProductDescription(product.description) }}</p>
          <p><strong>Categoría: </strong> {{ product.typeOfSale }}</p>
          <p *ngIf="product.typeOfSale === 'Subasta' && product.status === 'finalizado'">
            <strong>Estado: </strong>
            <ion-label color="danger">Finalizado</ion-label>
          </p>

          <p *ngIf="product.typeOfSale === 'Subasta' && product.status === 'enproceso'">
            <strong>Estado: </strong>
            <ion-label color="success">En proceso</ion-label>
          </p>

          <p *ngIf="product.typeOfSale === 'Subasta' && product.status === 'pendiente'">
            <strong>Estado: </strong>
            <ion-label color="success">Sin comenzar</ion-label>
          </p>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-card>
</div>
