<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Actualizar categorias de restaurante</ion-title>
    <ion-icon slot="start" (click)="cancel()" name="arrow-back-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (onSubmit)="add()">
    <div class="container-inputs">
      <ion-label class="label ion-text-uppercase" position="stacked">Nombre:</ion-label>
      <ion-item>
        <ion-input name="user" type="text" formControlName="name"></ion-input>
      </ion-item>
    </div>

    <div class="error" *ngIf="form.controls.name.errors && form.controls.name.touched">
      El campo nombre es requerido.
    </div>

    <div class="container-inputs">
      <ion-label class="label ion-text-uppercase" position="stacked">Descripción:</ion-label>
      <ion-item>
        <ion-input name="user" type="text" formControlName="description"></ion-input>
      </ion-item>
    </div>
    <div
      class="error"
      *ngIf="form.controls.description.errors && form.controls.description.touched"
    >
      El campo descripción es requerido.
    </div>

    <div class="container-select">
      <ion-label class="label ion-text-uppercase">Estado:</ion-label>
      <ion-item>
        <ion-select
          formControlName="status"
          cancelText="Cancelar"
          name="role"
          value="client"
          okText="Aceptar"
        >
          <ion-select-option value="activo">Público</ion-select-option>
          <ion-select-option value="inactivo">Oculto</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <div class="error" *ngIf="form.controls.status.errors && form.controls.status.touched">
      Seleccione un estado.
    </div>
    <ion-row class="container-btn">
      <ion-button (click)="update()" type="submit" class="btn" [disabled]="!form.valid">
        Actualizar
      </ion-button>
    </ion-row>
  </form>
</ion-content>
