<app-secondary-header
  name="Categoría de empleos"
  url="/home/panel-admin/"
  [info]="true"
  infoMessage="En esta sección podrá gestionar todas las categorías de empleos."
></app-secondary-header>

<ion-row>
  <ion-col size="12">
    <ion-searchbar
      placeholder="Filtrar categorías por nombre"
      inputmode="text"
      type="decimal"
      (ionChange)="onSearchChange($event)"
      [debounce]="500"
      mode="md"
      animated
    ></ion-searchbar>
  </ion-col>
</ion-row>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navigateToCreateCategoryJobs()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div>
    <div *ngFor="let data of categoriesOnlineStore | filtro:searchText:'name'">
      <ion-card class="cruds-cart">
        <ion-card-content>
          <p><strong>Nombre: </strong>{{data.name}}</p>
          <p><strong>Estado: </strong>{{data.isActive? 'Público': 'Oculto'}}</p>
          <p><strong>Descripción: </strong>{{data.description}}</p>
          <ion-row>
            <ion-col size="6" class="container-btn-card">
              <ion-button color="warning" (click)="goToUpdateCategoryJobs(data)">
                <ion-icon name="create-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="6" class="container-btn-card">
              <ion-button color="danger" (click)="deleteCategory(data)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
