ion-card {

  border-radius: 10px;


  ion-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h2 {
      margin: 0px;
      font-size: 28px;
      font-weight: bold;
      color: #14386A;
    }

    p {
      margin: 0px;
      color: #333333;
      font-size: 28px;
      font-weight: bold;

    }
  }

  ion-card-content {

    color: black;

    h2 {
      font-weight: bold;
      font-size: 24px;

      margin: 0px;
    }

    p,
    ion-label {
      font-size: 20px;
      margin: 0px;
    }

    ion-note {
      font-size: 20px;
      margin: 0px;
    }

    .btn-edit {
      --background: var(--ion-color-primary);
      --box-shadow: 0px 3px 3px rgba($color:#000000, $alpha: 0.3);
      --border-radiuss: 10px;
      margin-top: 5%;
      width: 100%;
      height: 40px;
    }



  }


}
