<ion-card>
  <ion-card-header>
    <h2>{{ subscription.name }}</h2>
    <p>${{ subscription.price }}</p>
  </ion-card-header>
  <ion-card-content>
    <p><strong>Numero de publicaciones:</strong> {{ subscription.numberPublic }}</p>
    <p><strong>Descripción:</strong> {{ subscription.description }}</p>
    <ion-button (click)="goToCheckoutSuscription()" class="btn-edit"> Suscribirme </ion-button>
  </ion-card-content>
</ion-card>
