<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="assets/images/logoRuah.png" />
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-slide>
    <div class="card-contaier">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1>Recuperar tu cuenta</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-item [ngClass]="{'ion-item-error': errors.email}">
                <ion-icon name="mail" class="ion-margin-end"></ion-icon>
                <ion-input
                  name="user"
                  type="text"
                  [(ngModel)]="user.email"
                  required
                  placeholder="Correo electrónico"
                ></ion-input>
              </ion-item>
              <div class="input-error ion-margin-top" *ngIf="errors.email">
                <span><ion-icon name="alert-circle-outline"></ion-icon> {{errors.email}}</span>
              </div>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="container-bt">
            <ion-button class="btn" type="submit" (click)="resetPasswordUser()">
              <ion-icon name="lock-closed-outline" class="ion-margin-end"></ion-icon>
              Enviar correo
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>
              <ion-router-link class="login-link" routerLink="/login"
                >Iniciar sesión</ion-router-link
              >
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-slide></ion-content
>
