<app-secondary-header
  name="Historial de pedidos"
  url="/home/panel-delivery"
  [info]="true"
  infoMessage="En esta sección podrá ver todos los pedidos completados."
></app-secondary-header>

<ion-searchbar
  placeholder="Buscar pedido por nro de orden"
  inputmode="text"
  (ionChange)="onSearchChange($event)"
  [debounce]="250"
  mode="md"
  animated
></ion-searchbar>

<ion-content>
  <div *ngIf="orderMasters?.length === 0">
    <ion-row class="container-msg">
      <img src="../../../../assets/images/no-subscriptions.png" alt="" />
      <div class="container-info">
        <h1>No hay pedidos completados</h1>
      </div>
    </ion-row>
  </div>
  <app-order-card
    *ngFor="let orderMaster of orderMasters  | filtro:searchText:'nroOrder'"
    [orderMaster]="orderMaster"
    typeUser="client"
  ></app-order-card>
</ion-content>
