<app-secondary-header
  name="Carrito de {{user.name | titlecase}} "
  url="home/home-delivery/product-delivery/{{userUid}}"
></app-secondary-header>

<ion-content>
  <div *ngIf="orderDetails.length !==0">
    <div class="ion-text-center">
      <label class="slide" *ngIf="idtax!=''">
        <ion-icon name="repeat-outline"></ion-icon>
        Desliza para borrar
      </label>
    </div>
    <app-product-cart
      *ngFor="let orderDetail of orderDetails"
      [orderDetail]="orderDetail"
      (valueResponse)="deleteOrderDetail($event)"
      (orderDetailToUpdate)="updateDetailProduct($event)"
    ></app-product-cart>

    <ion-row class="container-total-price">
      <h1><strong>Total de compra:</strong> ${{totalPrice | number}}</h1>
    </ion-row>

    <ion-row class="container-btn">
      <ion-button class="btn" (click)="goToCheckoutLocation()">
        Continuar con la compra
      </ion-button>

      <ion-button class="btn" (click)="goToProductDelivery()">
        Seguir añadiendo productos
      </ion-button>

      <!-- <ion-header class="ion-no-border">
        <ion-toolbar>
          <ion-back-button class="label"
            mode="md"
            text="Verificar Dirección"
            slot="start"
            defaultHref="/home">
          </ion-back-button>
        </ion-toolbar>
      </ion-header> -->
    </ion-row>
  </div>

  <div *ngIf="orderDetails.length === 0">
    <img src="../../../../assets/images/no-cart.png" alt="" />
    <ion-row class="container-msg">
      <div class="container-info">
        <h1>Su carrito de compras esta vacío</h1>
      </div>
    </ion-row>

    <ion-row class="container-btn">
      <ion-button class="btn" (click)="goToProductDelivery()">
        Agregar productos al carrito
      </ion-button>
    </ion-row>
  </div>
</ion-content>
