label {
  font-weight: bold;
}

.btn {
  width: 90%;
}

.container-total-price {
  margin-top: 30px;

  h1 {
    padding-left: 7%;
  }
}

.container-msg {
  justify-content: center;

  h1 {
    font-weight: bold;
    text-align: center;
    color: var(--ion-color-primary);
  }

}
