<app-secondary-header
  name="Suscripciones"
  url="/home/panel-admin/"
  [info]="true"
  infoMessage="En esta sección podrá gestionar las suscripciones de bolsa de empleo y tienda online."
></app-secondary-header>

<ion-row>
  <ion-col size="12">
    <ion-searchbar
      placeholder="Filtrar por nombre de Subscripción"
      inputmode="text"
      type="decimal"
      (ionChange)="onSearchChange($event)"
      [debounce]="500"
      mode="md"
      animated
    ></ion-searchbar>
  </ion-col>
</ion-row>
<ion-content>
  <div *ngFor="let data of subscription | filtro:searchText:'name'">
    <ion-card class="cruds-cart">
      <ion-card-content>
        <p><strong>Nombre: </strong>{{data.name}}</p>
        <p><strong>Módulo: </strong>{{renderModuleName(data.module)}}</p>
        <p><strong>Precio: </strong>{{data.price}}</p>
        <p><strong>Número de publicación: </strong>{{data.numberPublic}}</p>
        <p><strong>Estado: </strong>{{data.isActive? 'Público': 'Oculto'}}</p>
        <p><strong>Descripción: </strong>{{data.description }}</p>
        <ion-row>
          <ion-col size="6" class="container-btn-card">
            <ion-button color="warning" (click)="onUpdateSubscription(data.uid)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="6" class="container-btn-card">
            <ion-button color="danger" (click)="onDeleteSubscription(data.uid)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onCreateBanner()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
