.card {
  .name-order {
    margin-left: 20px;
    text-align: left;
  }
}

.color-order {
  color: var(--ion-color-primary);
}

.container-btn {
  .btn {
    width: 90%;
    font-size: 12px;
  }
}

.btn-ws {
  width: 90%;
  font-size: 12px;
}

.whatsapp {
  border-radius: 10px;
  width: 90%;
  height: 40px;
  bottom: 40px;
  right: 10px;
  background-color: #25d366;
  color: #fff;
  text-align: center;
  font-size: 40px;
}

.card {
  h2 {
    margin-left: 20px;
  }
}

.price {
  margin-left: 20px;
}

.plate-vehicle-img {
  height: 30%;
  width: 100%;
  margin-bottom: 0px;
}

.motorized-asignated-card {
  height: 280px;
}
