<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Detalle de pedido</ion-title>
    <ion-back-button slot="start"
      defaultHref="/home"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="card">
    <h1>Nro Orden: <span class="color-order">#{{orderMaster.nroOrder}}</span></h1>
  </ion-row>

  <ion-row>
    <ion-col size="12"
      class="card">
      <h1>Datos del Restaurante</h1>
      <ion-card class="container-user-card">
        <ion-card-header>
          <ion-avatar>
            <img src="{{enterprise.image}}" />
          </ion-avatar>
        </ion-card-header>
        <ion-card-content>
          <ion-label><strong>Nombre: </strong>{{enterprise.name}} </ion-label>
          <ion-label><strong>Dirección: </strong>{{enterprise.address}} </ion-label>
          <ion-label><strong>Email: </strong>{{enterprise.email}} </ion-label>
          <ion-label><strong>Teléfono: </strong>{{enterprise.phoneNumber}} </ion-label>
          <ion-label><strong>Fecha de pedido: </strong>{{orderMaster.date | date:'dd/MM/yyyy' }}
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>



    <ion-col size="6"
      class="container-btn">
      <ion-button routerLink="chat/{{ receiberRestaurantEmail }}"
        class="btn">
        Chat a restaurante
      </ion-button>
    </ion-col>

    <ion-col size="6"
      class="container-btn">
      <ion-button routerLink="chat/{{ receiberMotorizedEmail }}"
        class="btn"
        [disabled]="deliveryStatus != 'encamino'">
        Chat a motorizado
      </ion-button>
    </ion-col>

    <ion-col size="6"
      class="container-btn">
      <a href="https://wa.me/593{{enterprise.phoneNumber}}"
        class="whatsapp">
        <ion-icon name="logo-whatsapp"
          class="whatsapp-icon"></ion-icon>
      </a>
    </ion-col>


    <ion-col size="6"
      class="container-btn">
      <a *ngIf="deliveryStatus == 'encamino'"
        href="https://wa.me/593{{motorized.phoneNumber}}"
        class="whatsapp">
        <ion-icon name="logo-whatsapp"
          class="whatsapp-icon"></ion-icon>
      </a>
    </ion-col>

    <ion-col size="12"
      class="card">
      <h1>Tiempo de preparación</h1>
      <h2>{{orderMaster.preparationTime | date:'mm:ss'}} Minutos</h2>
    </ion-col>

    <ion-col size="12"
      class="card"
      *ngIf="motorized !== null">
      <h1>Motorizado Asignado</h1>
      <ion-card class="container-user-card">
        <ion-card-header>
          <ion-avatar>
            <img src="{{motorized.image ? motorized.image :'../../../../../../assets/images/profiledefaul.png'}}" />
          </ion-avatar>
        </ion-card-header>
        <ion-card-content class="motorized-asignated-card">
          <ion-label><strong>Nombre: </strong>{{motorized.name}} </ion-label>
          <ion-label><strong>Número de teléfono: </strong>{{motorized.phoneNumber}} </ion-label>
          <ion-label><strong>Nro identificación: </strong>{{motorized.identificationDocument}}
          </ion-label>
          <ion-label><strong>Color del vehículo: </strong>{{motorized.vehicle.colorVehice}} </ion-label>
          <ion-label><strong>Modelo del vehículo: </strong>{{motorized.vehicle.typeVehice}} </ion-label>
          <ion-label><strong>Placa del vehículo:</strong></ion-label>
          <img class="plate-vehicle-img"
            src="{{motorized.vehicle.imgPlate ? motorized.vehicle.imgPlate :'../../../../../../assets/images/plate-default.png'}}">
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12"
      class="card">
      <h1>Pago por productos</h1>
      <ion-card class="container-user-card">
        <ion-card-content>
          <ion-item *ngIf="orderMaster.coupons?.percentage !== null && orderMaster.coupons?.percentage !== '' "
            class="ion-item-checkout">
            <ion-label><strong>Cupón aplicado:</strong>{{orderMaster.coupons?.percentage}}%</ion-label>
          </ion-item>
          <ion-item class="ion-item-checkout">
            <ion-label><strong>Total:</strong>${{totalPrice | number: '1.2-2'}}</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12"
      class="card">
      <h1>Pago por delivery</h1>
      <ion-card class="container-user-card">
        <ion-card-content>
          <ion-item class="ion-item-checkout">
            <ion-label><strong>Distancia:</strong>{{kilometres}}km</ion-label>
          </ion-item>
          <ion-item class="ion-item-checkout">
            <ion-label><strong>Total:</strong>${{costDeliverIva | number: '1.2-2'}}</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <h1 class="price"><strong>Total a pagar:</strong> ${{(totalPrice +costDeliverIva) | number: '1.2-2'}}</h1>

  <ion-row *ngIf="orderMaster.voucher !== ''">
    <ion-col size="12"
      class="card">
      <h1>Comprobante</h1>
      <div class="container-img-voucher">
        <div class="img-voucher"
          style="background-image: url({{orderMaster.voucher}});"></div>
      </div>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="orderMaster.status === 'completado'">
    <ion-col size="6"
      class="container-btn">
      <ion-button class="btn"
        (click)="seeDeatilOrder()"> Ver detalle </ion-button>
    </ion-col>

    <ion-col size="6"
      class="container-btn">
      <ion-button class="btn"
        (click)="writeReview()"> Calificar servicio </ion-button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="orderMaster.status !== 'completado'">
    <ion-col size="12"
      class="container-btn">
      <ion-button class="btn"
        (click)="seeDeatilOrder()"> Ver detalle </ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="container-btn"
    *ngIf="orderMaster.status =='encamino'">
    <ion-button class="btn"
      (click)="navigateToMapProgressClient()"> Seguir mi pedido</ion-button>
  </ion-row>
  <ion-row class="container-btn"
    *ngIf="orderMaster.status =='pendiente'">
    <ion-button class="btn"
      color="danger"
      (click)="updateStautsOrderMaster()">
      Cancelar orden</ion-button>
  </ion-row>
</ion-content>