<app-secondary-header
  name="Categorías de delivery"
  url="/home/panel-admin/"
  [info]="true"
  infoMessage="En esta sección podrá gestionar las categorías de los restaurantes"
></app-secondary-header>

<ion-content>
  <form [formGroup]="form" (onSubmit)="add()">
    <div class="container-inputs">
      <ion-label class="label ion-text-uppercase" position="stacked">Nombre:</ion-label>
      <ion-item>
        <ion-input name="user" type="text" formControlName="name"></ion-input>
      </ion-item>
    </div>

    <div class="error" *ngIf="form.controls.name.errors && form.controls.name.touched">
      El campo nombre es requerido.
    </div>

    <div class="container-inputs">
      <ion-label class="label ion-text-uppercase" position="stacked">Descripción:</ion-label>
      <ion-item>
        <ion-input name="user" type="text" formControlName="description"></ion-input>
      </ion-item>
    </div>

    <div
      class="error"
      *ngIf="form.controls.description.errors && form.controls.description.touched"
    >
      El campo descripción es requerido.
    </div>

    <div class="container-select">
      <ion-label class="label ion-text-uppercase">Estado:</ion-label>
      <ion-item>
        <ion-select
          name="gender"
          formControlName="status"
          cancelText="Cancelar"
          name="role"
          value="client"
          okText="Aceptar"
        >
          <ion-select-option value="activo">Público</ion-select-option>
          <ion-select-option value="inactivo">Oculto</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <div class="error" *ngIf="form.controls.status.errors && form.controls.status.touched">
      Seleccione un estado.
    </div>
    <ion-row class="container-btn">
      <ion-button
        (click)="add()"
        class="btn"
        type="submit"
        expand="block"
        shape="round"
        [disabled]="!form.valid"
      >
        Guardar
      </ion-button>
    </ion-row>
  </form>
  <ion-searchbar
    class="sticky"
    placeholder="Filtrar categoría por nombre"
    inputmode="text"
    type="decimal"
    (ionChange)="onSearchChange($event)"
    [debounce]="250"
    mode="md"
    animated
  ></ion-searchbar>
  <app-restaurant-category-card
    *ngFor="let category of categories | async | filtro:searchText:'name'"
    [name]="category.name"
    [status]="category.isActive"
    [description]="category.description"
    [categoryId]="category.categoryId"
  >
  </app-restaurant-category-card>
</ion-content>
