<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/home/home-marketplace"></ion-back-button>

    <ion-title>Panel Market-Place</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="primary">
    <ion-label> Gestionar Market-Place </ion-label>
    <ion-icon slot="end" src="../../../../assets/images/panel-marketplace.svg"></ion-icon>
  </ion-item>

  <ion-row class="container-cards">
    <ion-col size="10">
      <app-panel-card
        image="../../../../assets/images/marketplacesproduct.png"
        name="Productos "
        (click)="addproductorRouter()"
      ></app-panel-card>
    </ion-col>
  </ion-row>
  <ion-row class="container-cards">
    <ion-col size="10">
      <app-panel-card
        image="../../../../assets/images/puja.png"
        name="Mis Pujas"
        (click)="seeAuction()"
      ></app-panel-card>
    </ion-col>
  </ion-row>
</ion-content>
