<app-secondary-header url="/home/home-store" name="Listado de pedidos"></app-secondary-header>
<ion-searchbar
  placeholder="Buscar pedido por nro de orden"
  inputmode="text"
  (ionChange)="onSearchChange($event)"
  [debounce]="250"
  mode="md"
  animated
></ion-searchbar>
<ion-content>
  <div *ngIf="orderMasters?.length === 0">
    <ion-row class="container-msg">
      <img src="../../../../assets/images/no-subscriptions.png" alt="" />
      <div class="container-info">
        <h1>No se ha hecho ningun pedido</h1>
      </div>
    </ion-row>
    <ion-row class="container-btn">
      <ion-button class="btn" (click)="goToHomeStore()"> Hacer pedido </ion-button>
    </ion-row>
  </div>
  <app-order-card
    *ngFor="let orderMaster of orderMasters | filtro:searchText:'name'"
    [orderMaster]="orderMaster"
    typeUser="clientOrderDetail"
  ></app-order-card>
</ion-content>
