<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/home/home-marketplace/products"></ion-back-button>

    <ion-title>Actualizar de productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row class="container-crud-img">
    <ion-item lines="none">
      <div class="crud-img" style="background-image: url({{product.image}});">
        <ion-button> Subir imagen </ion-button>
      </div>
      <ion-input
        type="file"
        accept="image/png, image/jpeg"
        id="file-input"
        (change)="uploadImageTemporary($event)"
      ></ion-input>
    </ion-item>
  </ion-row>

  <div class="container-inputs">
    <ion-label class="label ion-text-uppercase" position="stacked">NOMBRE</ion-label>
    <ion-item>
      <ion-input name="user" type="text" [(ngModel)]="product.name"></ion-input>
    </ion-item>
  </div>

  <div class="container-inputs">
    <ion-label class="label ion-text-uppercase" position="stacked">PRECIO</ion-label>
    <ion-item>
      <ion-input
        type="number"
        pattern="[0-9]{11,14}"
        required
        min="10"
        max="13"
        [(ngModel)]="product.price"
      ></ion-input>
    </ion-item>
  </div>

  <div class="container-select">
    <ion-label class="label ion-text-uppercase">CATEGORÍAS</ion-label>
    <ion-item>
      <ion-select
        name="gender"
        cancelText="Cancelar"
        name="role"
        value="client"
        okText="Aceptar"
        [(ngModel)]="product.category"
      >
        <div *ngFor="let category of categories; let i = index">
          <ion-select-option value="{{category.name}}">{{category.name}}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>
  </div>

  <div class="container-inputs">
    <ion-label class="label ion-text-uppercase">DESCRIPCIÓN</ion-label>
    <ion-item>
      <ion-textarea [(ngModel)]="product.description"></ion-textarea>
    </ion-item>
  </div>
  <div class="container-select">
    <ion-label class="label ion-text-uppercase">Tipo de venta</ion-label>
    <ion-item>
      <ion-select
        name="gender"
        cancelText="Cancelar"
        name="role"
        value="client"
        [(ngModel)]="product.typeOfSale"
        okText="Aceptar"
      >
        <ion-select-option value="Venta"><span>Venta</span></ion-select-option>
        <ion-select-option value="Trueque"><span>Trueque</span></ion-select-option>
        <ion-select-option value="Subasta"><span>Subasta</span></ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <div class="container-inputs" *ngIf="product.typeOfSale=='Subasta'">
    <ion-label class="label ion-text-uppercase" position="stacked">FECHA DE INICIO</ion-label>

    <ion-item>
      <ion-datetime
        cancelText="Cancelar"
        doneText="Aceptar"
        [(ngModel)]="product.dateStart"
        [dayShortNames]="customDayShortNames"
        displayFormat="DDD.  DD MMM, YYYY"
        monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
      >
      </ion-datetime>
    </ion-item>
  </div>
  <div class="container-inputs" *ngIf="product.typeOfSale=='Subasta'">
    <ion-label class="label ion-text-uppercase" position="stacked">FECHA DE FIN</ion-label>

    <ion-item>
      <ion-datetime
        cancelText="Cancelar"
        doneText="Aceptar"
        [(ngModel)]="product.dateEnd"
        [dayShortNames]="customDayShortNames"
        displayFormat="DDD.  DD MMM, YYYY"
        monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
      >
      </ion-datetime>
    </ion-item>
  </div>

  <div class="container-select">
    <ion-label class="label ion-text-uppercase">ESTADO</ion-label>
    <ion-item>
      <ion-select
        name="gender"
        [(ngModel)]="product.isActive"
        cancelText="Cancelar"
        name="role"
        value="client"
        okText="Aceptar"
      >
        <ion-select-option value="true"><span>Público</span></ion-select-option>
        <ion-select-option value="false"><span>Oculto</span></ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <ion-row class="container-btn">
    <ion-button class="btn" (click)="updateProductsByUid()"> Actualizar </ion-button>
  </ion-row>
  <ion-row class="container-btn">
    <ion-button class="btn" color="danger" (click)="cancelProduct()"> Cancelar </ion-button>
  </ion-row>
</ion-content>
