<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Progreso de delivery</ion-title>
    <ion-back-button slot="start" defaultHref="/home"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <div #motorizedmap id="motorizedmap"></div>
    <ion-row class="container-btn">
      <ion-col size="6">
        <ion-button class="btn" (click)="navegateA()"> Navegar punto A </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="btn" (click)="navegateB()"> Navegar punto b </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="container-btn">
      <ion-button class="btn" (click)="updateStautsOrderMaster()">Completar Delivery </ion-button>
    </ion-row>
  </ion-content>
</ion-content>
