<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Subir Imagenes</ion-title>
    <ion-buttons slot="start" (click)="closeModal()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="container">
    <ion-col size="6">
      <div
        class="container-upload-img"
        style="background-image:url({{ imageProducts.image1.url }})"
      >
        <div class="delete" (click)="deleteImage(1)">
          <ion-icon name="close-outline"></ion-icon>
        </div>
        <ion-input
          type="file"
          #myInput
          accept="image/png, image/jpeg"
          id="file-input"
          (change)="uploadImageTemporary($event, 1)"
          ClearOnEdit="true"
        ></ion-input>
        <div class="upload">
          <ion-icon name="add-outline"></ion-icon>
        </div>
      </div>
    </ion-col>
    <ion-col size="6">
      <div
        class="container-upload-img"
        style="background-image:url({{ imageProducts.image2.url }})"
      >
        <div class="delete" (click)="deleteImage(2)">
          <ion-icon name="close-outline"></ion-icon>
        </div>
        <ion-input
          type="file"
          #myInput2
          accept="image/png, image/jpeg"
          id="file-input"
          (change)="uploadImageTemporary($event, 2)"
        ></ion-input>
        <div class="upload">
          <ion-icon name="add-outline"></ion-icon>
        </div>
      </div>
    </ion-col>
    <ion-col size="6">
      <div
        class="container-upload-img"
        style="background-image:url({{ imageProducts.image3.url }})"
      >
        <div class="delete" (click)="deleteImage(3)">
          <ion-icon name="close-outline"></ion-icon>
        </div>
        <ion-input
          type="file"
          #myInput3
          accept="image/png, image/jpeg"
          id="file-input"
          (change)="uploadImageTemporary($event, 3)"
        ></ion-input>
        <div class="upload">
          <ion-icon name="add-outline"></ion-icon>
        </div>
      </div>
    </ion-col>
    <ion-col size="6">
      <div
        class="container-upload-img"
        style="background-image:url({{ imageProducts.image4.url }})"
      >
        <div class="delete" (click)="deleteImage(4)">
          <ion-icon name="close-outline"></ion-icon>
        </div>
        <ion-input
          type="file"
          #myInput4
          accept="image/png, image/jpeg"
          id="file-input"
          (change)="uploadImageTemporary($event, 4)"
        ></ion-input>
        <div class="upload">
          <ion-icon name="add-outline"></ion-icon>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="container-btn">
      <ion-button (click)="addProductImages()" class="btn"> Subir Imagenes </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
