.container-upload-img {
  width: 200px;
  height: 200px;
  border: 2px dashed #000365;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .upload {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    color: white;
    font-size: 30px;
    border-radius: 100%;
    background-color: var(--ion-color-primary);
  }

  .delete {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: var(--ion-color-primary);
    position: relative;
    z-index: 100000;
    bottom: 87px;
    left: 63%;
    color: white;
  }
}

.container {
  align-items: center;
  justify-content: center;
  ion-col {
    display: flex;
    justify-content: center;
  }
}
