<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Pagar suscripción</ion-title>
    <ion-back-button slot="start" defaultHref="/home"></ion-back-button>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-row>
    <ion-col size="12" class="card">
      <h1>Mis datos</h1>
      <ion-card class="container-user-card">
        <ion-card-header>
          <ion-avatar>
            <img src="{{user?.image}}" />
          </ion-avatar>
        </ion-card-header>
        <ion-card-content>
          <ion-label><strong>Nombre: </strong>{{user?.name | titlecase}} </ion-label>
          <ion-label><strong>Numero de teléfono: </strong>{{user?.phoneNumber}} </ion-label>
          <ion-label><strong>Dirección:</strong> {{user?.address}} </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" class="card">
      <h1>Seleccionar cupón</h1>
      <ion-card class="container-user-card">
        <ion-card-content>
          <ion-select
            placeholder="Cupón"
            value=""
            [(ngModel)]="selectCoupons"
            (ionChange)="couponsSelect()"
          >
            <ion-select-option value="">Seleccione un cupón</ion-select-option>
            <div *ngFor="let data of coupons; let i = index">
              <ion-select-option [value]="data"
                >Descuento de {{data.percentage}}%</ion-select-option
              >
            </div>
          </ion-select>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" class="card">
      <h1>Datos de la suscripción</h1>
      <ion-card class="container-user-card">
        <ion-card-header>
          <ion-avatar>
            <img src="../../../../assets/images/subscribe.png" />
          </ion-avatar>
        </ion-card-header>
        <ion-card-content>
          <ion-label><strong>Nombre: </strong>{{subscription?.name}} </ion-label>
          <ion-label><strong>Precio: </strong>${{totalPrice | number: '1.2-2' }} </ion-label>
          <ion-label><strong>Descripcion:</strong> {{subscription?.description}} </ion-label>
          <ion-label
            ><strong>Numero de publicaciones:</strong> {{subscription?.numberPublic}}
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" class="card">
      <h1>Forma de pago</h1>

      <ion-card class="container-user-card">
        <ion-radio-group
          allow-empty-selection="true"
          name="radio-group"
          (ionChange)=" radioGroupMethodChange($event)"
          #radioGroup
        >
          <ion-item class="ion-item-checkout">
            <ion-radio value="Transferencia"></ion-radio>
            <ion-icon class="icon pink-color" name="business-outline"></ion-icon>
            <ion-label>Transferencia</ion-label>
          </ion-item>
          <!--      <ion-item lines="none"
            class="ion-item-checkout">
            <ion-radio value="Efectivo"></ion-radio>
            <ion-icon class="icon blue-color" name="cash-outline"></ion-icon>
            <ion-label>Efectivo</ion-label>
          </ion-item> -->
        </ion-radio-group>
      </ion-card>
    </ion-col>
    <ion-col size="12" class="card" *ngIf="method == 'Transferencia'  ">
      <h1>Datos del banco</h1>
      <div class="ion-text-left">
        <ion-card class="container-user-card">
          <ion-card-content>
            <ion-list>
              <ion-item class="ion-item-checkout">
                <ion-label><strong>Banco:</strong> {{bankAccounts[0].nameBank}}</ion-label>
              </ion-item>
              <ion-item class="ion-item-checkout">
                <ion-label
                  ><strong>Tipo de cuenta:</strong>{{bankAccounts[0].accountType}}</ion-label
                >
              </ion-item>
              <ion-item class="ion-item-checkout">
                <ion-label><strong>Titular:</strong> {{bankAccounts[0].ownerName}}</ion-label>
              </ion-item>
              <ion-item class="ion-item-checkout">
                <ion-label
                  ><strong>Numero de cuenta:</strong>{{bankAccounts[0].accountNumber}}</ion-label
                >
              </ion-item>
              <ion-item class="ion-item-checkout">
                <ion-label><strong>Email:</strong>{{bankAccounts[0].accountOwnerEmail}}</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
        <h1>Subir comprobante</h1>
        <div class="input-file-vocuher-container">
          <ion-input
            type="file"
            accept="image/*"
            (change)="uploadImageTemporary($event)"
            class="input-file"
          ></ion-input>
          <ion-text>Agregar comprobante</ion-text>
          <ion-icon name="add-outline"></ion-icon>
        </div>
        <div class="container-img-voucher">
          <div
            class="img-voucher"
            *ngIf="orderSubscritions.voucher  !== ''"
            style="background-image: url({{orderSubscritions.voucher}});"
          ></div>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <!-- <h1><strong>Total a pagar:</strong> ${{(totalPrice +costDeliverIva) | number}}</h1> -->
  <ion-row class="container-btn">
    <ion-button class="btn" (click)="addOrderSubscrition()"> Pagar </ion-button>
  </ion-row>
</ion-content>
