.card {
  .name-order {
    margin-left: 20px;
    text-align: left;
  }
}

.color-order {
  color: var(--ion-color-primary);
}

.container-btn {
  .btn {
    width: 90%;
  }

  ion-col {
    display: flex;
    justify-content: center;
  }
}

.container-status {
  .container-advertising {
    background: #f34c4c;
    color: white;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    font-weight: bold;
  }
}

.whatsapp {
  border-radius: 10px;
  width: 90%;
  height: 40px;
  bottom: 40px;
  right: 10px;
  background-color: #25d366;
  color: #fff;
  text-align: center;
  font-size: 40px;
}
