<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Detalle de pedido</ion-title>
    <ion-back-button slot="start"
      defaultHref="/home/panel-delivery/list-order-delivery"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-row class="container-status">
  <ion-col size="12"
    class="container-advertising">
    <p>Actualizar el estado a listo 10 minutos antes para informar al motorizado😀</p>
  </ion-col>
  <ion-col size="6"
    class="container-select">
    <ion-item>
      <ion-select name="gender"
        cancelText="Cancelar"
        name="role"
        value="client"
        okText="Aceptar"
        [(ngModel)]="status">
        <ion-select-option value="pendiente"><span>Pendiente</span></ion-select-option>
        <ion-select-option value="recibido"><span>Recibido</span></ion-select-option>
        <ion-select-option value="preparacion"><span>En preparación</span></ion-select-option>
        <ion-select-option value="listo"><span>Listo</span></ion-select-option>
        <ion-select-option disabled="true"
          value="encamino"><span>En camino</span></ion-select-option>
        <ion-select-option value="cancelado"><span>Cancelar</span></ion-select-option>
      </ion-select>
    </ion-item>
  </ion-col>
  <ion-col size="6"
    class="container-btn">
    <ion-button class="btn"
      (click)="updateStautsOrderMaster()"> Actualizar </ion-button>
  </ion-col>
</ion-row>

<ion-content>
  <ion-row class="card">
    <h1>Nro Orden: <span class="color-order">#{{orderMaster.nroOrder}}</span></h1>
  </ion-row>

  <ion-row>
    <ion-col size="12"
      class="card">
      <h1>Datos del cliente</h1>
      <ion-card class="container-user-card">
        <ion-card-header>
          <ion-avatar>
            <img src="{{user.image}}" />
          </ion-avatar>
        </ion-card-header>
        <ion-card-content>
          <ion-label><strong>Nombre: </strong>{{user.name}} </ion-label>
          <ion-label><strong>Email: </strong>{{user.email}} </ion-label>
          <ion-label><strong>Teléfono: </strong>{{user.phoneNumber}} </ion-label>
          <ion-label><strong>Fecha de pedido: </strong>{{orderMaster.date | date:'dd/MM/yyyy' }}
          </ion-label>
          <ion-label><strong>Nro identificación: </strong>{{user.identificationDocument}}
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="6"
      class="container-btn"
      *ngIf="userSession?.role !== 'administrator'">
      <ion-button routerLink="chat/{{ transmitterEmail }}/{{ isTransmitter }}"
        class="btn">
        Chat con cliente
      </ion-button>
    </ion-col>

    <ion-col size="6"
      class="container-btn"
      *ngIf="userSession?.role !== 'administrator'">
      <ion-button routerLink="chat/{{ receiberRestaurantEmail }}/{{ isTransmitterOfMotorized }}"
        class="btn"
        [disabled]="deliveryStatus != 'encamino'">
        Chat con motorizado
      </ion-button>
    </ion-col>


    <ion-col size="6"
      class="container-btn">
      <a href="https://wa.me/593{{user.phoneNumber}}"
        class="whatsapp">
        <ion-icon name="logo-whatsapp"
          class="whatsapp-icon"></ion-icon>
      </a>
    </ion-col>

    <ion-col size="6"
      class="container-btn"
      *ngIf="userSession?.role !== 'administrator'">
      <a *ngIf="deliveryStatus == 'encamino'"
        href="https://wa.me/593{{motorized.phoneNumber}}"
        class="whatsapp">
        <ion-icon name="logo-whatsapp"
          class="whatsapp-icon"></ion-icon>
      </a>
    </ion-col>

    <ion-col size="12"
      class="card"
      *ngIf="orderMaster.status != 'completado'">
      <h1>Tiempo de preparación(Minutos)</h1>
      <ion-item>
        <ion-datetime placeholder="Agregue el tiempo de preparación"
          displayFormat="m"
          cancelText="Cancelar"
          doneText="Aceptar"
          minuteValues="0,10,20,30,40,50,59"
          [(ngModel)]="orderMaster.preparationTime"></ion-datetime>
      </ion-item>
    </ion-col>

    <ion-col size="12"
      class="card"
      *ngIf="motorized !== null">
      <h1>Motorizado Asignado</h1>
      <ion-card class="container-user-card">
        <ion-card-header>
          <ion-avatar>

            <img src="{{motorized.image ? motorized.image :'../../../../../../assets/images/profiledefaul.png'}}" />
          </ion-avatar>
        </ion-card-header>
        <ion-card-content>
          <ion-label><strong>Nombre: </strong>{{motorized.name}} </ion-label>
          <ion-label><strong>Numero de teléfono: </strong>{{motorized.phoneNumber}} </ion-label>
          <ion-label><strong>Nro identificación: </strong>{{motorized.identificationDocument}}
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row class="container-address">
    <ion-col size="12">
      <h1><strong>Direcciones</strong></h1>
    </ion-col>
    <ion-col class="card"
      size="12">
      <h1 class="name-order">{{enterpriseName}}</h1>
      <ion-card class="container-user-card">
        <ion-card-content>
          <ion-label><strong>
              <h2>{{enterpriseAddress}}</h2>
            </strong></ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col class="card"
      size="12">
      <h1 class="name-order">{{user.name}}</h1>
      <ion-card class="container-user-card">
        <ion-card-content>
          <ion-label><strong>
              <h2>{{orderMaster.address}}</h2>
            </strong></ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12"
      class="card">
      <h1>Detalle de pago</h1>
      <ion-card class="container-user-card">
        <ion-card-content>
          <ion-item class="ion-item-checkout">
            <ion-label><strong>Total del pedido:</strong>${{totalPrice | number}}</ion-label>
          </ion-item>
          <ion-item class="ion-item-checkout">
            <ion-label><strong>Método de pago:</strong>{{orderMaster.payment}}</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="orderMaster.voucher !== ''">
    <ion-col size="12"
      class="card">
      <h1>Comprobante</h1>
      <div class="container-img-voucher">
        <div class="img-voucher"
          style="background-image: url({{orderMaster.voucher}});"></div>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="container-btn">
    <ion-button class="btn"
      (click)="seeDeatilOrder()"> Ver detalle </ion-button>
  </ion-row>
</ion-content>