<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Suscripciones</ion-title>
    <ion-back-button slot="start" defaultHref="/home"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="subscriptions?.length === 0">
    <ion-row class="container-msg">
      <img src="../../../../assets/images/no-subscriptions.png" alt="" />
      <div class="container-info">
        <h1>No hay suscripciones disponibles</h1>
      </div>
    </ion-row>
  </div>
  <div *ngFor="let data of subscriptions">
    <app-suscription-card [subscription]="data"></app-suscription-card>
  </div>
</ion-content>
