<app-secondary-header name="Detalle del producto" url="/home/home-store"></app-secondary-header>

<ion-content>
  <ion-content>
    <ion-row>
      <ion-col size="12">
        <ion-slides pager="true" [options]="slideOpts" *ngIf=" productImages.image1 !== undefined ">
          <ion-slide>
            <div class="product-img" style="background-image: url({{product?.image}})"></div>
          </ion-slide>
          <ion-slide *ngIf="productImages?.image1.url !== '' ">
            <div
              class="product-img"
              style="background-image: url({{productImages?.image1.url}})"
            ></div>
          </ion-slide>
          <ion-slide *ngIf="productImages?.image2.url !== '' ">
            <div
              class="product-img"
              style="background-image: url({{productImages?.image2.url}})"
            ></div>
          </ion-slide>
          <ion-slide *ngIf="productImages?.image3.url !== '' ">
            <div
              class="product-img"
              style="background-image: url({{productImages?.image3.url}})"
            ></div>
          </ion-slide>
          <ion-slide *ngIf="productImages?.image4.url !== '' ">
            <div
              class="product-img"
              style="background-image: url({{productImages?.image4.url}})"
            ></div>
          </ion-slide>
        </ion-slides>

        <ion-slides pager="true" [options]="slideOpts" *ngIf=" productImages.image1 === undefined ">
          <ion-slide>
            <div class="product-img" style="background-image: url({{product?.image}})"></div>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <h1>{{product?.name}}</h1>
      </ion-col>
      <ion-col size="6" class="container-price">
        <h1>${{product?.price}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <p>{{product?.description}}</p>
      </ion-col>
    </ion-row>
    <ion-row class="container-btn">
      <ion-col size="12" class="container-btn">
        <ion-button (click)="addToCart()" disabled="{{toogleButton}}" class="btn">
          Comprar ahora
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-content>
</ion-content>
