<app-secondary-header name="{{user.name | titlecase}}"
  url="/home/home-delivery"
  icon="cart-outline"
  [cartQuantity]="cartQuantity"
  [userUid]="userUid"></app-secondary-header>

<app-category-slide [options]="categories"
  (valueResponse)="getProductsByCategory($event)"
  [categoryTitle]="categoryTitle">
</app-category-slide>

<div *ngIf="categories?.length === 0">
  <ion-row class="container-msg">
    <img src="../../../../assets/images/no-subscriptions.png"
      alt="" />
    <h1>No hay pedidos pendientes</h1>
    <div class="container-info">
      <h1>El local aun no sube sus productos</h1>
    </div>
  </ion-row>
</div>

<ion-content>
  <div *ngIf="products?.length === 0">
    <ion-row class="container-msg">
      <img src="../../../../assets/images/no-subscriptions.png"
        alt="" />
      <div class="container-info">
        <h1>No hay ningun producto de {{categoryTitle}}</h1>
      </div>
    </ion-row>
  </div>

  <ion-row class="container-delivery-card">
    <ion-col size="12">
      <app-product-card *ngFor="let product of products"
        [product]="product"
        [productUid]="product.uid"
        [userUid]="userUid"
        url="home/home-delivery/product-delivery"></app-product-card>
    </ion-col>
  </ion-row>
</ion-content>