<app-secondary-header name="Panel Empresa" url="/home"></app-secondary-header>

<ion-content>
  <ion-item color="primary">
    <ion-label> Gestionar Tienda Online </ion-label>
    <ion-icon slot="end" name="bag"></ion-icon>
  </ion-item>

  <ion-row>
    <ion-col size="6">
      <app-panel-card
        image="../../../../assets/images/products.png"
        name="Productos"
        (click)="addproductorRouter()"
      ></app-panel-card>
    </ion-col>
    <ion-col size="6">
      <app-panel-card
        image="../../../../assets/images/orders.png"
        name="Pedidos Tienda Online"
        url="/home/home-store/panel-store/list-order-enterprise"
      ></app-panel-card>
    </ion-col>
    <ion-row>
      <ion-col size="6">
        <app-panel-card
          image="../../../../assets/images/historical.png"
          name="Historial de Pedidos"
          url="/home/home-store/panel-store/list-history-enterprise"
        ></app-panel-card>
      </ion-col>
      <ion-col size="6">
        <app-panel-card
          image="../../../../assets/images/bank_data.png"
          name="Datos Bancarios"
          url="bank-account"
        ></app-panel-card>
      </ion-col>

      <ion-col size="8">
        <app-panel-card
          image="../../../../assets/images/see-suscriptions-store.png"
          name="Mis suscripciones"
          url="home/home-store/panel-store/my-subscriptions"
        ></app-panel-card>
      </ion-col>
    </ion-row>
  </ion-row>
  <ion-item color="primary">
    <ion-label> Gestionar Bolsa de empleos </ion-label>
    <ion-icon name="megaphone"></ion-icon>
  </ion-item>
  <ion-row>
    <ion-col size="6">
      <app-panel-card
        image="../../../../assets/images/joboffers.png"
        name="Publicaciones"
        (click)="addPublicationesRouter()"
      ></app-panel-card>
    </ion-col>

    <ion-col size="6">
      <app-panel-card
        image="../../../../assets/images/orders.png"
        name="Recepción de H.V"
        url="home/home-store/panel-store/postulations-enterprise"
      ></app-panel-card>
    </ion-col>

    <ion-col size="8">
      <app-panel-card
        image="../../../../assets/images/see-suscriptions-store.png"
        name="Mis suscripciones"
        url="home/home-store/panel-store/my-subscriptions-jobs"
      ></app-panel-card>
    </ion-col>
  </ion-row>
</ion-content>
