<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start"
      defaultHref="/home/home-marketplace"></ion-back-button>
    <ion-title>Detalle de Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-row>
      <ion-col size="12">
        <ion-slides pager="true"
          [options]="slideOpts"
          *ngIf=" productImages.image1 !== undefined ">
          <ion-slide>
            <div class="product-img"
              style="background-image: url({{product?.image}})"></div>
          </ion-slide>
          <ion-slide *ngIf="productImages?.image1.url !== '' ">
            <div class="product-img"
              style="background-image: url({{productImages?.image1.url}})"></div>
          </ion-slide>
          <ion-slide *ngIf="productImages?.image2.url !== '' ">
            <div class="product-img"
              style="background-image: url({{productImages?.image2.url}})"></div>
          </ion-slide>
          <ion-slide *ngIf="productImages?.image3.url !== '' ">
            <div class="product-img"
              style="background-image: url({{productImages?.image3.url}})"></div>
          </ion-slide>
          <ion-slide *ngIf="productImages?.image4.url !== '' ">
            <div class="product-img"
              style="background-image: url({{productImages?.image4.url}})"></div>
          </ion-slide>
        </ion-slides>

        <ion-slides pager="true"
          [options]="slideOpts"
          *ngIf=" productImages.image1 === undefined ">
          <ion-slide>
            <div class="product-img"
              style="background-image: url({{product?.image}})"></div>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <h1>{{product?.name}}</h1>
      </ion-col>
      <ion-col size="6"
        class="container-price">
        <h1>${{product?.price}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <p>{{product?.description}}</p>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="product.typeOfSale === 'Subasta'">
      <ion-col size="6"><strong>Fecha de inicio de la subasta:</strong> {{ product?.dateStart | date: 'dd/MM/yyyy'
        }}</ion-col>
      <ion-col size="6"><strong>Fecha final de la subasta:</strong> {{ product?.dateEnd | date: 'dd/MM/yyyy'
        }}</ion-col>
    </ion-row>

    <ion-row *ngIf="product.typeOfSale !== 'Subasta' && userSession?.uid !== user?.uid"
      class="container-btn">
      <ion-col size="12"
        class="container-btn">
        <ion-button class="btn"
          routerLink="/marketplace-chat/{{ user?.email }}/{{ product.uid }}/{{ product.userId }}">
          Preguntar por el producto
        </ion-button>
      </ion-col>

      <ion-col size="12">
        <a href="https://wa.me/593{{enterprise?.phoneNumber}}?text=Me interesa el producto {{product?.name}} que vende"
          class="whatsapp">
          <ion-icon name="logo-whatsapp"
            class="whatsapp-icon"></ion-icon>
        </a>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="product.typeOfSale !== 'Subasta' && userSession?.uid === user?.uid"
      class="container-btn">
      <ion-col size="12"
        class="container-btn">
        <ion-button (click)="messageSameUser()"
          class="btn"> Preguntar por el producto </ion-button>
      </ion-col>
      <ion-col size="12">
        <a href="https://wa.me/593{{enterprise?.phoneNumber}}?text=Me interesa el producto {{product?.name}} que quiere cambiar"
          class="whatsapp">
          <ion-icon name="logo-whatsapp"
            class="whatsapp-icon"></ion-icon>
        </a>
      </ion-col>
    </ion-row>

  </ion-content>
</ion-content>