/* Estilo de la tarjeta del banner */
.card {
  padding: 39px 20px 5px 20px;
  border-radius: 30px;
  height: 200px;
  background: rgba($color: #81ABE4, $alpha: 1);

  ion-avatar {
    --border-radius: 5px
  }



  .container-welcome {



    .welcome {

      position: relative;
      bottom: 30%;

      .regard {
        font-size: 19px;
      }

      .text {
        font-size: 16px;
      }

      display: flex;
      justify-content: center;
      flex-direction: column;

      p {
        margin: 3px 0px;
        color: white;
      }
    }

    .container-img {
      display: flex;
      justify-content: flex-end;
      padding: 0px;

      ion-avatar {
        width: 43%;
        height: 84px;
        margin-bottom: 13px;
      }


      img {
        width: 79px;
        height: 112px;
      }
    }

  }

  .container-img {

    position: relative;
    bottom: 30%;
  }

  .container-share {
    display: flex;
    justify-content: flex-end;



    .share {
      display: flex;
      justify-content: flex-end;
      padding: 0px;

      ion-avatar {
        width: 18%;
        height: 35px;
        margin-left: 3%;
      }

      img {
        width: 27px;
        height: 33px;
      }

      ion-icon {
        margin-left: 60%;
        margin-right: 10%;
        font-size: 35px;
        color: white;
      }
    }

  }
}

/* Pseudoelemento para añadir el fondo de color */
