<ion-card class="card" *ngIf="loading">
  <ion-row class="container-welcome">
    <ion-col size="6" class="welcome">
      <p class="regard">Hola! {{ userName }}</p>
      <p class="text">Bienvenido a Ruah,</p>
      <p class="text">Todo en uno</p>
    </ion-col>
    <ion-col class="container-img" size="6">
      <img src="../../../../assets/images/marketplace.png" alt="" />
    </ion-col>
  </ion-row>
  <ion-row class="container-share">
    <ion-col size="6" class="share">
      <ion-icon name="share-social" (click)="shareApp()"></ion-icon>
      <img src="../../../../assets/images/logonous.png" (click)="openNousClic()" alt="" />
    </ion-col>
  </ion-row>
</ion-card>

<ion-card class="card" *ngIf="!loading">
  <ion-row class="container-welcome">
    <ion-col size="6" class="welcome">
      <p><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></p>
      <p><ion-skeleton-text animated style="width: 70%"></ion-skeleton-text></p>
      <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></p>
    </ion-col>
    <ion-col class="container-img" size="6">
      <ion-avatar>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
    </ion-col>
  </ion-row>
  <ion-row class="container-share">
    <ion-col size="6" class="share">
      <ion-avatar>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-avatar>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
    </ion-col>
  </ion-row>
</ion-card>
