<ion-card>
  <ion-card-header>
    <ion-avatar>
      <img *ngIf="user.image" src="{{ user.image }}" />
      <img *ngIf="!user.image" src="../../../../assets/images/profiledefaul.png" />
    </ion-avatar>
  </ion-card-header>
  <ion-card-content>
    <ion-row>
      <h1>{{ user.name | titlecase }}</h1>
      <ion-col size="12">
        <ion-label> {{ user.phoneNumber }} </ion-label>
      </ion-col>
      <ion-col size="12" *ngIf="user.role == 'customer'">
        <ion-label> {{ user.email }} </ion-label>
      </ion-col>
      <ion-col size="12" *ngIf="user.role == 'delivery'">
        <ion-label> {{ user.address }} </ion-label>
      </ion-col>
      <ion-col size="12" *ngIf="user.role == 'delivery'">
        <ion-label> {{ user.category }} </ion-label>
      </ion-col>
      <ion-col size="12" *ngIf="user.role == 'motorized' && user.isActive == true">
        <ion-label> Activo </ion-label>
      </ion-col>
      <ion-col size="12" *ngIf="user.role == 'motorized' && user.isActive == false">
        <ion-label> Inactivo </ion-label>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
