ion-card {
    display: flex;
    width: 95%;
    color: black;
    border-radius: 20px;

    h1 {
      font-weight: bold;
      margin-bottom: 6px;
    }
  }

  ion-label {
    display: block;
  }

  ion-col {
    padding: 0px;
  }