.title {
  height: 40%;
  width: 100%;
  background-color: var(--ion-color-primary);

  ion-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h1 {
      color: white;
      text-align: center;
      font-size: 19px;
      width: 90%;
    }

    .near-yours {
      margin: 0px;
    }

    .image {
      width: 80px;
      height: 80px;
      background-color: white;
      border-radius: 100%;
      margin-bottom: 10px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

  }
}

.detail {
  height: 45%;

  border-bottom: solid 1px rgba($color: #000000, $alpha: 0.3);


  .data {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    .name {
      margin-bottom: 2px;
    }

    .number {
      margin-top: 2px;
      color: rgba($color: #000000, $alpha: 0.6);
    }
  }

  .container-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .msg {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70px;
      height: 70px;
      border: 2px solid var(--ion-color-primary);
      border-radius: 100%;
      font-size: 30px;

      ion-icon {
        color: var(--ion-color-primary);

      }
    }

    p {
      color: var(--ion-color-primary);
    }
  }

}

.container-buy {
  height: 15%;
  justify-content: center;
  align-items: center;
}


ion-toolbar {

  ion-back-button {
    color: white;
  }
}
