<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title *ngIf="orderMaster?.status !== 'completado'">Pre-compra</ion-title>
    <ion-title *ngIf="orderMaster?.status  === 'completado'">Pedido completado</ion-title>
    <ion-back-button slot="start"
      defaultHref="/home"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="title">
    <ion-col size="12">
      <div class="image"
        style="background-image: url({{orderDetail[0]?.product.image}});"></div>
      <h1 *ngIf="orderMaster?.status  !== 'completado'"
        class="near-yours">Ya casi es tuyo!</h1>
      <h1 *ngIf="orderMaster?.status  === 'completado'"
        class="near-yours">Ya es tuyo!</h1>
      <h1 *ngIf="orderMaster?.status  !== 'completado'">
        Comunicate con la empresa para concretar tu compra y envío.
      </h1>
      <h1 *ngIf="orderMaster?.status  === 'completado'">Este producto ya es de tu propiedad.</h1>
    </ion-col>
  </ion-row>
  <ion-row class="detail">
    <ion-col size="12"
      class="data">
      <h3>Empresa</h3>
      <h3 class="name">{{orderMaster?.enterprise.name}}</h3>

      <ion-row>
        <ion-icon name="logo-whatsapp"></ion-icon>
        <ion-router-link color="dark"
          href="https://wa.me/593{{orderMaster?.enterprise.phoneNumber}}">
          0{{orderMaster?.enterprise.phoneNumber}}</ion-router-link>
      </ion-row>


    </ion-col>
    <ion-col size="12"
      class="container-msg">

      <div class="msg"
        routerLink="/online-store-chat/{{ receiberEmail }}">
        <ion-icon name="chatbox-outline"></ion-icon>
      </div>

      <p>Mensajería</p>
    </ion-col>
  </ion-row>

  <ion-row class="container-buy"
    *ngIf="orderMaster?.status!=='pendiente'">
    <ion-button (click)="goToMethodPay(orderMaster.orderMasterUid)"
      expand="block"
      fill="clear"
      shape="round"
      *ngIf="orderMaster?.status  !== 'completado' && orderMaster?.status  !== 'cancelado' ">
      Continuar con la compra
    </ion-button>

    <ion-button (click)="goToMethodPay(orderMaster.orderMasterUid)"
      expand="block"
      fill="clear"
      shape="round"
      *ngIf="orderMaster?.status  === 'completado'">
      Ver detalle de la compra
    </ion-button>
  </ion-row>

  <ion-row class="container-buy"
    *ngIf="orderMaster?.status ==='pendiente'">
    <ion-button (click)="updateStautsOrderMaster()"
      expand="block"
      fill="clear"
      shape="round"
      *ngIf="orderMaster?.status  !== 'completado' && orderMaster?.status  !== 'cancelado' ">
      Cancelar compra
    </ion-button>
  </ion-row>
</ion-content>