<div class="container-card">
  <ion-card (click)="navigateToDetailProduct()">
    <ion-row>
      <ion-col size="4">
        <ion-card-header>
          <ion-avatar>
            <img src="{{ product.image }}" />
          </ion-avatar>
        </ion-card-header>
      </ion-col>

      <ion-col size="8">
        <ion-card-content>
          <ion-row class="container-name">
            <ion-col size="9">
              <h1>
                {{ product.name }}
              </h1>
            </ion-col>

            <h1 class="price">${{ product.price }}</h1>
          </ion-row>
          <p><strong>Descripción: </strong> {{ reduceProductDescription(product.description) }}</p>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-card>
</div>
