.backgroundInput {
  color: #000000;
}

.label {
  color: #000000;
  opacity: 0.4;
}

.ion-select-styles {
  width: 100%;
}

.container-terms {
  margin-left: 3%;

  a {
    font-weight: bold;
    border-bottom: 1px solid #000365;
  }
}
