<ion-content class="ion-padding">
  <div class="header">
    <ion-toolbar>
      <div class="img-container">
        <img class="img-food"
          src="assets/images/ruahLogin.png" />
      </div>
    </ion-toolbar>
    <ion-segment [(ngModel)]="selectedAction"
      (click)="selectedActionChange($event)">
      <ion-segment-button value="login">
        <ion-label>Iniciar sesión</ion-label>
      </ion-segment-button>
      <ion-segment-button value="register">
        <ion-label>Regístrate</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div>
    <div class="ion-margin-top container-select">
      <ion-label class="label ion-text-uppercase">Tipo de usuario</ion-label>
      <ion-item>
        <ion-select class="ion-select-styles"
          [(ngModel)]="user.role"
          okText="Aceptar"
          cancelText="Cancelar">
          <ion-select-option value="customer">Tu eres Cliente</ion-select-option>
          <ion-select-option value="business">Tu eres Empresa</ion-select-option>
          <ion-select-option value="delivery">Negocio de Delivery</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <div class="container-inputs">
      <ion-label class="label ion-text-uppercase">Nombre:</ion-label>
      <ion-item [ngClass]="{'ion-item-error': errors.name}">
        <ion-input minlength="3"
          maxlength="45"
          [(ngModel)]="user.name"
          name="name"
          type="text"></ion-input>
      </ion-item>
      <div class="input-error ion-margin-top"
        *ngIf="errors.name">
        <span>
          <ion-icon name="alert-circle-outline"></ion-icon> {{errors.name}}
        </span>
      </div>
    </div>
    <div class="container-inputs">
      <ion-label class="label ion-text-uppercase">Correo Electrónico</ion-label>
      <ion-item [ngClass]="{'ion-item-error': errors.email}">
        <ion-input autocomplete="off"
          inputmode="email"
          name="user"
          type="email"
          [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <div class="input-error ion-margin-top"
        *ngIf="errors.email">
        <span>
          <ion-icon name="alert-circle-outline"></ion-icon> {{errors.email}}
        </span>
      </div>
    </div>
    <div class="container-inputs">
      <ion-label class="label ion-text-uppercase">Contraseña</ion-label>
      <ion-item [ngClass]="{'ion-item-error': errors.password}">
        <ion-input [type]="passwordType"
          name="password"
          [(ngModel)]="password"></ion-input>
        <ion-icon [name]="eyeTypeIcon"
          item-right
          (click)="showHiddenPassword()"></ion-icon>
      </ion-item>
      <div class="input-error ion-margin-top"
        *ngIf="errors.password">
        <span>
          <ion-icon name="alert-circle-outline"></ion-icon> {{errors.password}}
        </span>
      </div>
    </div>
    <ion-row class="container-terms">
      <ion-col size="1">
        <ion-checkbox [(ngModel)]="isChecked"></ion-checkbox>
      </ion-col>
      <ion-col size="11">
        <a (click)="goToSeeTerms()">Términos y condiciones </a>
      </ion-col>
    </ion-row>
    <div class="container-btn">
      <ion-button class="btn"
        color="primary"
        (click)="registerUser()"> Regístrate </ion-button>
    </div>
  </div>
</ion-content>