<app-secondary-header name="Mis postulaciones"
  url="/home/home-jobs/panel-client/"></app-secondary-header>

<ion-row>
  <ion-col size="12">
    <ion-searchbar placeholder="Buscar postulación por nombre"
      inputmode="text"
      (ionChange)="onSearchChange($event)"
      [debounce]="250"
      mode="md"
      animated></ion-searchbar>
  </ion-col>
</ion-row>

<ion-content>
  <div *ngIf="offerJobs?.length === 0">
    <img src="../../../../assets/images/no-subscriptions.png"
      alt="" />
    <ion-row class="container-msg">
      <div class="container-info">
        <h1>No ha postulado a ningun empleo</h1>
      </div>
    </ion-row>
    <ion-row class="container-btn">
      <ion-button class="btn"
        (click)="goToHomeJobs()"> Postular </ion-button>
    </ion-row>
  </div>
  <app-postulation-card [offerJob]="offerJob"
    *ngFor="let offerJob of  offerJobs | filtroObject:searchText:'publications.name'"></app-postulation-card>
</ion-content>