<app-secondary-header name="Historial de pedidos" url="/home/home-store/"></app-secondary-header>

<ion-row>
  <ion-col size="12">
    <ion-searchbar
      placeholder="Buscar orden por nombre de empresa"
      inputmode="text"
      (ionChange)="onSearchChange($event)"
      [debounce]="250"
      mode="md"
      animated
    ></ion-searchbar>
  </ion-col>
</ion-row>

<ion-content>
  <div *ngIf="orderMasters?.length === 0">
    <ion-row class="container-msg">
      <img src="../../../../assets/images/no-subscriptions.png" alt="" />
      <div class="container-info">
        <h1>Aun no se ha completado ningun pedido</h1>
      </div>
    </ion-row>
  </div>

  <app-order-card
    *ngFor="let orderMaster of orderMasters | filtroObject:searchText:'enterprise.name'"
    [orderMaster]="orderMaster"
    typeUser="clientOrderDetail"
  ></app-order-card>
</ion-content>
