<ion-app appParallaxHeader>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons>
        <ion-button slot="start" (click)="goToHome()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-icon
        *ngIf="user?.role !== 'business'"
        slot="end"
        name="briefcase-outline"
        (click)="goToPanelClient()"
      ></ion-icon>

      <ion-button
        *ngIf="user?.role === 'business'"
        (click)="navegateToViewSuscriptions()"
        slot="end"
      >
        Suscribirte
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-row class="container-title-home">
    <ion-col size="12">
      <h1>Bolsa de empleos</h1>
      <p>Publica o postula una vacante</p>
    </ion-col>
  </ion-row>

  <ion-content [scrollEvents]="true">
    <div class="parallax-banner">
      <app-advertising-banner-slide module="employment-exchange"> </app-advertising-banner-slide>
    </div>
    <ion-row class="sticky">
      <ion-col size="12">
        <app-category-slide
          [options]="categories"
          (valueResponse)="getPublicationsByCategory($event)"
          [categoryTitle]="categoryTitle"
        >
        </app-category-slide>
      </ion-col>
      <ion-col size="12">
        <ion-searchbar
          placeholder="Buscar Empleo"
          inputmode="text"
          (click)="openSearchModal()"
          [debounce]="250"
          mode="md"
          animated
        ></ion-searchbar>
      </ion-col>
    </ion-row>

    <ion-row class="container-delivery-card main">
      <ion-col size="11" *ngFor="let publication of publications | filtro:searchText:'name'">
        <app-job-card [publication]="publication"></app-job-card>
      </ion-col>
    </ion-row>
    <ion-row class="container-delivery-card" *ngIf="publications.length === 0">
      <img src="../../../../assets/images/no-products.png" alt="" />
      <p class="msg">No se encuentran empleos de {{categoryTitle}}</p>
    </ion-row>
  </ion-content>
</ion-app>
