<app-secondary-header name="Ordenes de {{user?.name}}" url="/datail-user/{{userId}}">
</app-secondary-header>

<ion-searchbar
  placeholder="Buscar pedido por fecha"
  inputmode="text"
  (ionChange)="onSearchChange($event)"
  [debounce]="250"
  mode="md"
  animated
></ion-searchbar>

<ion-content>
  <div *ngIf="orderMasters?.length === 0">
    <ion-row class="container-msg">
      <img src="../../../../assets/images/no-subscriptions.png" alt="" />
      <div class="container-info">
        <h1>No hay pedidos para {{user?.name}}</h1>
      </div>
    </ion-row>
  </div>
  <app-order-card
    *ngFor="let orderMaster of orderMasters  | filtroDate:searchText:'date'"
    [orderMaster]="orderMaster"
    typeUser="client"
  ></app-order-card>
</ion-content>
