ion-card {
  border-radius: 10px;

  ion-card-header {

    ion-card-title {
      font-size: 19px;
      color: var(--ion-color-primary);
    }


    ion-card-subtitle {
      font-weight: bold;
      margin-top: 5px;
    }
  }

  ion-card-content {
    display: flex;
    padding-bottom: 0px;
    justify-content: space-between;
    align-items: center;

    .line {
      width: 40px;
      margin-bottom: 5%;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
    }


    .selected {
      .circle {
        color: white;
        background-color: var(--ion-color-primary);
      }


      p {
        color: var(--ion-color-primary);
      }
    }

    .rejected {
      .circle {
        color: white;
        background-color: var(--ion-color-danger);
      }


      p {
        color: var(--ion-color-danger);
      }
    }



    .container-status {
      width: 18%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        border: 2px solid rgba($color: #000000, $alpha: 0.2)
      }

      ion-icon {
        font-size: 17px;
      }
    }
  }
}
