<ion-card (click)="goToPostulationEnterpriseDetail()">
  <ion-row>
    <ion-col size="12">
      <ion-card-header>
        <ion-row>
          <ion-col size="4">
            <ion-avatar>
              <img src="{{ user?.image }}" />
            </ion-avatar>
          </ion-col>
          <ion-col size="8">
            <ion-card-title>{{ user?.name }}</ion-card-title>
            <ion-card-subtitle>{{ offerJob?.publications.name }}</ion-card-subtitle>
            <ion-card-subtitle>{{
              offerJob?.createAt.toDate() | date: 'dd/MM/yyyy'
            }}</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content>
        <div class="container-status selected">
          <div class="circle">
            <ion-icon name="checkmark-outline"></ion-icon>
          </div>
          <p>Aplicada</p>
        </div>
        <div class="line"></div>
        <div
          *ngIf="
            offerJob?.status === 'visto' ||
            offerJob?.status === 'revisando' ||
            offerJob?.status === 'aceptado' ||
            offerJob?.status === 'rechazado'
          "
          class="container-status selected"
        >
          <div class="circle">
            <ion-icon name="checkmark-outline"></ion-icon>
          </div>
          <p>Visto</p>
        </div>

        <div
          *ngIf="
            offerJob?.status !== 'visto' &&
            offerJob?.status !== 'revisando' &&
            offerJob?.status !== 'aceptado' &&
            offerJob?.status !== 'rechazado'
          "
          class="container-status"
        >
          <div class="circle">
            <ion-icon name="checkmark-outline"></ion-icon>
          </div>
          <p>Visto</p>
        </div>
        <div class="line"></div>
        <div
          *ngIf="
            offerJob?.status === 'revisando' ||
            offerJob?.status === 'aceptado' ||
            offerJob?.status === 'rechazado'
          "
          class="container-status selected"
        >
          <div class="circle">
            <ion-icon name="checkmark-outline"></ion-icon>
          </div>
          <p>Revisando</p>
        </div>
        <div
          *ngIf="
            offerJob?.status !== 'revisando' &&
            offerJob?.status !== 'aceptado' &&
            offerJob?.status !== 'rechazado'
          "
          class="container-status"
        >
          <div class="circle">
            <ion-icon name="checkmark-outline"></ion-icon>
          </div>
          <p>Revisando</p>
        </div>
        <div class="line"></div>
        <div
          *ngIf="offerJob?.status === 'aceptado' && offerJob?.status !== 'rechazado'"
          class="container-status selected"
        >
          <div class="circle">
            <ion-icon name="checkmark-outline"></ion-icon>
          </div>
          <p>Aceptado</p>
        </div>
        <div
          *ngIf="offerJob?.status === 'rechazado' && offerJob?.status !== 'aceptado'"
          class="container-status rejected"
        >
          <div class="circle">
            <ion-icon name="close-outline"></ion-icon>
          </div>
          <p>Rechazado</p>
        </div>
        <div
          *ngIf="offerJob?.status !== 'aceptado' && offerJob?.status !== 'rechazado'"
          class="container-status"
        >
          <div class="circle">
            <ion-icon name="checkmark-outline"></ion-icon>
          </div>
          <p>Aceptado</p>
        </div>
      </ion-card-content>
    </ion-col>
  </ion-row>
</ion-card>
