<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Términos y condiciones</ion-title>
    <ion-back-button slot="start" defaultHref="/register"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [innerHTML]="description"></div>
</ion-content>
