<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Detalle de la suscripción</ion-title>
    <ion-back-button
      slot="start"
      defaultHref="/home/panel-admin/subscription-request-jobsx"
    ></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-row class="container-status" *ngIf="user?.role === 'administrator'">
  <ion-col size="6" class="container-select">
    <ion-item>
      <ion-select
        name="gender"
        cancelText="Cancelar"
        name="role"
        value="client"
        okText="Aceptar"
        [(ngModel)]="orderSubscriptions.status"
      >
        <ion-select-option value="revision"><span>En revisión</span></ion-select-option>
        <ion-select-option value="activo"><span>Activo</span></ion-select-option>
        <ion-select-option value="cancelado"><span>Cancelar</span></ion-select-option>
      </ion-select>
    </ion-item>
  </ion-col>
  <ion-col size="6" class="container-btn" *ngIf="status">
    <ion-button class="btn" (click)="updateOrderSubscription()"> Actualizar </ion-button>
  </ion-col>
</ion-row>

<ion-content>
  <ion-row>
    <ion-col size="12" class="card">
      <h1>Datos del cliente</h1>
      <ion-card class="container-user-card">
        <ion-card-header>
          <ion-avatar>
            <img src="{{orderSubscriptions.user?.image}}" />
          </ion-avatar>
        </ion-card-header>
        <ion-card-content>
          <ion-label><strong>Nombre: </strong>{{orderSubscriptions.user?.name}}</ion-label>
          <ion-label><strong>Email: </strong>{{orderSubscriptions.user?.email}}</ion-label>
          <ion-label><strong>Teléfono: </strong>{{orderSubscriptions.user?.phoneNumber}}</ion-label>
          <ion-label
            ><strong>Nro identificación: </strong
            >{{orderSubscriptions.user?.identificationDocument}}
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" class="card">
      <h1>Datos de la suscripción</h1>
      <ion-card class="container-user-card">
        <ion-card-header>
          <ion-avatar>
            <img src="../../../../assets/images/subscribe.png" />
          </ion-avatar>
        </ion-card-header>
        <ion-card-content>
          <ion-label><strong>Nombre: </strong>{{orderSubscriptions.subscritions?.name}} </ion-label>
          <ion-label><strong>Precio:</strong>${{orderSubscriptions.originalPrice}} </ion-label>
          <ion-label
            ><strong>Descripcion:</strong> {{orderSubscriptions.subscritions?.description}}
          </ion-label>
          <ion-label
            ><strong>Numero de publicaciones:</strong>
            {{orderSubscriptions.subscritions?.numberPublic}}
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="card">
      <h1>Detalle de pago</h1>
      <ion-card class="container-user-card">
        <ion-card-content>
          <ion-item class="ion-item-checkout">
            <ion-label><strong>Metodo de pago:</strong>{{orderSubscriptions.methodPay}}</ion-label>
          </ion-item>
          <ion-item class="ion-item-checkout" *ngIf="orderSubscriptions.coupon !== null">
            <ion-label
              ><strong>Cupón aplicado:</strong>{{orderSubscriptions.coupon?.percentage}}%
            </ion-label>
          </ion-item>
          <ion-item class="ion-item-checkout">
            <ion-label
              ><strong>Fecha de pedido:</strong>{{orderSubscriptions.updateDate?.toDate() | date:
              'dd/MM/yyyy'}}</ion-label
            >
          </ion-item>
          <ion-item class="ion-item-checkout">
            <ion-label
              ><strong>Precio total:</strong>${{orderSubscriptions.subscritions?.price}}
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="orderSubscriptions.voucher !== '' ">
    <ion-col size="12" class="card">
      <h1>Comprobante</h1>
      <div class="container-img-voucher">
        <div
          class="img-voucher"
          style="background-image: url({{orderSubscriptions.voucher}})"
        ></div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
