<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Cuenta bancaría</ion-title>
    <ion-icon slot="start" (click)="cancel()" name="arrow-back-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (onSubmit)="add()">
    <div class="container-inputs">
      <ion-label class="label ion-text-uppercase" position="stacked">Nombre del banco:</ion-label>
      <ion-item>
        <ion-input type="text" formControlName="nameBank"></ion-input>
      </ion-item>
    </div>
    <div class="error" *ngIf="form.controls.nameBank.errors && form.controls.nameBank.touched">
      El campo nombre del banco es requerido.
    </div>
    <div class="container-inputs">
      <ion-label class="label ion-text-uppercase" position="stacked"
        >Nombre del propietario:</ion-label
      >
      <ion-item>
        <ion-input type="text" formControlName="ownerName"></ion-input>
      </ion-item>
    </div>
    <div class="error" *ngIf="form.controls.ownerName.errors && form.controls.ownerName.touched">
      El campo nombre del propietario es requerido.
    </div>
    <div class="container-inputs">
      <ion-label class="label ion-text-uppercase" position="stacked">Numero de cuenta:</ion-label>
      <ion-item>
        <ion-input type="number" formControlName="accountNumber"></ion-input>
      </ion-item>
    </div>
    <div
      class="error"
      *ngIf="form.controls.accountNumber.errors && form.controls.accountNumber.touched"
    >
      El campo numero de cuenta es requerido.
    </div>

    <div class="container-inputs">
      <ion-label class="label ion-text-uppercase" position="stacked">Correo electrónico:</ion-label>
      <ion-item>
        <ion-input type="email" formControlName="accountOwnerEmail"></ion-input>
      </ion-item>
    </div>
    <div
      class="error"
      *ngIf="form.controls.accountOwnerEmail.errors && form.controls.accountOwnerEmail.touched"
    >
      El campo correo electrónico es requerido.
    </div>

    <div class="container-select">
      <ion-label class="label ion-text-uppercase">Estado:</ion-label>
      <ion-item>
        <ion-select
          formControlName="accountType"
          cancelText="Cancelar"
          name="role"
          value="client"
          okText="Aceptar"
        >
          <ion-select-option value="Cuenta corriente">Cuenta corriente</ion-select-option>
          <ion-select-option value="Cuenta de ahorros">Cuenta de ahorros</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <div
      class="error"
      *ngIf="form.controls.accountType.errors && form.controls.accountType.touched"
    >
      El campo tipo de cuenta es requerido.
    </div>
    <ion-row class="container-btn">
      <ion-button (click)="update()" class="btn" [disabled]="!form.valid"> Actualizar </ion-button>
    </ion-row>
  </form>
</ion-content>
