<app-secondary-header
  name="Postulaciones"
  url="/home/home-store/panel-store"
  [info]="true"
  infoMessage="En esta sección podrá ver las postulaciones de sus ofertas de empleo."
></app-secondary-header>

<ion-row>
  <ion-col size="12">
    <ion-searchbar
      placeholder="Buscar postulación por estado"
      inputmode="text"
      (ionChange)="onSearchChange($event)"
      [debounce]="250"
      mode="md"
      animated
    ></ion-searchbar>
  </ion-col>
</ion-row>

<ion-content>
  <div *ngIf="offerJobs?.length === 0">
    <img src="../../../../assets/images/no-subscriptions.png" alt="" />
    <ion-row class="container-msg">
      <div class="container-info">
        <h1>No hay postulaciones pendientes</h1>
      </div>
    </ion-row>
  </div>
  <app-postulation-enterprise-card
    *ngFor="let offerJob of  offerJobs | filtro:searchText:'status'"
    [offerJob]="offerJob"
  ></app-postulation-enterprise-card>
</ion-content>
