<app-secondary-header name="Agregar Subscripciones"
  url="/home/panel-admin/subscription-generated">
</app-secondary-header>

<ion-content>
  <form [formGroup]="form"
    (onSubmit)="addSubscription()">
    <div class="container-inputs">
      <ion-label class="label ion-text-uppercase"
        position="stacked">NOMBRE</ion-label>
      <ion-item>
        <ion-input name="name"
          type="text"
          formControlName="name"></ion-input>
      </ion-item>
    </div>
    <div class="container-inputs">
      <ion-label class="label ion-text-uppercase"
        position="price">Precio</ion-label>
      <ion-item>
        <ion-input name="price"
          type="number"
          formControlName="price"></ion-input>
      </ion-item>
    </div>
    <div class="container-inputs">
      <ion-label class="label ion-text-uppercase"
        position="numberPublic">Número de publicación</ion-label>
      <ion-item>
        <ion-input name="numberPublic"
          type="number"
          formControlName="numberPublic"></ion-input>
      </ion-item>
    </div>
    <div class="container-inputs">
      <ion-label class="label ion-text-uppercase">DESCRIPCIÓN</ion-label>
      <ion-item>
        <ion-textarea formControlName="description"></ion-textarea>
      </ion-item>
    </div>
    <div class="container-select">
      <ion-label class="label ion-text-uppercase">Módulo</ion-label>
      <ion-item>
        <ion-select formControlName="module"
          cancelText="Cancelar"
          okText="Aceptar">
          <ion-select-option value="online-store"><span>Tienda online</span></ion-select-option>
          <ion-select-option value="employment-exchange"><span>Bolsa de empleos</span></ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <div class="container-select">
      <ion-label class="label ion-text-uppercase">ESTADO</ion-label>
      <ion-item>
        <ion-select formControlName="status"
          cancelText="Cancelar"
          okText="Aceptar">
          <ion-select-option value="{{true}}"
            selected><span>Público</span></ion-select-option>
          <ion-select-option value="{{false}}"><span>Oculto</span></ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <div class="container-btn">
      <ion-button class="btn"
        (click)="addSubscription()"
        [disabled]="!form.valid"> Guardar </ion-button>
    </div>
  </form>
</ion-content>
