<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Productos</ion-title>
    <ion-buttons slot="start" (click)="closeModal()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div class="container-inputs">
  <ion-label class="label ion-text-uppercase" position="stacked">Observación</ion-label>
  <ion-item>
    <ion-input disabled name="user" type="text" value="{{ observation }}"></ion-input>
  </ion-item>
</div>

<ion-content>
  <div class="container-card" *ngFor="let orderDetail of orderDetails">
    <ion-card (click)="navigate()">
      <ion-row>
        <ion-col size="4">
          <ion-card-header>
            <ion-avatar>
              <img src="{{ orderDetail.product.image }}" />
            </ion-avatar>
          </ion-card-header>
        </ion-col>

        <ion-col size="8">
          <ion-card-content>
            <div class="container-name">
              <h1>{{ orderDetail.product.name }}</h1>
              <h1 class="price">${{ orderDetail.product.price }}</h1>
            </div>
            <p>
              <strong>Descripción: </strong
              >{{ reduceProductDescription(orderDetail.product.description) }}
            </p>
            <p *ngIf="orderDetail.product.module !== 'online-store'">
              <strong>Tiempo de preparación: </strong
              >{{ orderDetail.product.preparationTime | date: 'mm' }} Min
            </p>

            <p><strong>Cantidad: </strong>{{ orderDetail.productQuantity }}</p>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
