<ion-app appParallaxHeader>
  <app-secondary-header
    url="/home"
    [user]="user"
    *ngIf="user?.role === 'business'"
  ></app-secondary-header>

  <ion-header class="ion-no-border" *ngIf="user?.role !== 'business'">
    <ion-toolbar>
      <ion-buttons>
        <ion-button slot="start" (click)="goToHome()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <!-- <ion-back-button slot="start" defaultHref="/home"></ion-back-button> -->
      <ion-icon
        slot="end"
        class="icon-before-historial"
        name="bag-outline"
        (click)="goToListOrderOnline()"
      ></ion-icon>
      <ion-icon
        slot="end"
        src="../../../../assets/images/historial.svg"
        (click)="goToListHistoryClient()"
      ></ion-icon>
    </ion-toolbar>
  </ion-header>

  <ion-row class="container-title-home">
    <ion-col size="12">
      <h1>Tienda Online</h1>
      <p>Encuentra productos nuevos</p>
    </ion-col>
  </ion-row>

  <ion-content [scrollEvents]="true">
    <div class="parallax-banner">
      <app-advertising-banner-slide module="online-store"></app-advertising-banner-slide>
    </div>

    <ion-row class="sticky">
      <ion-col size="12" class="padding-slide">
        <app-category-slide
          [options]="categoriesOnlineStore"
          (valueResponse)="getProductsByCategory($event)"
          [categoryTitle]="categoryTitle"
        >
        </app-category-slide>
      </ion-col>
      <ion-col size="12">
        <ion-searchbar
          placeholder="Buscar Productos"
          inputmode="text"
          (click)="openSearchModal()"
          [debounce]="250"
          mode="md"
          animated
        ></ion-searchbar>
      </ion-col>
    </ion-row>

    <ion-row class="container-delivery-card main">
      <ion-col size="11" *ngFor="let product of products | filtro:searchText:'name'">
        <app-product-online-card [product]="product"></app-product-online-card>
      </ion-col>
    </ion-row>

    <ion-row class="container-delivery-card" *ngIf="products.length === 0">
      <img src="../../../../assets/images/no-products.png" alt="" />
      <p class="msg">No se encuentran productos de {{categoryTitle}}</p>
    </ion-row>
  </ion-content>
</ion-app>
