<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Hoja de vida</ion-title>
    <ion-back-button slot="start"
      defaultHref="home/home-jobs/panel-client"></ion-back-button>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <div class="container-inputs"
    *ngIf="curriculumVitae.nameFile !== ''">
    <ion-label class="label ion-text-uppercase"
      position="stacked">Archivo (Formato PDF):</ion-label>

    <ion-item>
      <ion-input name="user"
        type="text"
        placeholder="Suba su documento en formato PDF"
        [(ngModel)]="curriculumVitae.nameFile"
        readonly></ion-input>
      <ion-col size="2">
        <ion-row class="container-btn"
          *ngIf="statusUploadDocument !== false">
          <ion-button class="btn"
            (click)="watchCurriculumVitae()">
            <ion-icon name="eye"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-col>

      <ion-col size="2"
        class="container-btn">
        <ion-input type="file"
          accept="application/pdf"
          (change)="uploadPdfTemporary($event)"
          class="input-file"></ion-input>
        <ion-button (click)="uploadHv()"
          class="btn">
          <ion-icon name="cloud-upload"></ion-icon>
        </ion-button>
      </ion-col>

    </ion-item>
  </div>

  <ion-row class="container-btn">
    <ion-button class="btn"
      (click)="addCurriculumVitae()"> Guardar </ion-button>
  </ion-row>
</ion-content>