<app-secondary-header name="Detalle de compra" url="/home/home-store"></app-secondary-header>

<ion-content>
  <div class="typeSell">
    <ion-label class="title">Método de entrega</ion-label>
  </div>
  <ion-card>
    <ion-list>
      <ion-radio-group
        allow-empty-selection="true"
        name="radio-group"
        value="{{orderMaster?.methodSend}}"
        (ionChange)="radioGroupentrega($event)"
        #radioGroup
      >
        <ion-item class="container-method">
          <ion-radio value="delivery"></ion-radio>
          <ion-icon class="icon" name="bicycle-outline"></ion-icon>
          <ion-label>Delivery Ruah</ion-label>
        </ion-item>
        <ion-item class="no-border">
          <ion-radio value="otro "></ion-radio>
          <ion-icon class="icon" name="car-sport-outline"></ion-icon>
          <ion-label>Otro método</ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-card>

  <ion-col *ngIf="orderMaster.coupons === undefined" size="12" class="card">
    <div class="typeSell">
      <ion-label class="title">Cupón de descuento</ion-label>
    </div>
    <ion-card class="container-user-card">
      <ion-card-content>
        <ion-select
          placeholder="Cupón"
          value=""
          [(ngModel)]="selectCoupons"
          (ionChange)="couponsSelect()"
        >
          <ion-select-option value="">Seleccione un cupón</ion-select-option>
          <div *ngFor="let data of coupons; let i = index">
            <ion-select-option [value]="data">Descuento de {{data.percentage}}%</ion-select-option>
          </div>
        </ion-select>
      </ion-card-content>
    </ion-card>
  </ion-col>

  <ion-col size="12" class="card">
    <div class="typeSell">
      <ion-label class="title">Pago total del producto</ion-label>
    </div>
    <ion-card class="container-user-card">
      <ion-card-content>
        <h1>${{totalPrice | number: '1.2-2' }}</h1>
      </ion-card-content>
    </ion-card>
  </ion-col>

  <ion-col size="12" *ngIf="entregar === 'delivery'" class="card">
    <h1>Pago por delivery</h1>
    <ion-card class="container-user-card">
      <ion-card-content>
        <ion-item class="ion-item-checkout">
          <ion-label><strong>Distancia:</strong>{{kilometres}}km</ion-label>
        </ion-item>
        <ion-item class="ion-item-checkout">
          <ion-label><strong>Total:</strong>${{costDeliverIva | number}}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-col>

  <div class="typeSell">
    <ion-label class="title">Método de pago</ion-label>
  </div>
  <ion-card>
    <ion-list>
      <ion-radio-group
        allow-empty-selection="true"
        name="radio-group"
        value="{{orderMaster?.payment}}"
        (ionChange)="radioGroupChange($event)"
        #radioGroup
      >
        <ion-item>
          <ion-radio value="transferencia"></ion-radio>
          <ion-icon class="icon" name="business-outline"></ion-icon>
          <ion-label>Transferencia</ion-label>
        </ion-item>
      </ion-radio-group>
      <div *ngIf="method == 'transferencia' && orderMaster?.status !== 'completado'  ">
        <ion-card class="container-user-card">
          <ion-card-content>
            <ion-list>
              <ion-item class="ion-item-checkout">
                <ion-label><strong>Banco:</strong> {{bankAccount[0]?.nameBank}}</ion-label>
              </ion-item>
              <ion-item class="ion-item-checkout">
                <ion-label
                  ><strong>Tipo de cuenta:</strong>{{bankAccount[0]?.accountType}}</ion-label
                >
              </ion-item>
              <ion-item class="ion-item-checkout">
                <ion-label><strong>Titular:</strong> {{bankAccount[0]?.ownerName}}</ion-label>
              </ion-item>
              <ion-item class="ion-item-checkout">
                <ion-label
                  ><strong>Numero de cuenta:</strong>{{bankAccount[0]?.accountNumber}}</ion-label
                >
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
        <h1>Subir comprobante</h1>
        <div class="input-file-vocuher-container">
          <ion-input
            type="file"
            accept="image/*"
            (change)="uploadImageTemporary($event)"
            class="input-file"
          ></ion-input>
          <ion-text>Agregar comprobante</ion-text>
          <ion-icon name="add-outline"></ion-icon>
        </div>
      </div>
      <div
        class="container-img-voucher"
        *ngIf="img !== '' && orderMaster?.status !== 'completado' "
      >
        <div class="img-voucher" style="background-image: url({{img}});"></div>
      </div>
      <div
        class="container-img-voucher"
        *ngIf="orderMaster?.voucher!== '' && orderMaster?.status === 'completado'"
      >
        <div class="img-voucher" style="background-image: url({{orderMaster?.voucher}});"></div>
      </div>
    </ion-list>
  </ion-card>
  <ion-fab
    vertical="bottom"
    (click)="loadmap()"
    horizontal="end"
    class="btn-float"
    slot="fixed"
    *ngIf=" orderMaster?.status !== 'completado'"
  >
    <ion-fab-button>
      <ion-icon name="location"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="typeSell" *ngIf=" orderMaster?.status !== 'completado'">
    <div class="container-inputs">
      <ion-label class="title">Dirección</ion-label>
      <ion-item lines="none">
        <ion-input disabled="true" name="user" type="text" [(ngModel)]="marker.title"></ion-input>
      </ion-item>
    </div>
  </div>

  <div class="typeSell" *ngIf=" orderMaster?.status === 'completado'">
    <div class="container-inputs">
      <ion-label class="title">Dirección</ion-label>
      <ion-item lines="none">
        <ion-input
          name="user"
          type="text"
          value="{{
          orderMaster?.address}}"
        ></ion-input>
      </ion-item>
    </div>
  </div>

  <div class="map-wrapper" *ngIf=" orderMaster?.status !== 'completado'">
    <div id="map_center">
      <ion-icon name="location" size="large" color="danger"></ion-icon>
    </div>
    <div #checkmappay id="checkmappay"></div>
  </div>

  <ion-row class="container-btn" *ngIf="orderMaster.status !== 'completado'">
    <ion-button class="btn" (click)="payOrder()"> Continuar </ion-button>
  </ion-row>
</ion-content>
