.container-name {
  flex-direction: row;
  justify-content: space-between;
}

ion-card {
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

ion-card-header {
  display: flex;
  justify-content: space-between;
}

ion-button {
  --background: var(--ion-color-primary);
  --box-shadow: 0px 3px 3px rgba($color: #000000, $alpha: 0.3);
  --border-radiuss: 10px;
  margin-bottom: 10px;
  width: 90%;
  height: 50px;
}

ion-badge {
  padding: 10px;
  border-radius: 10px;
}

img {
  border-radius: 10px;
  width: 140px;
}

.name {
  font-size: 20px;
  color: rgba(43, 43, 43, 0.8);
  font-weight: bold;
  margin-bottom: 10px;
}

.company {
  color: rgba(43, 43, 43, 0.8);
  font-weight: 500;
}

.description {
  display: flex;
  flex-direction: column;
  color: rgba(43, 43, 43, 0.8);
}

.offers {
  color: rgba(43, 43, 43, 0.8);
}

.color-azul {
  color: var(--ion-color-primary);
}

ion-radio {
  --color-checked: var(--ion-color-primary);
}

//Contenedor de los titulos
.typeSell {
  padding: 20px;
  margin-top: 10px;

  ion-item {
    --background: rgba(0, 0, 0, 0);
  }
}

//Contenedor de los titulos
.typeSell-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  margin-top: 10px;
}

//Tittulos
.title {
  font-weight: bold;
  font-size: 20px;
}

.title-direction {
  font-weight: bold;
  font-size: 22px;
}

//Quita el borde de los ion-item
.no-border {
  --border-color: rgba(255, 255, 255, 0);
}

//Padding a los ion-item para que tengan mas espacio entre ellos
ion-item {
  padding: 10px;
}

//Estilos de iconos
.icon {
  color: white;
  background: var(--ion-color-primary);
  border-radius: 10px;
  padding: 10px;
  margin: 0px 10px;
}

.map-wrapper {
  position: relative;
  height: 50%;

  #map_center {
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 40px;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -28px;
  }
}

//Estilo de mapa
#checkmappay {
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.288);
  transition: opacity 150ms ease-in;
  display: block;

  &.show-map {
    opacity: 1;
  }
}

//Contenedor para centrar el mapa
.container-map {
  display: flex;
  justify-content: center;
}

.container-btn {
  margin-top: 10%;
}

.card {
  .name-order {
    margin-left: 20px;
    text-align: left;
  }
}
