<app-secondary-header
  name="Publicaciones de empleos"
  url="/home/panel-admin/"
  [info]="true"
  infoMessage="En esta sección podrá ver las publicaciones de los empleos y ocultarlos si lo desea."
></app-secondary-header>

<ion-row>
  <ion-col size="12">
    <ion-searchbar
      placeholder="Buscar empleo por nombre"
      inputmode="text"
      (ionChange)="onSearchChange($event)"
      [debounce]="250"
      mode="md"
      animated
    ></ion-searchbar>
  </ion-col>
</ion-row>

<ion-content>
  <div>
    <div *ngFor="let data of publications | filtro:searchText:'name' ">
      <ion-card class="cruds-cart">
        <ion-card-header>
          <ion-img src="{{data.image}}"></ion-img>
        </ion-card-header>
        <ion-card-content>
          <p><strong>Nombre: </strong>{{data.name}}</p>
          <p><strong>Contrato por: </strong>{{data.ContractFor}}</p>
          <p><strong>Categorría: </strong>{{data.category}}</p>
          <p><strong>Ciudad: </strong>{{data.city}}</p>
          <p>
            <strong>Fecha de publicación: </strong>{{data.datePublication.toDate() | date:
            'dd/MM/yyyy'}}
          </p>
          <p *ngIf="data.isActive === 'true'"><strong>Estado: </strong>Público</p>
          <p *ngIf="data.isActive === 'false'"><strong>Estado: </strong>Oculto</p>
          <p><strong>Años de experiencia: </strong>{{data.experiensYears | date:'m'}}</p>
          <p><strong>Descripción: </strong>{{data.description }}</p>
          <p><strong>Educación minima: </strong>{{data.minimumEducation }}</p>
          <p><strong>Salario: </strong>{{data.salary }}</p>
          <p><strong>Numero de vacantes: </strong>{{data.vacancyNumber | date:'m' }}</p>
          <ion-row>
            <ion-col size="12" *ngIf="data.isActive === 'false'" class="container-btn-card">
              <ion-button color="warning" (click)="desBanPublications(data)"> Mostrar </ion-button>
            </ion-col>
            <ion-col size="12" *ngIf="data.isActive === 'true'" class="container-btn-card">
              <ion-button color="danger" (click)="banPublications(data)"> Ocultar </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
