<app-header [role]="user.role" [context]="this"> </app-header>

<ion-content>
  <ion-grid *ngIf="user.role === 'motorized'">
    <app-banner-card [userName]="user.name" [loading]="loading"></app-banner-card>
    <ion-row class="container-modules">
      <ion-col size="6">
        <app-home-card
          color="rgb(129,171,228,0.7)"
          [loading]="loading"
          image="../../../assets/images/order.png"
          title="Órdenes"
          [quantityOrder]="quantityOrder"
          (click)="goToOrdersMoroeized()"
          textColor="#4A4A4A"
        ></app-home-card>
      </ion-col>
      <ion-col size="6">
        <app-home-card
          textColor="#4A4A4A"
          color="#fafb90"
          image="../../../assets/images/delivery.png"
          title="Vehículo"
          [loading]="loading"
          (click)="goToVehicleMoroeized()"
        ></app-home-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="user.role !== 'motorized'">
    <app-banner-card [loading]="loading" [userName]="user.name"></app-banner-card>
    <ion-row class="container-modules">
      <ion-col size="6">
        <app-home-card
          [loading]="loading"
          color="#fafb90"
          image="../../../assets/images/ecommerce.png"
          title="Tienda Online"
          textColor="#4A4A4A"
          url="/home/home-store"
        ></app-home-card>
      </ion-col>
      <ion-col size="6">
        <app-home-card
          [loading]="loading"
          color="rgb(129,171,228,0.7)"
          textColor="#4A4A4A"
          image="../../../assets/images/order.png"
          url="/home/home-marketplace"
          title="MarketPlace"
        >
        </app-home-card>
      </ion-col>
    </ion-row>
    <ion-row class="container-modules">
      <ion-col size="6">
        <app-home-card
          [loading]="loading"
          color="rgb(129,171,228,0.7)"
          image="../../../assets/images/delivery.png"
          title="Entrega a domicilio"
          textColor="#4A4A4A"
          url="/home/home-delivery"
        ></app-home-card>
      </ion-col>
      <ion-col size="6">
        <app-home-card
          [loading]="loading"
          color="#fafb90"
          image="../../../assets/images/employment-exchange.png"
          title="Bolsa de empleo"
          textColor="#4A4A4A"
          url="/home/home-jobs"
        ></app-home-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" class="btn-float" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="start">
      <ion-fab-button (click)="openFacebook()">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="openInstagram()">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="openYoutube()">
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
