<app-secondary-header
  name="Productos de tienda online"
  url="/home/panel-admin/"
  [info]="true"
  infoMessage="En esta sección podrá ver los productos subidos a tienda online y ocultarlos si es que lo desea."
></app-secondary-header>

<ion-row>
  <ion-col size="12">
    <ion-searchbar
      placeholder="Buscar producto por nombre"
      inputmode="text"
      (ionChange)="onSearchChange($event)"
      [debounce]="250"
      mode="md"
      animated
    ></ion-searchbar>
  </ion-col>
</ion-row>

<ion-content>
  <ion-row class="container-delivery-card" *ngIf="products.length === 0">
    <img src="../../../../assets/images/no-products.png" alt="" />
    <p class="msg">No se han subido productos todavía</p>
  </ion-row>
  <div>
    <div *ngFor="let data of products  | filtro:searchText:'name' ">
      <ion-card class="cruds-cart">
        <ion-card-header>
          <ion-img src="{{data.image}}"></ion-img>
        </ion-card-header>
        <ion-card-content>
          <p><strong>Nombre: </strong>{{data.name}}</p>
          <p *ngIf="data.isActive === 'true'"><strong>Estado: </strong>Público</p>
          <p *ngIf="data.isActive === 'false'"><strong>Estado: </strong>Oculto</p>
          <p><strong>Descripción: </strong>{{data.description }}</p>
          <ion-row>
            <ion-col size="12" *ngIf="data.isActive === 'false'" class="container-btn-card">
              <ion-button color="warning" (click)="desBanProduct(data)"> Mostrar </ion-button>
            </ion-col>
            <ion-col size="12" *ngIf="data.isActive === 'true'" class="container-btn-card">
              <ion-button color="danger" (click)="banProduct(data)"> Ocultar </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
