<ion-header>
  <ion-toolbar>
    <ion-title>{{ day | uppercase }}</ion-title>
    <ion-icon slot="end" name="close-circle-outline" (click)="closeModal()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="6" class="container-option">
      <p>Apertura</p>
      <ion-item>
        <ion-datetime
          cancelText="Cancelar"
          doneText="Aceptar"
          display-format="HH:mm"
          placeholder="Click para editar"
          [(ngModel)]="opening"
        ></ion-datetime>
      </ion-item>
    </ion-col>

    <ion-col size="6" class="container-option">
      <p>Cierre</p>
      <ion-item>
        <ion-datetime
          cancelText="Cancelar"
          doneText="Aceptar"
          display-format="HH:mm"
          placeholder="Click para editar"
          [(ngModel)]="closing"
        ></ion-datetime>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-radio-group allowEmptySelection="true" value="false" [(ngModel)]="closed">
        <ion-item>
          <ion-label>Cerrado</ion-label>
          <ion-radio slot="start" value="true"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-col>

    <ion-col size="10" offset="1">
      <ion-button class="btn" (click)="sendData(day, opening, closing, closed)">
        Cambiar horario</ion-button
      >
    </ion-col>
  </ion-row>
</ion-content>
