<app-secondary-header name="Detalle de empleo"
  url="/home/home-jobs/panel-client/postulations-client"></app-secondary-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <div class="product-img"
        style="background-image: url({{publication?.image}})"></div>
    </ion-col>
  </ion-row>

  <ion-row class="container-title">
    <ion-col size="7">
      <h5>{{publication?.name}}</h5>
    </ion-col>
    <ion-col size="5"
      class="container-price">
      <h1>${{publication?.salary}}</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <p>{{publication?.description}}</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <p><strong>Contrato por:</strong> {{publication?.ContractFor}}</p>
      <h6><strong>Ciudad:</strong> {{publication?.city}}</h6>
      <h6>
        <strong>Fecha de publicación:</strong> {{ publication?.datePublication.toDate() | date:
        'dd/MM/yyyy'}}
      </h6>
    </ion-col>

    <ion-col size="6">
      <h6><strong>Años de experiencia:</strong> {{ publication?.experiensYears | date: 'm'}}</h6>
      <h6><strong>Educación minima:</strong> {{ publication?.minimumEducation}}</h6>
      <h6><strong>Vacantes:</strong> {{ publication?.vacancyNumber | date: 'm'}}</h6>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="pdfFile !== undefined">
    <h5><strong>Nombre del archivo:</strong> {{ pdfFile?.name}}</h5>
  </ion-row>

  <ion-row class="container-btn"
    *ngIf="offerJob?.status === 'aceptado'">
    <ion-button class="btn"
      routerLink="/online-store-chat/{{ transmitterEmail }}">
      Comunicarse con la empresa
    </ion-button>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p>Fecha de postulación: {{offerJob?.createAt.toDate() | date: 'dd/MM/yyyy' }}</p>
  </ion-toolbar>
</ion-footer>