<ion-card (click)="navigateToDeliveryDetail()">
  <ion-card-header>
    <ion-avatar>
      <img src="{{ user.image }}" />
    </ion-avatar>
  </ion-card-header>
  <ion-card-content>
    <ion-row>
      <ion-col class="container-name" size="12">
        <h1>{{ user.name }}</h1>
        <h4 *ngIf="orderMaster.nroOrder !== ''" class="nro-Order">#{{ orderMaster.nroOrder }}</h4>
      </ion-col>
      <ion-col size="12">
        <ion-label> <strong>Numero de teléfono:</strong> {{ user.phoneNumber }} </ion-label>
      </ion-col>
      <ion-col size="12" class="container-status">
        <ion-label><strong>Estado:</strong></ion-label>
        <ion-label
          *ngIf="orderMaster.status === 'pendiente' || orderMaster.status === 'recibido'"
          color="warning"
        >
          {{ orderMaster.status | titlecase }}
        </ion-label>

        <ion-label
          *ngIf="
            orderMaster.status === 'listo' ||
            orderMaster.status === 'completado' ||
            orderMaster.status === 'procesando'
          "
          color="success"
        >
          {{ orderMaster.status | titlecase }}
        </ion-label>

        <ion-label *ngIf="orderMaster.status === 'cancelado'" color="danger">
          {{ orderMaster.status | titlecase }}
        </ion-label>
        <ion-label *ngIf="orderMaster.status === 'preparacion'" color="warning">
          Preparando
        </ion-label>
        <ion-label *ngIf="orderMaster.status === 'encamino'" color="success"> En camino </ion-label>
      </ion-col>
      <ion-col size="12">
        <ion-label>
          <strong>Fecha de pedido:</strong> {{ orderMaster.date.toDate() | date: 'dd/MM/yyyy' }}
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
