ion-card {
  margin-top: 15px;
  display: flex;
  width: 95%;
  color: black;
  border-radius: 20px;

  h1 {
    font-size: 18px;
    font-weight: bold;
    margin: 7% 0px 5% 0px;
  }
}

.container-name {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nro-Order {
    color: var(--ion-color-primary)
  }
}



ion-label {
  display: block;
  margin-bottom: 5px;
}

ion-col {
  padding: 0px;
}
