 //Estilo de mapa
 #clientMapMotorized {
   width: 100%;
   height: 100%;
   opacity: 0;
   border-radius: 5px;
   border: 2px solid rgba(0, 0, 0, 0.288);
   transition: opacity 150ms ease-in;
   display: block;

   &.show-map {
     opacity: 1;
   }
 }
