<app-secondary-header name="Ubicación del motorizado"
  url="/datail-user/{{userId}}"></app-secondary-header>

<ion-content>
  <div #clientMapMotorized
    id="clientMapMotorized"></div>
  <ion-fab vertical="bottom"
    (click)="loadMark()"
    horizontal="start"
    class="btn-float"
    slot="fixed">
    <ion-fab-button>
      <ion-icon name="location"></ion-icon>
    </ion-fab-button>


  </ion-fab>
</ion-content>
