<div class="container-card">
  <ion-card (click)="navigateToSuscriptionRequDetail()">
    <ion-row>
      <ion-col size="4">
        <ion-card-header>
          <ion-avatar>
            <img src="{{ data.user?.image }}" />
          </ion-avatar>
        </ion-card-header>
      </ion-col>

      <ion-col size="8">
        <ion-card-content>
          <div class="container-name">
            <h1>{{ data.subscritions?.name }}</h1>
            <h1 class="price">${{ data.subscritions?.price }}</h1>
          </div>
          <p><strong>Empresa: </strong>{{ data.user?.name }}</p>
          <p><strong>Email-empresa: </strong>{{ data.user?.email }}</p>
          <p>
            <strong>Fecha de solicitud: </strong> {{ data.createAt.toDate() | date: 'dd/MM/yyyy' }}
          </p>
          <ion-label><strong>Estado: </strong></ion-label>
          <ion-label color="warning" *ngIf="data.status === 'revision'">{{
            data.status | titlecase
          }}</ion-label>
          <ion-label color="success" *ngIf="data.status === 'activo'">{{
            data.status | titlecase
          }}</ion-label>
          <ion-label color="danger" *ngIf="data.status === 'cancelado'">{{
            data.status | titlecase
          }}</ion-label>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-card>
</div>
