<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Detalle de {{user?.name}}</ion-title>
    <ion-back-button slot="start" defaultHref="/home"></ion-back-button>
    <ion-icon
      slot="end"
      *ngIf="user?.role == 'motorized'"
      (click)="goToSeeMotorized()"
      name="location"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-avatar>
      <img *ngIf="user?.image" src="{{ user?.image }}" />
      <img *ngIf="!user?.image" src="../../../../assets/images/profiledefaul.png" />
    </ion-avatar>
    <h1>{{ user?.name }}</h1>
  </div>
  <ion-row>
    <ion-col size="6">
      <ion-select [(ngModel)]="newRole" placeholder="Seleccione un rol">
        <ion-select-option value="customer">Cliente</ion-select-option>
        <ion-select-option value="delivery">Delivery</ion-select-option>
        <ion-select-option value="motorized">Motorizado</ion-select-option>
        <ion-select-option value="administrator">Administrador</ion-select-option>
        <ion-select-option value="business">Negocio</ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col size="6" class="update">
      <ion-button class="update-role-btn" (click)="updateRole(user?.uid)"> Actualizar </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-select [(ngModel)]="isActive" placeholder="Cambiar estado">
        <ion-select-option value="true">Activado</ion-select-option>
        <ion-select-option value="false">Desactivado</ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col size="6" class="update">
      <ion-button class="update-role-btn" (click)="updateStatus(user?.uid)">
        Actualizar
      </ion-button>
    </ion-col>
  </ion-row>

  <div class="container-inputs">
    <ion-label class="label ion-text-uppercase" position="stacked">Genero</ion-label>
    <ion-item>
      <ion-input
        *ngIf="user?.gender == 'feminine'"
        name="user"
        disabled="true"
        type="text"
        value="Femenino"
      ></ion-input>
      <ion-input
        *ngIf="user?.gender == 'male'"
        name="user"
        disabled="true"
        type="text"
        value="Masculino"
      ></ion-input>
      <ion-input
        *ngIf="user?.gender == 'Other'"
        name="user"
        disabled="true"
        type="text"
        value="Otro"
      ></ion-input>
    </ion-item>
  </div>
  <div class="container-inputs">
    <ion-label class="label ion-text-uppercase" position="stacked">Numero de documento</ion-label>
    <ion-item>
      <ion-input disabled="true" type="text" value="{{user?.identificationDocument}}"></ion-input>
    </ion-item>
  </div>

  <div class="data-container" *ngIf="user?.role == 'delivery'">
    <div class="container-inputs">
      <ion-label class="label ion-text-uppercase" position="stacked">CATEGORÍA</ion-label>
      <ion-item>
        <ion-input disabled="true" type="text" value="{{ user?.category }}"></ion-input>
      </ion-item>
    </div>
  </div>

  <div class="container-inputs">
    <ion-label class="label ion-text-uppercase" position="stacked">Telefono</ion-label>
    <ion-item>
      <ion-input disabled="true" type="text" value="{{ user?.phoneNumber }}"></ion-input>
    </ion-item>
  </div>

  <div class="container-inputs">
    <ion-label class="label ion-text-uppercase" position="stacked">CORREO</ion-label>
    <ion-item>
      <ion-input disabled="true" type="text" value="{{ user?.email }}"></ion-input>
    </ion-item>
  </div>

  <div class="container-inputs">
    <ion-label class="label ion-text-uppercase" position="stacked">DIRECCIÓN</ion-label>
    <ion-item>
      <ion-input disabled="true" type="text" value="{{ user?.address }}"></ion-input>
    </ion-item>
  </div>

  <div class="container-inputs">
    <ion-label class="label ion-text-uppercase" position="stacked">DIRECCIÓN</ion-label>
    <ion-item>
      <ion-input *ngIf="user?.isActive" disabled="true" type="text" value="Activo"></ion-input>
      <ion-input *ngIf="!user?.isActive" disabled="true" type="text" value="Inactivo"></ion-input>
    </ion-item>
  </div>

  <div class="data-container" *ngIf="user?.role == 'motorized'">
    <ion-label class="label ion-text-uppercase" position="stacked">PLACA</ion-label>
    <ion-card>
      <ion-card-content>
        <img src="{{ vehicle?.imgPlate }}" alt="" />
      </ion-card-content>
    </ion-card>
  </div>
  <div class="data-container" *ngIf="user?.role == 'motorized'">
    <ion-label class="label ion-text-uppercase" position="stacked">VEHÍCULO</ion-label>
    <ion-card>
      <ion-card-content>
        <img src="{{ vehicle?.imgVehice }}" alt="" />
      </ion-card-content>
    </ion-card>
  </div>
  <div class="data-container" *ngIf="user?.role == 'motorized'">
    <ion-label class="label ion-text-uppercase" position="stacked">LICENCIA</ion-label>
    <ion-card>
      <ion-card-content>
        <img src="{{ vehicle?.imglicense }}" alt="" />
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer
  *ngIf="user?.role === 'delivery' || user?.role === 'business' ||  user?.role === 'customer' ||  user?.role === 'administrator' "
>
  <ion-toolbar>
    <ion-row>
      <ion-col size="6" class="container-btn">
        <ion-button class="btn" (click)="goToSeeOrders()"> Ver ordenes </ion-button>
      </ion-col>
      <ion-col size="6" class="container-btn">
        <ion-button class="btn" (click)="goToCoupons()"> Cupones </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

<ion-footer *ngIf="user?.role === 'motorized' ">
  <ion-toolbar>
    <ion-row>
      <ion-col size="6" class="container-btn">
        <ion-button class="btn" (click)="goToSeeOrders()"> Ver ordenes </ion-button>
      </ion-col>
      <ion-col size="6" class="container-btn">
        <ion-button class="btn" (click)="goToSeeReviews()"> Ver reseñas </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
