.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  ion-avatar {
    width: 150px;
    height: 150px;
  }



  .data-container {
    text-align: center;

    p {
      font-weight: bold;
      font-size: 17px;
    }

    .header-text {
      font-weight: bold;
      color: var(--ion-color-primary);
    }
  }
}


ion-row {
  justify-content: center;

  ion-col {
    display: flex;

  }
}

ionc-card {
  border-radius: 20px;
}

.update {
  display: flex;
  justify-content: flex-end;
}
