<app-secondary-header name="Detalle de la postulación"
  url="/home/home-store/panel-store/postulations-enterprise"></app-secondary-header>

<ion-row class="container-status">
  <ion-col size="6"
    class="container-select">
    <ion-item>
      <ion-select name="gender"
        cancelText="Cancelar"
        name="role"
        value="client"
        okText="Aceptar"
        [(ngModel)]="status">
        <ion-select-option value="aplicada"><span>Aplicada</span></ion-select-option>
        <ion-select-option value="visto"><span>Visto</span></ion-select-option>
        <ion-select-option value="revisando"><span>Revisando</span></ion-select-option>
        <ion-select-option value="aceptado"><span>Aceptado</span></ion-select-option>
        <ion-select-option value="rechazado"><span>Rechazado</span></ion-select-option>
      </ion-select>
    </ion-item>
  </ion-col>
  <ion-col size="6"
    class="container-btn">
    <ion-button class="btn"
      (click)="updateStatusOfferJob()"> Actualizar </ion-button>
  </ion-col>
</ion-row>

<ion-content>
  <ion-row>
    <ion-col size="12"
      class="card">
      <h1>Datos del postulante</h1>
      <ion-card class="container-user-card">
        <ion-card-header>
          <ion-avatar>
            <img src="{{user?.image}}" />
          </ion-avatar>
        </ion-card-header>
        <ion-card-content>
          <ion-label><strong>Nombre: </strong>{{user?.name}}</ion-label>
          <ion-label><strong>Email: </strong>{{user?.email}}</ion-label>
          <ion-label><strong>Teléfono: </strong>{{user?.phoneNumber}}</ion-label>
          <ion-label><strong>Nro identificación: </strong>{{user?.identificationDocument}}</ion-label>
          <ion-label><strong>Fecha de postulación: </strong>{{offerJob?.createAt.toDate() | date:
            'dd/MM/yyyy'}}</ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12"
      class="card">
      <h1>Datos del empleo</h1>
      <ion-card class="container-user-card">
        <ion-card-header>
          <ion-avatar>
            <img src="{{publications?.image}} " />
          </ion-avatar>
        </ion-card-header>
        <ion-card-content>
          <ion-label><strong>Nombre: </strong>{{publications?.name}} </ion-label>
          <ion-label><strong>Salario:</strong>{{publications?.salary}} </ion-label>
          <ion-label><strong>Ciudad:</strong> {{publications?.city}}</ion-label>
          <ion-label><strong>Contrato por:</strong> {{publications?.ContractFor}}</ion-label>
          <ion-label><strong>Eduación minima:</strong> {{publications?.minimumEducation}}</ion-label>
          <ion-label><strong>Fecha de publicación:</strong> {{publications?.datePublication.toDate() | date:
            'dd/MM/yyyy' }}</ion-label>
          <ion-label><strong>Numero de vacantes:</strong> {{publications?.vacancyNumber |
            date:'m'}}</ion-label>
          <ion-label><strong>Años de experiencia:</strong> {{ publications?.experiensYears |
            date:'m'}}</ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row class="container-btn"
    *ngIf="offerJob?.status === 'aceptado'">
    <ion-button class="btn"
      routerLink="/online-store-chat/{{ user?.email }}">
      Chatear con postulante
    </ion-button>
    <ion-col size=11>
      <a href="https://wa.me/593{{user?.phoneNumber}}?text=Saludos, estoy interesado en su postulación a {{publications?.name}}"
        class="whatsapp">
        <ion-icon name="logo-whatsapp"
          class="whatsapp-icon"></ion-icon>
      </a>
    </ion-col>
  </ion-row>
  <ion-row class="container-btn">
    <ion-button (click)="watchCurriculumVitae()"
      class="btn">Ver CV </ion-button>
  </ion-row>
</ion-content>