<!-- <ion-card>
  <ion-card-header>
    <ion-card-subtitle>{{ nameBank }}</ion-card-subtitle>
    <ion-card-title>{{ ownerName }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    {{ accountNumber }}
  </ion-card-content>
  <ion-button
    (click)="
      presentModal(
        bankAccountId,
        nameBank,
        ownerName,
        accountNumber,
        accountOwnerEmail,
        accountType
      )
    "
    expand="block"
  >
    Actualizar
  </ion-button>
  <ion-button (click)="presentAlertConfirm(bankAccountId)" expand="block"> Eliminar </ion-button>
</ion-card> -->

<ion-card class="cruds-cart">
  <ion-card-content>
    <p><strong>Nombre del banco: </strong>{{ nameBank }}</p>
    <p><strong>Nombre: </strong>{{ ownerName }}</p>
    <p><strong>Numero de cuenta: </strong>{{ accountNumber }}</p>
    <ion-row>
      <ion-col size="6" class="container-btn-card">
        <ion-button
          color="warning"
          (click)="
            presentModal(
              bankAccountId,
              nameBank,
              ownerName,
              accountNumber,
              accountOwnerEmail,
              accountType
            )
          "
        >
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="6" class="container-btn-card">
        <ion-button color="danger" (click)="presentAlertConfirm(bankAccountId)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
