ion-card {
  display: flex;
  width: 95%;
  color: black;
  border-radius: 20px;

  h1 {
    font-size: 18px;
    font-weight: bold;
    margin: 7% 0px 4% 0px;
  }
}

ion-label {
  display: block;
}

ion-col {
  padding: 0px;
}
