<ion-card (click)="navigate()">
  <ion-card-header>
    <ion-avatar>
      <img src="{{ user.image ? user.image : '../../../../../../assets/images/profiledefaul.png'}}" />
    </ion-avatar>
  </ion-card-header>
  <ion-card-content>
    <ion-row>
      <h1>{{ user.name | titlecase }}</h1>
      <ion-col size="12">
        <ion-label> Horario de atención: </ion-label>
      </ion-col>
      <ion-col size="12">
        <ion-label *ngIf="user.schedule.closed == false">
          {{ user.schedule.opening | date: 'shortTime' }} -
          {{ user.schedule.closing | date: 'shortTime' }}
        </ion-label>
      </ion-col>
      <ion-col size="12">
        <ion-label *ngIf="user.schedule.closed == true" color="danger">
          Cerrado todo el día
        </ion-label>
      </ion-col>
      <ion-col size="12">
        <ion-label
          *ngIf="user.schedule.closed == false && user.schedule.close == false"
          color="success"
        >
          Abierto
        </ion-label>
        <ion-label
          *ngIf="user.schedule.close == true && user.schedule.closed == false"
          color="danger"
        >
          Cerrado
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
