<ion-row class="padding-slide">
  <ion-col size="0.5" (click)="prevSlide()">
    <ion-icon *ngIf="backArrow" name="arrow-back-outline"></ion-icon>
  </ion-col>
  <ion-col size="11">
    <ion-slides
      [options]="categoryConfig"
      #slides
      (ionSlideReachEnd)="verifyEndSlide()"
      (ionSlideReachStart)="verifyStartSlide()"
      (ionSlideDidChange)="verifyMiddleSlide()"
    >
      <ion-slide *ngFor="let item of options">
        <ion-card (click)="sendCategoryName(item.name)">
          <span *ngIf="item.name == categoryTitle" class="color-select">{{
            reduceCategoryName(item.name) | titlecase
          }}</span>
          <span *ngIf="item.name != categoryTitle">{{
            reduceCategoryName(item.name) | titlecase
          }}</span>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-col>
  <ion-col size="0.5" (click)="nextSlide()">
    <ion-icon *ngIf="forwardArrow" name="arrow-forward-outline"></ion-icon>
  </ion-col>
</ion-row>
