ion-card {
  --background: rgba(0, 0, 0, 0);
  box-shadow: none;
  padding: 0px;
  margin: 0px;
}

.color-select {
  color: var(--ion-color-primary);
  text-decoration: underline;
  font-weight: bold;
}

ion-button {
  background-color: rgba(0, 0, 0, 0);
}

.container-slide {
  display: flex;
  align-items: center;
}

ion-row {
  align-items: center;
  justify-content: center;

  ion-col {
    ion-icon {
      color: rgba(0, 0, 0, 0.178);
    }
  }

}


.padding-slide {
  padding: 0px 10px;
}
