.container-name {
  flex-direction: row;
  justify-content: space-between;
}

ion-card {
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

ion-card-header {
  display: flex;
  justify-content: space-between;
}

ion-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ion-badge {
  padding: 10px;
  border-radius: 10px;
}

.name {
  font-size: 20px;
  color: rgba(43, 43, 43, 0.8);
  font-weight: bold;
  margin-bottom: 10px;
}

.company {
  color: rgba(43, 43, 43, 0.8);
  font-weight: 500;
}

.description {
  display: flex;
  flex-direction: column;
  color: rgba(43, 43, 43, 0.8);
}

.offers {
  color: rgba(43, 43, 43, 0.8);
}

.color-azul {
  color: var(--ion-color-primary);
}

ion-radio {
  --color-checked: var(--ion-color-primary);
}

//Contenedor de los titulos
.typeSell {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  margin-top: 10px;
}

//Contenedor de los titulos
.typeSell-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  margin-top: 10px;
}

//Tittulos
.title {
  font-weight: bold;
  font-size: 20px;
}

.title-direction {
  font-weight: bold;
  font-size: 22px;
}

//Quita el borde de los ion-item
.no-border {
  --border-color: rgba(255, 255, 255, 0);
}

//Padding a los ion-item para que tengan mas espacio entre ellos
ion-item {
  padding: 10px;
}

//Estilos de iconos
.icon {
  color: white;
  background: var(--ion-color-primary);
  border-radius: 10px;
  padding: 10px;
  margin: 0px 10px;
}

//Estilos del mapa
#map {
  padding: 20px;
  height: 400px;
  width: 80%;
  opacity: 0;
  border-radius: 20px;
  margin-bottom: 60px;
  border: 3px solid var(--ion-color-primary);
  transition: opacity 150ms ease-in;
  display: block;

  &.show-map {
    opacity: 1;
  }
}

//Contenedor para centrar el mapa
.container-map {
  display: flex;
  justify-content: center;
}

.container-background {
  justify-content: center;
  .background-image {
    width: 400px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
