<app-secondary-header
  name="Detalle de compra"
  url="/home/home-store/panel-store/list-order-enterprise/order-enterprise-detail/{{orderUid}}"
></app-secondary-header>

<ion-content>
  <div *ngIf="orderMaster?.methodSend !== ''">
    <div class="typeSell">
      <ion-label class="title">Método de entrega</ion-label>
    </div>
    <ion-card>
      <ion-list>
        <ion-radio-group
          allow-empty-selection="true"
          name="radio-group"
          value="{{orderMaster?.methodSend}}"
          (ionChange)="radioGroupentrega($event)"
          #radioGroup
        >
          <ion-item class="container-method">
            <ion-radio disabled="true" value="delivery"></ion-radio>
            <ion-icon class="icon" name="bicycle-outline"></ion-icon>
            <ion-label>Delivery Ruah</ion-label>
          </ion-item>
          <ion-item class="no-border">
            <ion-radio disabled="true" value="otro "></ion-radio>
            <ion-icon class="icon" name="car-sport-outline"></ion-icon>
            <ion-label>Otro método</ion-label>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-card>
    <div class="typeSell">
      <ion-label class="title">Método de pago</ion-label>
    </div>
    <ion-card>
      <ion-list>
        <ion-radio-group
          value="{{orderMaster?.payment}}"
          allow-empty-selection="true"
          name="radio-group"
          #radioGroup
        >
          <ion-item lines="none">
            <ion-radio disabled="true" value="transferencia"></ion-radio>
            <ion-icon class="icon" name="business-outline"></ion-icon>
            <ion-label>Transferencia</ion-label>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-card>

    <div class="typeSell-center">
      <ion-label class="title-direction color-azul">Dirección</ion-label>
    </div>
    <ion-card>
      <div class="ion-text-center">
        <h5>{{orderMaster?.address}}</h5>
      </div>
    </ion-card>

    <div class="typeSell" *ngIf="orderMaster?.voucher !== ''">
      <ion-label class="title">Comprobante</ion-label>
    </div>

    <ion-row class="container-background" *ngIf="orderMaster?.voucher !== ''">
      <div style="background-image: url({{orderMaster?.voucher}})" class="background-image"></div>
    </ion-row>
  </div>

  <ion-row *ngIf="orderMaster?.methodSend === ''" class="container-msg">
    <img src="../../../../assets/images/no-subscriptions.png" alt="" />
    <div class="container-info">
      <h1>El cliente aun no hace el pago correspondiente</h1>
    </div>
  </ion-row>
</ion-content>
