<app-secondary-header
  name="Seguimiento de mi orden"
  url="/home/home-delivery/list-order-client/list-order-client-detail/{{orderMasterUid}}"
></app-secondary-header>

<ion-content>
  <div #mapprogress id="mapprogress"></div>
</ion-content>
