<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Detalle de pedido</ion-title>
    <ion-icon slot="start"
      *ngIf="orderMaster.status !== 'encamino'"
      (click)="goToOrders()"
      name="arrow-back-outline"></ion-icon>
    <ion-icon slot="start"
      *ngIf="orderMaster.status === 'encamino'"
      (click)="alertUser()"
      name="arrow-back-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="card"
    *ngIf="orderMaster.nroOrder!==''">
    <h1>Nro Orden: <span class="color-order">#{{orderMaster.nroOrder}}</span></h1>
  </ion-row>

  <ion-row>
    <ion-col size="12"
      class="card">
      <h1>Datos del cliente</h1>
      <ion-card class="container-user-card">
        <ion-card-header>
          <ion-avatar>
            <img src="{{user.image}}" />
          </ion-avatar>
        </ion-card-header>
        <ion-card-content>
          <ion-label><strong>Nombre: </strong>{{user.name}} </ion-label>
          <ion-label><strong>Email: </strong>{{user.email}} </ion-label>
          <ion-label><strong>Teléfono: </strong>{{user.phoneNumber}} </ion-label>
          <ion-label><strong>Fecha de pedido: </strong>{{orderMaster.date | date:'dd/MM/yyyy' }}
          </ion-label>
          <ion-label><strong>Nro identificación: </strong>{{user.identificationDocument}}
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>


    <ion-col size="12"
      *ngIf="orderMaster.nroOrder!=='' && orderMaster.status === 'encamino'">
      <ion-button routerLink="chat/{{ transmitterEmail }}/true"
        expand="block"
        shape="round">
        Chat con cliente
      </ion-button>
    </ion-col>

    <ion-col size="12"
      *ngIf="orderMaster.nroOrder!=='' && orderMaster.status === 'encamino'">
      <a href="https://wa.me/593{{user.phoneNumber}}"
        class="whatsapp">
        <ion-icon name="logo-whatsapp"
          class="whatsapp-icon"></ion-icon>
      </a>
    </ion-col>

    <ion-col size="12"
      *ngIf="orderMaster.nroOrder!=='' && orderMaster.status === 'encamino' ">
      <ion-button routerLink="chat/{{ transmitterRestaurantEmail }}/false"
        expand="block"
        shape="round">
        Chat con restaurante
      </ion-button>
    </ion-col>

    <ion-col size="12"
      class="card"
      *ngIf="orderMaster.preparationTime!==0">
      <h1>Tiempo de preparación</h1>
      <h2>{{orderMaster.preparationTime | date:'mm:ss'}} Minutos</h2>
    </ion-col>
  </ion-row>

  <ion-row class="container-address">
    <ion-col size="12">
      <h1><strong>Direcciones</strong></h1>
    </ion-col>
    <ion-col class="card"
      size="12">
      <h1 class="name-order">{{enterpriseName}}</h1>
      <ion-card class="container-user-card">
        <ion-card-content>
          <ion-label><strong>
              <h2>{{enterpriseAddress}}</h2>
            </strong></ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col class="card"
      size="12">
      <h1 class="name-order">{{user.name}}</h1>
      <ion-card class="container-user-card">
        <ion-card-content>
          <ion-label><strong>
              <h2>{{orderMaster.address}}</h2>
            </strong></ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12"
      class="card"
      *ngIf="orderMaster.payment !== 'Transferencia'">
      <h1>Cobrar al cliente</h1>
      <ion-card class="container-user-card">
        <ion-card-content>
          <ion-item class="ion-item-checkout">
            <ion-label><strong>Cobro por el pedido:</strong>${{totalPrice | number}}</ion-label>
          </ion-item>
          <ion-item class="ion-item-checkout">
            <ion-label><strong>Cobro por el delivery:</strong>${{costDeliverIva | number}}</ion-label>
          </ion-item>
          <ion-item class="ion-item-checkout">
            <ion-label><strong>Metodo de pago:</strong>{{orderMaster.payment}}</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12"
      class="card"
      *ngIf="orderMaster.payment === 'Transferencia'">
      <h1>Cobrar al cliente</h1>
      <ion-card class="container-user-card">
        <ion-card-content>
          <ion-item class="ion-item-checkout">
            <ion-label><strong>Cobro por el delivery:</strong>${{costDeliverIva | number}}</ion-label>
          </ion-item>
          <ion-item class="ion-item-checkout">
            <ion-label><strong>Metodo de pago:</strong>{{orderMaster.payment}}</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row class="container-btn">
    <ion-button class="btn"
      (click)="seeDeatilOrder()"> Ver detalle </ion-button>
  </ion-row>
  <ion-row class="container-btn"
    *ngIf="orderMaster.status === 'listo'">
    <ion-button class="btn"
      (click)="acceptOrder()"> Aceptar pedido </ion-button>
  </ion-row>

  <ion-row class="container-btn"
    *ngIf="orderMaster.status === 'encamino'">
    <ion-button class="btn"
      (click)="seeLocation()"> Ver ubicación </ion-button>
  </ion-row>
</ion-content>