.card {
  .name-order {
    margin-left: 20px;
    text-align: left;
  }
}

.color-order {
  color: var(--ion-color-primary);
}

.container-btn {
  .btn {
    width: 90%;
  }
}

.card {
  h2 {
    margin-left: 20px;
  }
}

.whatsapp {
  display: block;
  border-radius: 20px;
  background-color: #25d366;
  color: #fff;
  text-align: center;
  font-size: 30px;
}
