<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Buscar productos </ion-title>
    <ion-icon (click)="closeModal()" slot="start" name="close-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-searchbar
  *ngIf="module !== 'publications'"
  placeholder="Buscar producto por nombre"
  inputmode="text"
  (ionChange)="onSearchChange($event)"
  [debounce]="250"
  mode="md"
  animated
></ion-searchbar>

<ion-searchbar
  *ngIf="module === 'publications'"
  placeholder="Buscar empleo por nombre"
  inputmode="text"
  (ionChange)="onSearchChange($event)"
  [debounce]="250"
  mode="md"
  animated
></ion-searchbar>

<ion-content [scrollEvents]="true">
  <div *ngIf="module === 'online-store'">
    <div *ngIf="searchText === ''">
      <app-product-online-card
        (click)="closeModal()"
        *ngFor="let publication of publicationsArray"
        [product]="publication"
      ></app-product-online-card>
    </div>

    <div *ngIf="searchText !== ''">
      <app-product-online-card
        (click)="closeModal()"
        *ngFor="let publication of totalPublications | filtro: searchText:'name'"
        [product]="publication"
      ></app-product-online-card>
    </div>
  </div>

  <div *ngIf="module === 'marketplaces'">
    <div *ngIf="searchText === ''">
      <app-product-marketplaces
        (click)="closeModal()"
        *ngFor="let publication of publicationsArray"
        [product]="publication"
      ></app-product-marketplaces>
    </div>

    <div *ngIf="searchText !== ''">
      <app-product-marketplaces
        (click)="closeModal()"
        *ngFor="let publication of totalPublications | filtro: searchText:'name'"
        [product]="publication"
      ></app-product-marketplaces>
    </div>
  </div>

  <div *ngIf="module === 'publications'">
    <div *ngIf="searchText === ''">
      <app-job-card
        (click)="closeModal()"
        *ngFor="let publication of publicationsArray"
        [publication]="publication"
      ></app-job-card>
    </div>

    <div *ngIf="searchText !== ''">
      <app-job-card
        (click)="closeModal()"
        *ngFor="let publication of totalPublications | filtro: searchText:'name'"
        [publication]="publication"
      ></app-job-card>
    </div>
  </div>

  <ion-infinite-scroll threshold="20px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="circles" loadingText="Cargando mas productos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
