<app-secondary-header name="Bienvenido Administrador"
  url="/home"></app-secondary-header>

<ion-content>
  <ion-item class="item-title sticky"
    color="primary">
    <ion-label> Gestionar Usuarios </ion-label>
    <ion-icon slot="end"
      name="person"></ion-icon>
  </ion-item>
  <ion-row>
    <ion-col size="6">
      <app-panel-card image="../../../../assets/images/users.png"
        name="Usuarios"
        url="user"></app-panel-card>
    </ion-col>
    <ion-col size="6">
      <app-panel-card image="../../../../assets/images/motorizedAdmin.png"
        name="Motorizados"
        url="home/panel-admin/motorized-monitore"></app-panel-card>
    </ion-col>
  </ion-row>

  <ion-item class="sticky"
    color="primary">
    <ion-label> Gestionar Tienda Online </ion-label>
    <ion-icon slot="end"
      name="cart"></ion-icon>
  </ion-item>

  <ion-row>
    <ion-col size="6">
      <app-panel-card image="../../../../assets/images/products.png"
        name="Categoría de productos"
        url="home/panel-admin/categories-onlinestore"></app-panel-card>
    </ion-col>

    <ion-col size="6">
      <app-panel-card image="../../../../assets/images/see-products.png"
        name="Ver productos"
        url="home/panel-admin/see-products-online"></app-panel-card>
    </ion-col>
    <ion-col size="6">
      <app-panel-card image="../../../../assets/images/suscriptions-request.png"
        name="Solicitudes de Suscripciónes"
        url="home/panel-admin/subscription-request"></app-panel-card>
    </ion-col>
    <ion-col size="6">
      <app-panel-card image="../../../../assets/images/suscription-history.png"
        name="Historial  de Suscripciónes"
        url="home/panel-admin/subscription-history"></app-panel-card>
    </ion-col>
  </ion-row>
  <ion-item class="sticky"
    color="primary">
    <ion-label> Gestionar Bolsa del Empleo </ion-label>
    <ion-icon name="briefcase"></ion-icon>
  </ion-item>

  <ion-row>
    <ion-col size="6">
      <app-panel-card image="../../../../assets/images/products.png"
        name="Categoría de Empleos"
        url="home/panel-admin/category-jobs"></app-panel-card>
    </ion-col>

    <ion-col size="6">
      <app-panel-card image="../../../../assets/images/see-products.png"
        name="Ver publicaciones"
        url="home/panel-admin/see-postulations-jobs"></app-panel-card>
    </ion-col>
    <ion-col size="6">
      <app-panel-card image="../../../../assets/images/suscriptions-request.png"
        name="Solicitudes de Suscripciónes"
        url="home/panel-admin/subscription-request-jobs"></app-panel-card>
    </ion-col>
    <ion-col size="6">
      <app-panel-card image="../../../../assets/images/suscription-history.png"
        name="Historial  de Suscripciónes"
        url="home/panel-admin/subscription-history-jobs"></app-panel-card>
    </ion-col>
  </ion-row>
  <ion-item class="sticky"
    color="primary">
    <ion-label> Gestionar Delivery </ion-label>
    <ion-icon name="storefront"></ion-icon>
  </ion-item>

  <ion-row>
    <ion-col>
      <app-panel-card image="../../../../assets/images/see-products-delivery.png"
        name="Ver productos"
        url="home/panel-admin/see-products-delivery"></app-panel-card>
    </ion-col>
    <ion-col>
      <app-panel-card image="../../../../assets/images/restaurant_category.png"
        name="Ver categorías de Delivery"
        url="home/panel-admin/restaurant-category"></app-panel-card>
    </ion-col>
  </ion-row>

  <ion-item class="sticky"
    color="primary">
    <ion-label> Gestionar Marketplace </ion-label>
    <ion-icon name="bag"></ion-icon>
  </ion-item>

  <ion-row>
    <ion-col size="6">
      <app-panel-card image="../../../../assets/images/products.png"
        name="Categoría de productos"
        url="home/panel-admin/categories-onlinestore"></app-panel-card>
    </ion-col>
    <ion-col size="6">
      <app-panel-card image="../../../../assets/images/see-products.png"
        name="Ver productos"
        url="home/panel-admin/see-products-marketplaces"></app-panel-card>
    </ion-col>
  </ion-row>

  <ion-item color="primary">
    <ion-label> Parametros </ion-label>
    <ion-icon name="bar-chart"></ion-icon>
  </ion-item>

  <ion-row>
    <ion-col size="6">
      <app-panel-card image="../../../../assets/images/banner.png"
        name="Banners"
        url="home/panel-admin/advertising-banners"></app-panel-card>
    </ion-col>
    <ion-col size="6">
      <app-panel-card image="../../../../assets/images/Subscripciones.png"
        name="Crear suscripciones"
        url="home/panel-admin/subscription-generated"></app-panel-card>
    </ion-col>
    <ion-col size="6">
      <app-panel-card image="../../../../assets/images/Parameters.png"
        name="Parámetros de envío"
        url="home/panel-admin/shipping-parameters"></app-panel-card>
    </ion-col>

    <ion-col size="6">
      <app-panel-card image="../../../../assets/images/bank.png"
        name="Datos Bancarios"
        url="home/panel-admin/bank-account"></app-panel-card>
    </ion-col>

    <ion-col size="6">
      <app-panel-card image="../../../../assets/images/terms.png"
        name="Términos y condiciones "
        url="home/panel-admin/terms"></app-panel-card>
    </ion-col>
  </ion-row>
</ion-content>
