<app-secondary-header
  name="Monitoreo de Motorizados"
  url="/home/panel-admin/"
  [info]="true"
  infoMessage="En esta sección podrá ver todos sus motorizados y su ubicación en el mapa."
></app-secondary-header>

<ion-content>
  <div #motorizedmonitoreo id="motorizedmonitoreo"></div>
  <div class="ion-text-center">
    <h2>Lista de Motorizados</h2>
  </div>
  <ion-fab
    vertical="bottom"
    (click)="ionViewWillEnter()"
    horizontal="end"
    class="btn-float"
    slot="fixed"
  >
    <ion-fab-button>
      <ion-icon name="location"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <app-user-card
    *ngFor="let user of users | filtro:searchText:'name'"
    [user]="user"
    (click)="redirectUserDetail(user.userId)"
  ></app-user-card>
</ion-content>
