<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons *ngIf="role === 'administrator'" slot="end">
      <ion-button (click)="navigate()">
        <ion-icon src="../../../../assets/images/admin.svg"> </ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons *ngIf="role === 'delivery'" slot="end">
      <ion-button (click)="navigate()">
        <ion-icon slot="icon-only" name="storefront-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons *ngIf="role === 'motorized'" slot="end">
      <ion-button (click)="navigateToHistory()">
        <ion-icon name="time-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons *ngIf="role === 'business'" slot="end">
      <ion-button (click)="navigateToPanelBussines()">
        <ion-icon name="business-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-row>
      <img src="assets/images/ruahLetters.png" alt="" />
    </ion-row>
    <ion-buttons slot="end">
      <ion-button *ngIf="role === 'administrator'" (click)="goToChatList()">
        <ion-icon name="chatbubbles-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="role != 'administrator'" (click)="goToChat()">
        <ion-icon name="chatbubbles-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
