<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button class="label"
      mode="md"
      text="Verificar Dirección"
      slot="start"
      defaultHref="/home">
    </ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="container-inputs">

    <ion-label class="label ion-text-uppercase"
      position="stacked">DIRECCIÓN</ion-label>
    <ion-item>
      <ion-input name="user"
        type="text"
        [(ngModel)]="marker.title"></ion-input>
    </ion-item>
  </div>
  <div class="container-inputs">
    <ion-label class="label ion-text-uppercase"
      position="stacked">Referencia</ion-label>
    <ion-item>
      <ion-input placeholder="Número, Color de casa o cercanía"
        name="user"
        (ionBlur)="onBlur($event)"
        type="text"
        [(ngModel)]="obsevation"></ion-input>
    </ion-item>
  </div>
  <ion-fab vertical="bottom"
    (click)="loadmap()"
    horizontal="end"
    class="btn-float"
    slot="fixed">
    <ion-fab-button>
      <ion-icon name="location"></ion-icon>
    </ion-fab-button>


  </ion-fab>
  <div class="map-wrapper"
    style="height: 100%">
    <div id="map_center">
      <ion-icon name="location"
        size="large"
        color="danger"></ion-icon>
    </div>
    <div #checkmap
      id="checkmap"></div>

    <ion-row class="container-btn">
      <ion-button class="btn"
        (click)="setLocation()"> Continuar </ion-button>
    </ion-row>
  </div>
</ion-content>