 //Estilo de mapa
 #checkmap {
    width: 100%;
    height: 50%;
    opacity: 0;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.288);
    transition: opacity 150ms ease-in;
    display: block;
    &.show-map{
      opacity: 1;
    }
  }
  .map-wrapper {
    position: relative;
    #map_center {
      position: absolute;
      z-index: 99;
      height: 40px;
      width: 40px;
      top: 25%;
      left: 50%;
      margin-left: -15px;
      margin-top: -28px;
    }
  }
  .container-btn{
margin-top: 10px;
  }