.container-img {
  display: flex;
  justify-content: center;
}

p {
  margin: 10px 0px;
}

ion-icon {
  color: rgba($color: #000000, $alpha: 0.2);
  font-size: 18px;
}


ion-row {
  margin-bottom: 5%;
  padding: 0px 20px;
}


.date {
  display: flex;
  justify-content: flex-end;
}

.yellow {
  color: yellow;
}


.color-primary {
  color: var(--ion-color-primary);
}

.nro-order {
  font-weight: bold;
}
