<app-secondary-header
  name="Reseñas de {{user?.name}}"
  url="/datail-user/{{userId}}"
></app-secondary-header>

<ion-row *ngIf="loading === false">
  <ion-col size="12">
    <p class="nro-order">
      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
    </p>
  </ion-col>
  <ion-col size="3" class="container-img">
    <ion-avatar>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </ion-avatar>
  </ion-col>
  <ion-col size="6">
    <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    <span>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </span>
  </ion-col>

  <ion-col size="3" class="date">
    <ion-skeleton-text animated style="height: 20%"></ion-skeleton-text>
  </ion-col>
  <ion-col size="3"> </ion-col>
  <ion-col size="9">
    <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
  </ion-col>
</ion-row>
<ion-row *ngIf="loading === false">
  <ion-col size="12">
    <p class="nro-order">
      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
    </p>
  </ion-col>
  <ion-col size="3" class="container-img">
    <ion-avatar>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </ion-avatar>
  </ion-col>
  <ion-col size="6">
    <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    <span>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </span>
  </ion-col>

  <ion-col size="3" class="date">
    <ion-skeleton-text animated style="height: 20%"></ion-skeleton-text>
  </ion-col>
  <ion-col size="3"> </ion-col>
  <ion-col size="9">
    <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
  </ion-col>
</ion-row>
<ion-row *ngIf="loading === false">
  <ion-col size="12">
    <p class="nro-order">
      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
    </p>
  </ion-col>
  <ion-col size="3" class="container-img">
    <ion-avatar>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </ion-avatar>
  </ion-col>
  <ion-col size="6">
    <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    <span>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </span>
  </ion-col>

  <ion-col size="3" class="date">
    <ion-skeleton-text animated style="height: 20%"></ion-skeleton-text>
  </ion-col>
  <ion-col size="3"> </ion-col>
  <ion-col size="9">
    <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
  </ion-col>
</ion-row>
<ion-row *ngIf="loading === false">
  <ion-col size="12">
    <p class="nro-order">
      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
    </p>
  </ion-col>
  <ion-col size="3" class="container-img">
    <ion-avatar>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </ion-avatar>
  </ion-col>
  <ion-col size="6">
    <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    <span>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </span>
  </ion-col>

  <ion-col size="3" class="date">
    <ion-skeleton-text animated style="height: 20%"></ion-skeleton-text>
  </ion-col>
  <ion-col size="3"> </ion-col>
  <ion-col size="9">
    <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
  </ion-col>
</ion-row>
<ion-content>
  <ion-row *ngFor="let rating of ratings">
    <ion-col size="12">
      <p class="nro-order">
        Nro de orden: <span class="color-primary">#{{rating.orderMaster?.nroOrder}}</span>
      </p>
    </ion-col>
    <ion-col size="3" class="container-img">
      <ion-avatar>
        <img src="{{rating.orderMaster?.client.image}}" />
      </ion-avatar>
    </ion-col>
    <ion-col size="6">
      <p>{{rating.orderMaster?.client.name}}</p>
      <span *ngFor="let start of fillStars(rating?.score)">
        <ion-icon name="star" *ngIf="start === true" class="yellow"></ion-icon>
        <ion-icon name="star" *ngIf="start !== true"></ion-icon>
      </span>
    </ion-col>

    <ion-col size="3" class="date">
      <p>{{rating.createAt.toDate() | date: 'dd/MM/yyyy' }}</p>
    </ion-col>
    <ion-col size="3"> </ion-col>
    <ion-col size="9">
      <p>{{rating.commentary}}</p>
    </ion-col>
  </ion-row>

  <div *ngIf="ratings?.length === 0 && loading === true">
    <ion-row class="container-msg">
      <img src="../../../../assets/images/no-subscriptions.png" alt="" />
      <div class="container-info">
        <h1>No hay niguna reseña para {{user?.name}}</h1>
      </div>
    </ion-row>
  </div>
</ion-content>
