/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.input-error {
  color: var(--ion-color-danger);
  font-size: 14px;
}

.ion-item-error {
  --border-color: var(--ion-color-danger);
}

.display-flex {
  display: flex;
}

ion-toolbar {
  backdrop-filter: blur(8px);
  --padding-start: 3%;
  --padding-end: 5%;

  ion-icon {
    font-size: 28px;
    margin-left: 4%;
  }


}

.container-title-home {
  margin-left: 4%;

  p {
    margin: 8px 0px 0px 0px;
  }

  h1 {
    font-weight: bold;
    font-size: 22px;
    line-height: 21px;
  }

  h1,
  p {
    color: #5A5A5A;
  }
}


/* Estilos para los paneles  */
.item-title {
  color: white;

  ion-icon {
    color: white;
  }
}

/* Estilos de los botones  */

/* Estilo del boton */
.container-btn {
  display: flex;
  justify-content: center;
}

.btn {
  --background: var(--ion-color-primary);
  --box-shadow: 0px 3px 3px rgba($color: #000000, $alpha: 0.3);
  --border-radius: 10px;
  width: 90%;
  height: 50px;
  font-size: 12px;
}

/* Estilo del modal para modificar el horario */

.modal-Schedule .modal-wrapper {
  height: 40%;
  top: 60%;
  width: 100%;
  position: absolute;
  display: block;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);
  border-radius: 14px 14px 0px 0px;
}

/* Estlos del input de subir imagenes */
#file-input {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 999;
}

/* Estilo de agregar iconos en cruds */
.container-icon-circle {
  p {
    opacity: 0.4;
  }

  margin-bottom: 5%;

  .icon-circle {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: flex;
    background-color: var(--ion-color-primary);
    justify-content: center;
    align-items: center;

    ion-icon {
      color: white;
      font-size: 20px;
    }
  }
}

/* Estilos de los inputs de la app */
.container-inputs {
  margin-bottom: 0%;
  padding: 8px;

  ion-item {
    --background: #f2f2f2;
    border: 0.5px solid #d5dde0;
    border-radius: 15px;
    margin-top: 3%;
    width: 100%;
  }
}

/* Estilos de los select */
.container-select {
  padding: 5px;

  ion-label {
    padding: 10px;
    display: block;
  }

  ion-item {
    --background: #f2f2f2;
    --border-radius: 15px;
    --color: var(--ion-color-primary);
    --border-color: #d5dde0;
    --border-style: solid;

    ion-select {
      width: 100%;
    }
  }
}

/* Label para los inputs */
.label {
  color: #3e4958;
  font-size: 14px;
  opacity: 0.8;
  font-weight: bold;
  padding-left: 10px;
}

/* estilos de subir imagen */
.container-crud-img {
  display: flex;
  justify-content: center;
  margin-top: 10%;

  .crud-img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: var(--ion-color-primary);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-button {
      margin-top: 60px;
    }
  }
}

.container-btn-card {
  ion-button {
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
  }
}

.cruds-cart {
  ion-card-content {
    p {
      color: black;
      margin-bottom: 8px;
    }
  }
}


.container-delivery-card {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* CSS PARA LOS DETALLES DE LOS PEDIDOS DE DELIVERY */

.card {
  h1 {
    font-weight: 600;
    margin-left: 20px;
  }

  .container-user-card {
    display: flex;
    border-radius: 20px;
    color: black;

    ion-card-content {
      width: 100%;

      ion-label {
        display: block;
        margin-top: 4px;
      }
    }
  }
}

/* Estilos del contenedor del input-file */
.input-file-vocuher-container {
  position: relative;
  background: #efeeee;
  padding-left: 30px;
  height: 40px;
  border-radius: 30px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  ion-icon {
    background: #0b0071;
    color: white;
    font-size: 30px;
    border-radius: 100%;
    margin-right: 10px;
  }

  ion-text {
    color: rgba($color: #000000, $alpha: 0.5);
  }
}

/* Estilos del input-file */
.input-file {
  position: absolute;
  opacity: 0;
}

.icon {
  padding: 10px;
  border-radius: 10px;
  color: white;
  margin-left: 10px;
  margin-right: 30px;
}

.orange-color {
  background-color: #f47b0a;
}

.pink-color {
  background-color: #eb4796;
}

.blue-color {
  background-color: #0038ff;
}

.container-img-voucher {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;

  .img-voucher {
    border-radius: 5px;
    width: 300px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.container-status {
  display: flex;
  align-items: center;
}

.ion-item-checkout {
  margin-bottom: 5%;
}

.container-address {
  align-items: center;

  h1 {
    font-weight: 600;
    margin-left: 20px;
  }
}

.container-msg {
  display: flex;
  justify-content: center;

  img {
    width: 80%;
  }

  .container-info {
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    p {
      text-align: center;
      font-size: 15px;
      line-height: 14px;
      margin-top: 2px;
      margin-bottom: 10%;

    }

    h1 {
      font-size: 20px;
      font-weight: 780;
      text-align: center;
      color: var(--ion-color-primary);
    }

  }

}

.error {
  color: tomato;
  font-size: 12px;
  margin-left: 16px;
}

.container-delivery-card {
  ion-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  img {
    width: 230px;
  }
}

.msg {
  font-weight: bold;
  text-align: center;
  color: var(--ion-color-primary);
}


.main {
  background-color: white;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.sticky {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
}

/*
.md ion-searchbar {
  --background: #eaeaea;
  --border-radius: 8px;
  --box-shadow: none;
  --color: #525252;
  --icon-color: #696969;
  font-size: 17px;

} */

.md ion-searchbar,
.ios ion-searchbar {

  --background: #F5F5F5;
  --border-radius: 10px;
  --box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 8px 4%;
}

ckeditor {
  -webkit-user-select: text;
  user-select: text
}




.info-message-modal .modal-wrapper {
  width: 80%;
  height: 45%;
  border-radius: 5%;
}
