<app-secondary-header
  name="Cuenta bancaria"
  url="/home/panel-delivery"
  [info]="true"
  infoMessage="En esta sección podrá modificar su horario de atención."
></app-secondary-header>

<ion-content>
  <ion-row class="hours" *ngFor="let day of days">
    <ion-col size="3">
      <p>{{day | uppercase}}</p>
    </ion-col>
    <ion-col size="5" *ngIf="schedule[day].closed === false" class="container-attention">
      <p>Apertura:{{schedule[day].opening | date:'shortTime'}}</p>
      <p>Cierre:{{schedule[day].closing | date:'shortTime'}}</p>
    </ion-col>
    <ion-col *ngIf="schedule[day].closed === true" size="5">
      <p>Cerrado</p>
    </ion-col>
    <ion-col size="4" class="container-icon">
      <ion-button (click)="setSchedule(day,schedule[day].opening,schedule[day].closing)">
        Editar
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="container-btn">
    <ion-col size="10">
      <ion-button class="btn" (click)="addSchedule()"> Guardar</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
