/* Estilos del horario */
.hours {
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5%;

  ion-col {
    display: flex;
    justify-content: center;
  }
}

/* Estilos de los iconos de editar */
.container-icon {
  .icon-circle {
    background: var(--ion-color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 40px;
    height: 40px;

    ion-icon {
      color: white;
      font-size: 20px;
    }
  }
}

.container-attention {
  display: flex;
  flex-direction: column;
  align-items: center;

}
