<ion-menu side="start" autoHide="true" menuId="main-menu" content-id="main">
  <ion-header>
    <ion-toolbar color="primary" (click)="toggleMenu()">
      <ion-icon (click)="toggleMenu()" slot="start" name="menu-outline"></ion-icon>
      <ion-title>Ruah</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item lines="none" (click)="onNavagate(option)" *ngFor="let option of menuOptionsFilter">
        <ion-icon name="{{ option.icon }}" slot="start" *ngIf="option.isIcon"></ion-icon>
        <img
          *ngIf="!option.isIcon"
          class="img-icon"
          src="{{ option.icon }}"
          slot="start"
          alt="{{ option.title }}"
        />
        <ion-label>{{ option.title }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
