<ion-slides [options]="slideOpts"
  *ngIf="!quantityAdvertisingBanners">
  <ion-slide>
    <h1>No hay anuncios hasta el momento!</h1>
  </ion-slide>
</ion-slides>
<ion-slides pager="true"
  [options]="slideOpts"
  *ngIf="quantityAdvertisingBanners">
  <ion-slide *ngFor="let advertisingBanner of advertisingBanners | async">
    <ion-card [ngStyle]="{ 'background-image': 'url(' + advertisingBanner.image + ')' }">
      <ion-card-content class="ion-text-capitalize"> </ion-card-content>
    </ion-card>
  </ion-slide>
</ion-slides>