ion-card {
  overflow: unset !important;
  height: 160px;
  width: 92%;
  margin-top: 20px;
  border-radius: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.slide-image {
  width: 100%;
  height: 100%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

ion-card-content {
  position: relative;
  top: -45px;
}
