<app-secondary-header
  name="Mis suscripciones-BE"
  url="/home/home-store/panel-store"
  [info]="true"
  infoMessage="En esta sección podrá ver sus sucripciones de bolsa de empleo."
></app-secondary-header>

<ion-row>
  <ion-searchbar
    placeholder="Filtrar suscripción por estado"
    inpudtmode="text"
    type="decimal"
    (ionChange)="onSearchChange($event)"
    [debounce]="250"
    mode="md"
    animated
  ></ion-searchbar>
</ion-row>

<ion-content>
  <div *ngIf="orderSubscriptions?.length === 0">
    <ion-row class="container-msg">
      <img src="../../../../assets/images/no-subscriptions.png" alt="" />
      <div class="container-info">
        <h1>Aun no adquiere ninguna suscripción</h1>
      </div>
      <ion-button (click)=" goToViewSuscriptions()" class="btn">
        Adquirir una suscripción</ion-button
      >
    </ion-row>
  </div>

  <app-request-subscription-card
    *ngFor="let data of orderSubscriptions | filtro:searchText:'status'"
    [data]="data"
  ></app-request-subscription-card>
</ion-content>

<ion-footer class="ion-no-border" *ngIf="orderSubscriptions?.length !== 0">
  <ion-toolbar>
    <ion-title><strong>Publicaciones:{{numberPublicationsJobs }}/{{balance}}</strong></ion-title>
  </ion-toolbar>
</ion-footer>
