<ion-card>
  <ion-card-header>
    <ion-card-subtitle>{{ name }}</ion-card-subtitle>
    <ion-card-title>{{ module }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    {{ description }}
    <ion-note>{{ status }}</ion-note>
  </ion-card-content>
  <ion-button expand="block" shape="round"> Actualizar </ion-button>
  <ion-button (click)="delete(advertisementId)" expand="block" shape="round"> Eliminar </ion-button>
</ion-card>
