<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/home/home-marketplace"></ion-back-button>

    <ion-title>Subastas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar
    placeholder="Filtrar producto por nombre"
    inpudtmode="text"
    type="decimal"
    (ionChange)="onSearchChange($event)"
    [debounce]="250"
    mode="md"
    animated
  ></ion-searchbar>
  <div *ngFor="let data of auctionList  | filtro:searchText:'name'">
    <ion-card class="cruds-cart">
      <ion-card-header>
        <ion-img src="{{data.product.image}}"></ion-img>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Nombre: </strong>:{{data.product.name}}</p>
        <p><strong>Precio: </strong>:${{data.product.price}}</p>
        <p><strong>Categoría: </strong>{{data.product.category}}</p>
        <p><strong>Tipo de venta: </strong>{{data.product.description }}</p>
        <p><strong>Descripción: </strong>{{data.product.typeOfSale }}</p>
        <!--  <p *ngIf="data.typeOfSale=='Subasta'"><strong>Fecha de inico: </strong>{{data.dateStart   | date:'dd/mm/yyy' }}
        </p>
        <p *ngIf="data.typeOfSale=='Subasta'"><strong>Fecha de fin: </strong>{{data.dateEnd  | date:'dd/mm/yyy'}}</p> -->
        <p *ngIf="data.isActive=='true'"><strong>Estado: </strong>Público</p>
        <p *ngIf="data.isActive=='false'"><strong>Estado: </strong>Oculto</p>
        <ion-col size="6" class="container-btn-card">
          <ion-button class="btn" (click)="goToAution(data.product.uid)"> Ver Subasta </ion-button>
        </ion-col>

        <ion-col size="6" class="container-btn-card">
          <ion-button class="btn" (click)="redirectToAuctionChat(data.product.userId)">
            <ion-icon name="chatbubble-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
