<app-secondary-header
  name="Cuenta bancaria"
  *ngIf="user?.role === 'delivery'"
  url="/home/panel-delivery"
  [info]="true"
  infoMessage="En esta sección podrá ingresar su cuenta bancaria para que sus clientes puedan depositar en ella."
></app-secondary-header>

<app-secondary-header
  *ngIf="user?.role === 'administrator'"
  name="Cuenta bancaria"
  url="/home/panel-admin/"
  [info]="true"
  infoMessage="En esta sección podrá ingresar su cuenta bancaria para que sus clientes puedan depositar en ella."
></app-secondary-header>

<app-secondary-header
  *ngIf="user?.role === 'business'"
  name="Cuenta bancaria"
  url="home/home-store/panel-store"
  [info]="true"
  infoMessage="En esta sección podrá ingresar su cuenta bancaria para que sus clientes puedan depositar en ella."
></app-secondary-header>
<ion-content class="ion-padding">
  <form [formGroup]="form" (onSubmit)="add()">
    <div class="container-inputs">
      <ion-label class="label ion-text-uppercase" position="stacked">Nombre del banco:</ion-label>
      <ion-item>
        <ion-input name="user" type="text" formControlName="nameBank"></ion-input>
      </ion-item>
    </div>

    <div class="error" *ngIf="form.controls.nameBank.errors && form.controls.nameBank.touched">
      El campo nombre del banco es requerido.
    </div>

    <div class="container-inputs">
      <ion-label class="label ion-text-uppercase" position="stacked"
        >Nombre del propietario:</ion-label
      >
      <ion-item>
        <ion-input name="user" type="text" formControlName="ownerName"></ion-input>
      </ion-item>
    </div>

    <div class="error" *ngIf="form.controls.ownerName.errors && form.controls.ownerName.touched">
      El campo nombre del propietario es requerido.
    </div>

    <div class="container-inputs">
      <ion-label class="label ion-text-uppercase" position="stacked">Numero de cuenta:</ion-label>
      <ion-item>
        <ion-input name="user" type="number" formControlName="accountNumber"></ion-input>
      </ion-item>
    </div>

    <div
      class="error"
      *ngIf="form.controls.accountNumber.errors && form.controls.accountNumber.touched"
    >
      El campo numero de cuenta es requerido.
    </div>

    <div class="container-inputs">
      <ion-label class="label ion-text-uppercase" position="stacked">Correo electrónico:</ion-label>
      <ion-item>
        <ion-input name="user" type="text" formControlName="accountOwnerEmail"></ion-input>
      </ion-item>
    </div>

    <div
      class="error"
      *ngIf="form.controls.accountOwnerEmail.errors?.required && form.controls.accountOwnerEmail.touched"
    >
      El campo correo electrónico es requerido.
    </div>

    <div
      class="error"
      *ngIf="form.controls.accountOwnerEmail.errors?.pattern && form.controls.accountOwnerEmail.touched"
    >
      El correo electrónico ingresado no es válido.
    </div>

    <div class="container-select">
      <ion-label class="label ion-text-uppercase">Tipo de cuenta:</ion-label>
      <ion-item>
        <ion-select
          name="gender"
          formControlName="accountType"
          cancelText="Cancelar"
          name="role"
          value="client"
          okText="Aceptar"
        >
          <ion-select-option value="Cuenta corriente">Cuenta corriente</ion-select-option>
          <ion-select-option value="Cuenta de ahorros">Cuenta de ahorros</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <div
      class="error"
      *ngIf="form.controls.accountType.errors && form.controls.accountType.touched"
    >
      El campo tipo de cuenta es requerido.
    </div>

    <ion-row class="container-btn">
      <ion-button (click)="add()" class="btn" expand="block" shape="round" [disabled]="!form.valid">
        Guardar
      </ion-button>
    </ion-row>
  </form>

  <app-bank-account-card
    *ngFor="let bankAccount of bankAccounts | async"
    [bankAccountId]="bankAccount.bankAccountId"
    [nameBank]="bankAccount.nameBank"
    [ownerName]="bankAccount.ownerName"
    [accountNumber]="bankAccount.accountNumber"
    [accountOwnerEmail]="bankAccount.accountOwnerEmail"
    [accountType]="bankAccount.accountType"
  ></app-bank-account-card>
</ion-content>
