.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
}


.container-info {
  display: flex;
  flex-direction: column;

  h1 {
    margin: 10px 0px;
    font-weight: bold;
  }

  ion-label {
    margin-bottom: 4%;
  }
}

.container-motorized {
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
  padding-bottom: 20px;
}

ion-avatar {
  --border-radius: 50%;
}

h2 {
  font-weight: bold;
  margin-left: 5%;
}


.rating {

  ion-col {
    display: flex;
    justify-content: space-around;

    ion-icon {
      font-size: 45px;
    }
  }
}


ion-item {
  ion-textarea {
    border: 1px solid rgba($color: #000000, $alpha: 0.5);
    border-radius: 10px;
  }
}

.yellow-star {
  color: yellow;
}

.gray-star {
  color: rgba($color: #000000, $alpha: 0.2);
}
