<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Danos tu opinion</ion-title>
    <ion-icon slot="start" name="arrow-back-outline" (click)="closeModal()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (onSubmit)="addRating()">
    <ion-row class="container-motorized">
      <ion-col size="5" class="container-img">
        <ion-avatar>
          <img src="{{ orderMaster.motorized.image }}" />
        </ion-avatar>
      </ion-col>
      <ion-col size="7" class="container-info">
        <h1>{{ orderMaster.motorized.name }}</h1>
        <ion-label><strong>Teléfono:</strong>{{ orderMaster.motorized.phoneNumber }}</ion-label>

        <ion-label
          ><strong>Cédula:</strong>{{ orderMaster.motorized.identificationDocument }}</ion-label
        >

        <ion-label><strong>Email:</strong>{{ orderMaster.motorized.email }}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="rating">
      <h2>Califica nuestro servicio</h2>
      <ion-col size="12">
        <ion-icon class="gray-star" (click)="addClass(1)" #star1 name="star"></ion-icon>
        <ion-icon class="gray-star" (click)="addClass(2)" #star2 name="star"></ion-icon>
        <ion-icon class="gray-star" (click)="addClass(3)" #star3 name="star"></ion-icon>
        <ion-icon class="gray-star" (click)="addClass(4)" #star4 name="star"></ion-icon>
        <ion-icon class="gray-star" (click)="addClass(5)" #star5 name="star"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <h2>Escribe tu comentario</h2>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-textarea
            formControlName="commentary"
            required
            rows="14"
            ngDefaultControl
            autoGrow="true"
            placeholder="Escribe tu comentario aquí..."
          ></ion-textarea>
        </ion-item>
        <div
          class="error"
          *ngIf="form.controls.commentary.errors && form.controls.commentary.touched"
        >
          El campo nombre es requerido.
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="container-btn">
      <ion-button (click)="addRating()" class="btn"> Calificar </ion-button>
    </ion-row>
    <ion-row class="container-btn">
      <ion-button (click)="cancelRating()" class="btn"> No quiero calificar </ion-button>
    </ion-row>
  </form>
</ion-content>
