<ion-row>
  <ion-col class="container-close-icon">
    <ion-icon name="close-outline" (click)="closeModal()"></ion-icon>
  </ion-col>
</ion-row>

<ion-row class="container-all-info">
  <ion-col size="12" class="container-info-image">
    <ion-avatar>
      <img src="../../../../assets/images/image-info-modal.png" alt="Imagen de información" />
    </ion-avatar>
  </ion-col>

  <ion-col size="12" class="container-text">
    <p>{{ infoDescription }}</p>
  </ion-col>
</ion-row>
