.container-all-info {
  height: 100%;
  justify-content: center;


  .container-info-image {
    display: flex;
    justify-content: center;
    align-items: center;

    ion-avatar {
      width: 160px;
      height: 160px;
    }

  }


  .container-text {
    padding: 0px 10px;

    p {
      text-align: center;
      font-weight: 540;
      font-size: 17px;
    }
  }
}


.container-close-icon {
  display: flex;
  justify-content: flex-end;

  ion-icon {
    font-size: 30px;
    margin-right: 5px;
    font-weight: bold;
  }
}


@media (max-width: 320px) {
  .container-all-info {
    .container-info-image {
      ion-avatar {
        width: 120px;
        height: 120px;
      }

    }

    .container-text {


      p {

        font-size: 15px;
      }
    }
  }
}
