<app-secondary-header
  name="Usuarios"
  url="/home/panel-admin/"
  [info]="true"
  infoMessage="En esta sección podrá ver todos los usuarios de la aplicación."
></app-secondary-header>

<ion-searchbar
  placeholder="Buscar usuario por nombre"
  inputmode="text"
  (ionChange)="onSearchChange($event)"
  [debounce]="250"
  mode="md"
  animated
></ion-searchbar>

<!-- <ion-slides [options]="categoryConfig">
  <ion-slide *ngFor="let role of usersType">
    <ion-card (click)="setRoleSelected(role)" fill="clear">
      <span *ngIf="role == roleSelected" class="color-select">{{ role }}</span>
      <span *ngIf="role != roleSelected">{{ role }}</span>
    </ion-card>
  </ion-slide>
</ion-slides> -->

<app-category-slide
  [options]="usersType"
  (valueResponse)="setRoleSelected($event)"
  [categoryTitle]="roleSelected"
  users="true"
>
</app-category-slide>

<ion-content>
  <app-user-card
    *ngFor="let user of users | async | filtro:searchText:'name'"
    [user]="user"
    (click)="redirectUserDetail(user.userId)"
  ></app-user-card>
</ion-content>
