<app-secondary-header name="Panel del delivery" url="/home"></app-secondary-header>

<ion-content>
  <ion-item class="item-title" color="primary">
    <ion-label> Escoja la opción que desea realizar </ion-label>

    <ion-icon slot="end" name="storefront-outline"></ion-icon>
  </ion-item>
  <ion-row>
    <ion-col size="6">
      <app-panel-card *ngIf="(categories | async | json).length > 2"
        image="../../../../assets/images/products.png"
        name="Productos"
        url="/home/panel-delivery/product"
      ></app-panel-card>
      <app-panel-card *ngIf="(categories | async | json).length == 2"
          image="../../../../assets/images/products.png"
          name="Productos"
          (click)="presentAlert()"
        ></app-panel-card>
    </ion-col>

    <ion-col size="6">
      <app-panel-card
        image="../../../../assets/images/orders.png"
        name="Órdenes"
        url="/home/panel-delivery/list-order-delivery"
      ></app-panel-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <app-panel-card
        image="../../../../assets/images/restaurant_category.png"
        name="Categorías de productos"
        url="/home/panel-delivery/product-category"
      ></app-panel-card>
    </ion-col>

    <ion-col size="6">
      <app-panel-card
        image="../../../../assets/images/bank_data.png"
        name="Datos Bancarios"
        url="bank-account"
      ></app-panel-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <app-panel-card
        image="../../../../assets/images/schedule.png"
        name="Horarios de atención"
        url="/home/panel-delivery/attention-schedule"
      ></app-panel-card>
    </ion-col>

    <ion-col size="6">
      <app-panel-card
        image="../../../../assets/images/historical.png"
        name="Historial de ordenes"
        url="/home/panel-delivery/list-history-delivery"
      ></app-panel-card>
    </ion-col>
  </ion-row>
</ion-content>
